html,
body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
}

menu {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

body {
    margin: 0;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

img {
    border-style: none;

}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

.section__ie {
    height: 100vh;
}

.ie__wrapper {
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    padding: 12px 16px 37px 16px;
    margin: auto;
}

.ie__banner {
    margin-bottom: 30px;
}

.ie__banner--img {
    display: block;
    width: 100%;
}

.ie__action {
    max-width: 305px;
}

.ie__action {
    text-align: center;
    color: #424242;
}

.ie__title {
    margin-bottom: 25px;
    font-family: "Monserat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.ie__description {
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.ie__browsers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.ie__browsers-first {
    display: flex;
}

.ie__browsers-second {
    display: flex;
}

.ie__browsers-item {
    /*max-width: 145px;*/
    margin-bottom: 15px;
    padding-right: 15px;
}

.ie__list-img {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .ie__wrapper {
        padding: 33px;
        justify-content: center;
    }

    .ie__banner {
        margin-bottom: 50px;
    }

    .ie__action {
        max-width: 625px;
    }
}

@media only screen and (min-width: 992px) {
    .ie__wrapper {
        flex-direction: row;
    }

    .ie__banner {
        margin-right: 50px;
    }

    .ie__action {
        flex-direction: row;
    }

    .ie__action {
        text-align: left;
    }

    .ie__title {
        font-size: 40px;
        line-height: 49px;
    }

    .ie__browsers-list {
        justify-content: flex-start;
    }
}
