p {font-family:'Roboto-Regular';font-weight:400;font-style:normal;font-size:1rem}
  h1 {font-family:'Roboto-Regular';font-weight:700;font-style:normal;font-size:1.5rem}
	@font-face {
		font-family: Roboto-Regular;
		src: url('./fonts/Roboto/Roboto-Regular.woff2') format('woff2')
	}
	
  body {
		font-family: Roboto-Regular, sans-serif;
		font-weight: 400;
		font-style: normal;
	}