.flex-center {
    // align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.code-404 {
    /* border-right: 2px solid; */
    font-size: 26px;
    padding: 0 15px 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 180px 0;
    @media only screen and (max-width: 768px) {
        margin: 90px 0;
    }
}

.code-404 svg {
    width: 320px;
    height: 197px;

    @media only screen and (min-width: 768px) {
        width: 498px;
        height: 306px;
    }

    @media only screen and (min-width: 1025px) {
        width: 560px;
        height: 345px;
    }
}

.title-not-found {
    font-size: 22px;
    margin: 0 auto;
    color: $color-text;
    font-family: $montserrat-bold;

    @media only screen and (min-width: 1280px) {
        font-size: 36px;
    }
}

.description-not-found {
    font-size: 16px;
    font-family: $montserrat-bold;
    margin: 20px 0;
    color: $color-text;

    @media only screen and (min-width: 1280px) {
        font-size: 18px;
    }
}

.link-to-home-page {
    background: $color-active;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in;
    color: #fff;
    text-decoration: none;
    padding: 16px 30px;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    font-family: $roboto-bold;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in;

    &:hover {
        background: #009697;
    }
}
