.code-500 {
    height: 100vh;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }

    @media only screen and (min-width: 768px) {
        padding: 0 30px;
    }
}

.code-500__banner-img {
    display: block;
    width: 100%;
}

.code-500__title {
    font-family: $montserrat-bold;
    color: $color-text;
    font-size: 22px;
    line-height: 27px;
    margin-top: 40px;

    @media only screen and (min-width: 1280px) {
        font-size: 36px;
        line-height: 44px;
    }
}

.code-500__subtitle {
    font-family: $montserrat-bold;
    color: $color-text;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;

    @media only screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 22px;
    }
}

.code-500__button {
    display: block;
    //width: 200px;
    //height: 50px;
    background: $color-active;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15.5px 30px;

    &:hover {
        background: #009697;
    }
}

.code-500__button-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: $roboto-bold;
}
