.accordion {
    &__wrapper-item {
        border-bottom: 1px solid rgba(230, 230, 230, 0.5);
        cursor: pointer;
    }

    &__collapse {
        cursor: default;
        // max-height: 0;
        height: auto;
        overflow: hidden;
        transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
        max-height: 9999px;

        &--active {
            // max-height: 1000px;
            max-height: 0;
            transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
        }
    }

    &__content {
        padding-bottom: 10px;
        padding-top: 10px;
        @media only screen and (min-width: 1025px) {
            padding-bottom: 20px;
            padding-top: 5px;
        }
        ol {
            list-style-type: decimal;
            margin-left: 20px;
            font-family: $roboto-regular;
            font-weight: 400;
            font-size: 16px;

            @media only screen and (min-width: 768px) {
                margin-left: 60px;
            }

            @media only screen and (min-width: 1025px) {
                margin-left: 85px;
            }
        }
        li {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        p {
            margin: 5px 0;
            margin-left: 0;
            font-family: $roboto-regular;
            font-size: 16px;
            font-weight: 400;

            @media only screen and (min-width: 768px) {
                margin-left: 44px;
            }

            @media only screen and (min-width: 1025px) {
                margin-left: 62px;
            }
        }

        strong {
            text-transform: uppercase;
        }

        a {
            color: $color-active;
            text-decoration: none;
            transition: 0.3s ease-in;
            font-family: $roboto-regular;
            font-size: 16px;
            font-weight: 400;

            &:hover {
                color: #00bebf;
                text-decoration: underline;
            }
        }
    }

    &__toggle {
        display: flex;
        align-items: center;
        padding: 26px 0 26px 0;
        user-select: none;
        column-gap: 15px;

        @media only screen and (min-width: 1025px) {
            column-gap: 25px;
        }

        &--active {
        }
    }

    &__toggle-text {
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 16px;
        color: $color-text;

        @media only screen and (min-width: 1025px) {
            font-size: 22px;
        }
    }

    &__toggle-img {
        // margin-right: 25px;
        width: 30px;
        height: 30px;

        @media only screen and (min-width: 1025px) {
            width: 36px;
            height: 36px;
        }
    }

    &__toggle-image-box {
        margin-left: auto;
        display: flex;
    }

    &__toggle-image {
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-flex;
        transition: 0.3s ease-in;
        align-self: center;
        svg {
            path {
                fill: #00a3a4;
                transition: 0.3s ease-in;
            }
        }

        &--active {
            transform: rotate(180deg);
            svg {
                path {
                    fill: #d9d9d9;
                    transition: 0.3s ease-in;
                }
            }
        }
    }

    &__toggle-content {
    }

    &__commission-border {
        border: 1px solid $color-error;
        display: block;
        border-radius: 8px;
        margin-right: 16px;

        @media only screen and (min-width: 768px) {
            margin-right: 30px;
        }

        @media only screen and (min-width: 1025px) {
            margin-right: 48px;
        }
    }

    &__commission {
        color: $color-error;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 10.82px;
        padding: 8px 31px;
        display: block;

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
        }
    }
}
