@import "variables";

.actions {
    margin-bottom: 70px;
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1280px) {
        margin-bottom: 100px;
    }

    @media only screen and (min-width: 1366px) {
        padding: initial;
    }

    &__all-actions {
        // padding-bottom: 118px;
        // margin-top: 50px;
    }

    &__wrapper-card {
        padding-bottom: 0;
    }

    &__page-title {
        margin-top: 17px;

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        &--ios {
            margin-top: 17px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }

    &__card {
        margin-top: 20px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__preview-action {
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in;
        box-shadow: 0 2.76474px 23.2298px rgba(0, 0, 0, 0.04),
            0 1.56844px 13.0224px rgba(0, 0, 0, 0.04),
            0 0.850758px 6.91611px rgba(0, 0, 0, 0.03),
            0 0.362474px 2.87795px rgba(0, 0, 0, 0.02);
        border-radius: 10px;

        @media only screen and (min-width: 1025px) {
            flex-direction: row;
            max-height: 312px;
        }

        &:hover {
            // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06), 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
            transform: scale(1.05);
            transition: 0.3s ease-in;
        }
    }

    &__preview-img {
        border-radius: 10px 10px 0 0;
        width: 100%;

        @media only screen and (min-width: 1025px) {
            border-radius: 10px 0 0 10px;
            max-width: 50%;
            flex: 1 1 auto;
        }
    }

    &__preview-action-top50 {
        margin-top: 30px;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }

    &__preview-description {
        padding: 25px;

        @media only screen and (min-width: 768px) {
            padding: 25px;
        }

        @media only screen and (min-width: 1025px) {
            flex: 1 1 0;
        }

        @media only screen and (min-width: 1280px) {
            padding: 30px;
        }
    }

    &__cards-list {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        margin: 0 auto;
        // grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 30px;
        row-gap: 50px;
        min-height: 260px;
        // @media only screen and (min-width: 500px) {
        //     grid-template-columns: 1fr 1fr;
        // }

        // @media only screen and (min-width: 992px) {
        //     grid-template-columns: 1fr 1fr 1fr;
        // }

        &:after {
            content: "|";
            color: transparent;
            margin-left: -15px;

            @media only screen and (min-width: 1025px) {
                display: none;
            }
        }

        &--ios {
            column-gap: initial;
            row-gap: initial;
        }

        &--no-scroll {
            overflow-x: initial;
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 40px !important;
            row-gap: 20px;

            @media only screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
                row-gap: 33px;
                column-gap: 24px;
            }

            @media only screen and (min-width: 1280px) {
                grid-template-columns: 1fr 1fr 1fr;
                margin-top: initial;
            }
        }

        @media only screen and (min-width: 1025px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            overflow-x: initial;
            min-height: initial;
        }
    }

    // &__card-item:first-child {
    //     @media only screen and (min-width: 500px) {
    //         grid-column: 1/ span 2;
    //     }
    // }

    &__card-link {
        height: 100%;
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        color: #3d3d3d;
        text-decoration: none;
        transition: 0.3s ease-in;
    }

    &__preview-card-link {
        text-decoration: none;
        color: $color-text;
    }

    &__cards-list-recomended {
        margin-top: 16.67px;
        @media only screen and (min-width: 768px) {
            margin-top: 40px;
            grid-template-columns: 1fr 1fr;
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: 1fr 1fr;
            margin-top: 50px;
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__card-item {
        &--ios {
            margin-right: 30px;
            margin-bottom: 30px;
        }
    }

    &__card-item-recomended {
        transition: 0.3s ease-in;
        border-radius: 10px;
        box-shadow: $main-box-shadow;
        min-width: 290px;

        // &:last-child {
        //     position: relative;

        //     &:after {
        //         content: "";
        //         width: 20px;
        //         height:20px;
        //     }
        // }

        @media only screen and (min-width: 1025px) {
            min-width: initial;
        }

        &:hover {
            // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06), 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
            transition: 0.3s ease-in-out;
            transform: scale(1);
            transition: 0.3s ease-in;

            @media only screen and (min-width: 1280px) {
                transform: scale(1.05);
            }
        }
        &:first-child {
            @media only screen and (min-width: 500px) {
                grid-column: 1;
            }
        }
    }

    &__card-img-recomended {
        // max-height: 200px;
    }

    &__card-block {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2.76474px 23.2298px rgba(0, 0, 0, 0.04),
            0 1.56844px 13.0224px rgba(0, 0, 0, 0.04),
            0 0.850758px 6.91611px rgba(0, 0, 0, 0.03),
            0 0.362474px 2.87795px rgba(0, 0, 0, 0.02);
    }

    &__card-top {
    }

    &__card-bottom {
        padding: 25px;

        @media only screen and (min-width: 768px) {
        }

        @media only screen and (min-width: 1025px) {
            padding: 45px;
        }
    }

    &__content-anounce {
        margin-bottom: 77px;

        &:last-child {
            margin-bottom: 30px;
        }

        h2 {
            font-family: $roboto-regular;
            font-size: 22px;
            font-weight: 700;
            color: $color-text;
        }

        p {
            font-family: $roboto-regular;
            font-size: 16px;
            font-weight: 400;
            color: $color-text;
            margin-top: 28px;
        }
    }

    &__card-anons {
    }

    &__page-subtitle {
        padding: 0 16px;
        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__card-detail {
        font-weight: 400;
        font-size: 16px;
        font-family: $roboto-regular;
        margin-top: 25px;
        line-height: 24px;

        .repairs-news-block:not(:first-child) {
            margin-top: 50px;
        }

        .repairs-news-block {
            color: $color-text;

            .repairs-news__from-date-time-text,
            .repairs-news__from-time-text,
            .repairs-news__to-time-text {
                font-family: $roboto-bold;
            }

            .repairs-news__service-list-text{
                font-family: $roboto-medium;
            }

            .repairs-news_address_list,
            .repairs-news__works-in-progress-text {
                margin-top: 24px;

                .address_list-item {
                    margin-top: 3px;
                    margin-bottom: 3px;
                    margin-left: 10px;

                    &:before {
                        content: "-";
                        padding-right: 5px;
                    }

                    .address_list_item-indent {
                        margin-top: 3px;
                        margin-bottom: 3px;
                        margin-left: 15px;
                    }

                    .address_list_item_private-sector-block {
                        .address_list_item_private_sector_block-houses {
                            &:before {
                                content: "-";
                                padding-right: 5px;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }

        pre {
            white-space: normal;
            font-family: $roboto-regular;
        }

        a {
            color: $color-active;
            text-decoration: none;
            transition: 0.3s ease-in;

            &:hover {
                color: #00bebf;
                text-decoration: underline;
            }
        }
    }

    &__card-img-container {
        height: 100%;
    }

    &__card-img {
        width: 100%;
        transition: 0.3s ease-in-out;
        border-radius: 10px 10px 0 0;
    }

    &__card-bottom-content {
        padding: 25px;
        min-height: 88px;
        flex-direction: column;
        display: flex;
        justify-content: center;

        @media only screen and (min-width: 1025px) {
            min-height: 110px;
            padding: 25px;
        }
    }

    &__card-title {
        margin-bottom: 10px;
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        color: $color-text;
        margin-bottom: 6.42px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // max-width: 238px;

        &--first {
            font-size: 18px;
        }

        @media only screen and (min-width: 1025px) {
            font-size: 18px;
            margin-bottom: 10px;
            max-width: 400px;
            // max-width: 426px;
        }

        @media only screen and (min-width: 1125px) {
            max-width: 450px;
            // max-width: 426px;
        }

        @media only screen and (min-width: 1225px) {
            max-width: 500px;
            // max-width: 426px;
        }

        @media only screen and (min-width: 1280px) {
            max-width: 326px;
        }

        @media only screen and (min-width: 1366px) {
            max-width: 340px;
        }

        &--detail {
            white-space: initial;
            overflow: initial;
            text-overflow: initial;
            max-width: initial;
        }
    }

    &__card-date {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 14px;
        color: $second-text;

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
        }
    }

    &__cards-show {
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 18px;
        color: $color-active;
        cursor: pointer;
        display: block;
        margin-top: 30px;
        text-align: center;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
            text-align: right;
        }
        // position: relative;
    }

    &__cards-arrow-icon {
        background-image: url("../../images/actions/arrow-bottom.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 9.5px;
        height: 15.5px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        // position: absolute;
    }

    // ACTION PRODUC
    &__product-anounce {
        font-weight: 400;
        font-size: 16px;
        font-family: $roboto-regular;
        margin-top: 20px;
        line-height: 24px;
        // -webkit-line-clamp: 7;
        -webkit-line-clamp: 4;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        // p {
        //     display: none;
        // }

        // p:first-child {
        //     display: block;

        // }

        // p:nth-child(2) {
        //     display: block;
        //     background: red;
        // }
    }

    &__product-description {
        text-align: justify;
        font-weight: 400;
        font-size: 16px;
        font-family: $roboto-regular;
        margin-top: 35px;
        line-height: 24px;

        a {
            color: $color-active;
            text-decoration: none;
        }
    }

    &__console-item {
        background: rgba(0, 0, 0, 0.02);
        padding-left: 16px;
        padding-right: 16px;

        @media only screen and (min-width: 768px) {
            padding-left: 32px;
            padding-right: 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding-left: initial;
            padding-right: initial;
        }
    }

    &__smart-console {
        margin-top: 40px;
        margin-bottom: 70px;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }

    &__opportunity-txt {
        margin-top: 15px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 10px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__section {
        padding: initial;
    }

    &__detail {
        padding: initial;
    }

    &__detail-section {
        padding: 0 16px;
        padding-right: initial;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__page-title-detail {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__cards-list-detail {
        margin-top: 30px;

        @media only screen and (min-width: 768px) {
            overflow-x: initial;
            display: grid;
            grid-template-columns: 1f 1f;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 40px;
        }
    }

    &__wrapper-table {
        table {
            border: 1px solid $second-text;  
            width: 600px;
            margin:0;
            padding:0;
            border-collapse: collapse;
            border-spacing: 0;
        }

        table tbody tr:first-child {
            background: #F3F3F3;
            color: #838383;
            font-family: $roboto-medium;
            font-size: 16px;
            line-height: 24px;
        }
         
        table tr {
            border: 1px solid $second-text;
        }
         
        table th, table td {
            padding: 30px;
            text-align: center;
            border-right: 1px solid $second-text;
            color: $color-text;
            font-family: $roboto-regular;
            font-size: 16px;
            line-height: 24px;
        }
         
        table th {
            background: #F3F3F3;
            color: #838383;
        }
        
        @media screen and (max-width: 1024px) {
            table {
                border: 0;
                width: 100% !important;
            }
            table thead {
                display: none;
            }
            table tr {
                margin-bottom: 10px;
                display: block;
                // border-bottom: 2px solid #ddd;
            }
            table tr:first-child {
                display: none;
            }
            table th, table td {
                text-align: right;
                font-family: $roboto-regular;
                font-size: 14px;
                // border-bottom: 1px dotted #ccc;
                // border-right: 1px solid transparent;
                display: flex;
                border: none;
                border-bottom: 1px solid $second-text;
                padding: 14px;
                line-height: 21px;
                color: $color-text;
            }
            table td:last-child {
                border-bottom: 0;
            }
            table td:before {
                content: attr(data-label);
                // float: left;
                // text-transform: uppercase;
                font-family: $roboto-medium;
                font-size: 14px;
                line-height: 21px;
                margin-right: auto;
                text-align: left;
                color: #838383;
            }
        }
        // @media screen and (max-width: 1024px) {
            .table-less-then-content {
                display: table;
                border: 1px solid $second-text;  
                width: 600px !important;
                margin:0;
                padding:0;
                border-collapse: collapse;
                border-spacing: 0;

                tbody tr:first-child {
                    background: #F3F3F3;
                    color: #838383;
                    font-family: $roboto-medium;
                    font-size: 16px;
                    line-height: 24px;
                    display: table-row;
                }
                
                tr {
                    border: 1px solid $second-text;
                    margin-bottom: initial;
                    display: table-row;
                }

                tr:first-child {
                    display: table;
                }
                
                th, td {
                    padding: 30px;
                    text-align: center;
                    border-right: 1px solid $second-text;
                    color: $color-text;
                    font-family: $roboto-regular;
                    font-size: 16px;
                    line-height: 24px;
                    display: table-cell;
                    vertical-align: inherit;
                }
                
                th {
                    background: #F3F3F3;
                    color: #838383;
                }

                td:last-child {
                    border-bottom: initial
                }
                td:before {
                    content: '';
                    display: none;
                }
            }
        // }
        
        overflow-y: auto;

        // td {
        //     min-width: 171px;
        // }
        &::-webkit-scrollbar {
            // width: 2px;
            height: 2px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #e6e6e6;
        }

        &::-webkit-scrollbar-thumb:horizontal {
            background-color: $color-active;
        }

        // &--height-auto {
        //     height: auto;
        // }
    }

    &__item-order-btn {
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        margin-top: 25px;
    }
}

.actions__card-detail {
    th,
    td {
        color: inherit;
    }
}
