.blog-comments {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
    &__wrapper {
        padding: 30px;
    }

    &__no-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__count-text {
        font-family: $roboto-medium;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        align-self: flex-start;
        display: flex;

        &--have-comments {
            align-self: normal;
            margin-bottom: 25px;

            @media only screen and (min-width: 768px) {
                align-self: auto;
                margin-bottom: initial;
            }
        }
    }

    &__count-value {
        font-family: $roboto-bold;
        font-weight: 700;
        margin-left: 5px;
    }

    &__be-first-comment {
        font-family: $roboto-medium;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        color: $second-text;
        margin-top: 35px;
    }

    &__no-comments-img {
        width: fit-content;
        margin-top: 30px;
    }

    &__to-comment-btn {
        width: 100%;
        margin-top: 30px;
        border: 1px solid $color-active;
        border-radius: 10px;
        color: $color-active;
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        padding: 15.5px 30px;
        background: transparent;
        transition: .2s ease-in;
        cursor: pointer;

        @media only screen and (min-width: 768px) {
            width: fit-content;
        }

        &:hover {
            color: #fff;
            background: $color-active;
        }

        &--have-comments {
            margin-top: initial;
        }
    }

    &__top-line-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__comments-block {
        margin-top: 40px;
    }

    &__comment-item {
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(66, 66, 66, .1);
        padding-bottom: 30px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 30px;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: initial;
            margin-bottom: initial;
        }
    }

    &__comment-item-top {
        display: flex;
    }

    &__userpick {
        text-transform: uppercase;
        background: rgba(0, 163, 164, .1);
        width: fit-content;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-family: $roboto-light;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: $color-text;
    }

    &__after-userpick {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__author {
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
        color: $color-text;
    }

    &__comment-day {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $second-text;
    }

    &__comment-text {
        margin-top: 20px;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $color-text;
    }

    &__repeat-btn {
        display: flex;
        align-items: center;
        color: $color-active;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-top: 25px;
        transition: .2s ease-in;

        &:before {
            content: "";
            background: url('../../images/blog/blog-reply-comment.svg') no-repeat;
            background-size: 100%;
            width: 24px;
            height: 24px;
            display: block;
            margin-right: 5px;
        }

        &:hover {
            color: #00BEBF;

            &:before {
                content: "";
                background: url('../../images/blog/blog-reply-comment-hover.svg') no-repeat;
                background-size: 100%;
                width: 24px;
                height: 24px;
                display: block;
                margin-right: 5px;
            }
        }
    }

    &__inner-list {
        padding-left: 19px;
        border-left: 1px solid #E6E6E6;
        margin-top: 40px;

        @media only screen and (min-width: 768px) {
            margin-top: 25px;
        }
    }

    &__comment-item-inner {
        margin-bottom: initial;
        border-bottom: none;
        padding-bottom: 40px;

        // @media only screen and (min-width: 768px) {
        //     margin-bottom: 30px;
        // }

        &:last-child {
            padding-bottom: initial;
        }

        @media only screen and (min-width: 768px) {
            margin-bottom: initial;
            padding-bottom: 25px;
        }
    }

    &__load-more-btn {
        margin: 0 auto;
        margin-top: 25px;
        display: block;
        padding: 10px 20px;
        background: rgba(0, 163, 164, 0.1);
        border-radius: 5px;
        width: fit-content;
        color: $color-active;
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        transition: .2s ease-in;
        cursor: pointer;

        &:hover {
            background: #C9EAEA;
        }
    }
}