.blog-cart {
    margin-top: 12px;
    margin-bottom: 70px;
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1280px) {
        padding: initial;
        // width: 1216px;
        width: 1193px;
    }

    @media only screen and (min-width: 1366px) {
        width: 1260px;
    }

    &__container {
        display: block;

        @media only screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: 1fr 435px;
            grid-gap: 30px;
        }

        @media only screen and (min-width: 1366px) {
            grid-template-columns: 1fr 465px;
        }
    }

    &__basic-block {
        margin-bottom: 50px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);

        @media only screen and (min-width: 768px) {
            height: fit-content;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__aside {
        display: none;

        @media only screen and (min-width: 1280px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__recomended {
        margin-bottom: 30px;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        background: #fff;
    }

    &__recomended-title {
        font-family: $roboto-medium;
        font-size: 24px;
        line-height: 28.13px;
        color: $color-text;
    }

    &__recomended-list {
        margin-top: 30px;
    }

    &__recomended-item {
        border-bottom: 1px solid #E6E6E6;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        padding-top: 15px;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__recomended-link {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 18px;
        color: $color-text;
        line-height: 27px;
        transition: .2s ease-in;
        text-decoration: none;

        &:hover {
            color: $color-active;
        }
    }

    &__recomended-time {
        margin-top: 5px;
        font-size: 16px;
        font-family: $roboto-regular;
        font-weight: 400;
        color: $second-text;
        line-height: 18.75px;
    }

    &__read-time {
        padding-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        font-family: $roboto-regular;
        font-weight: 400;
        color: $second-text;
        line-height: 18.75px;
        display: block;

        @media only screen and (min-width: 768px) {
            padding-left: 30px;
        }
    }

    &__img-block {
        position: relative;
    }

    &__img {
        width: 100%;
    }

    &__share-bg-icon {
        background: rgba(0, 0, 0, .5);
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in;

        &:hover {
            background: rgba(0, 0, 0, .9);
            border: 1px solid rgba(255, 255, 255, .9);
        }
    }

    &__share-icon {
        background: url('../../images/blog/share_icon.svg') no-repeat;
        background-size: 100%;
        width: 18px;
        height: 18px;
        display: block;
    }

    &__content-wrapper {
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__info-container {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__info-date {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $second-text;
    }

    &__info-block {
        display: flex;
        margin-top: 15px;

        @media only screen  and (min-width: 768px) {
            margin-top: 0;
        }
    }

    &__info-text {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $second-text;
        display: flex;
        align-items: center;
        margin-left: 25px;
    }

    &__info-text-like {
        cursor: pointer;
        margin-left: 0;
        &:hover {
            .blog-cart__info-like {
                background-image: url('../../images/blog/active-like.svg');
            }
        }

        @media only screen and (min-width: 768px) {
            margin-left: 25px;
        }
    }

    &__info-icon {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        display: block;
        margin-right: 5px;
    }

    &__info-like {
        background-image: url('../../images/blog/like.svg');

        &--isLike {
            background-image: url('../../images/blog/active-like.svg');
        }
    }

    &__info-comments {
        background-image: url('../../images/blog/comment.svg');
    }

    &__info-views {
        background-image: url('../../images/blog/view.svg');
        height: 10.8px;
    }

    &__thematic-links {
        display: flex;
        margin: 25px 0 10px 0;
        flex-wrap: wrap;
        > a {
            margin: 0 8px 8px 0;
        }

        :last-child {
            margin: 0 0 8px 0;
        }
    }

    &__thematic-link {
        background: rgba(250, 194, 61, 0.5);
        border-radius: 5px;
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $color-text;
        line-height: 16.41px;
        text-decoration: none;
        padding: 5px 10px;
        transition: .2s ease-in;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
            background: rgba(250, 194, 61, 0.8);
        }
    }

    &__content-article-text {
        font-family: $roboto-regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;
        color: $color-text;
    }

    &__content-article-toggle {
        font-family: $roboto-regular;
        font-size: 18px;
        font-weight: 400;
        color: $color-active;
        line-height: 21.09px;
        cursor: pointer;
        user-select: none;
    }

    &__content-article {
        margin-top: 32px;
    }

    &__content-article-control {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        background: #F6F6F6;
        border-radius: 10px;

        &--is-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__content-article-list {
        list-style-type: decimal;
        list-style-position: inside;
        background: #F6F6F6;
        visibility: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 5px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    

        &--is-open {
            visibility: visible;
            padding: 15px;
        }
    }

    &__content-article-link {
        color: $color-active;
        text-decoration: none;
        transition: .2s ease-in;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: #00BEBF;
        }
    }

    &__content-article-item {
        color: $color-active;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.09px;
    }

    &__socials {
        padding: 30px;
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        border-radius: 10px;

        &__sticky {
            top: 20px;
            position: sticky;
            transition: .3s;

            &__with-header {
                top: 110px
            }
        }

    }

    &__socials-title {
        font-family: $roboto-medium;
        font-size: 24px;
        font-weight: 500;
        color: $color-text;
        line-height: 28.13px;
    }

    &__socials-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin-top: 25px;
    }

    &__socials-item {
        padding: 15px;
        border-radius: 10px;
        display: flex;

        &--pink {
            background: #FAEAEA;
        }

        &--lightblue-1 {
            background: #E4EEF7;
        }

        &--lightblue-2 {
            background: #E8F2F8;
        }

        &--violet {
            background: #ECEBF3;
        }
    }

    &__socials-left {
        display: flex;
    }

    &__socials-icon {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        display: block;

        &--instagram {
            background-image: url('../../images/blog/instagram_blog.svg');
        }

        &--facebook {
            background-image: url('../../images/blog/facebook_blog.svg');
        }

        &--telegram {
            background-image: url('../../images/blog/telegram_blog.svg');
        }

        &--viber {
            background-image: url('../../images/blog/viber_blog.svg');
        }
    }

    &__socials-title-subscribers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
    }

    &__socials-name {
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 16px;
        color: $color-text;
        line-height: 18.75px;
    }

    &__socials-subscribers {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        line-height: 18.75px;
    }

    &__socials-link-subscribe {
        margin-left: auto;
        align-self: center;
        color: $color-active;
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        text-decoration: none;
        border: 1px solid $color-active;
        padding: 15.5px 30px;
        border-radius: 10px;
        transition: .2s ease-in;

        &:hover {
            background: $color-active;
            color: #fff;
        }
    }

    &__page-title {
        padding: 25px 25px 0 25px;
        font-size: 28px;
        line-height: 34.13px;
        white-space: normal;
        word-wrap: break-word;

        @media only screen  and (min-width: 768px) {
            word-wrap: normal;
        }

        @media only screen and (min-width: 1280px) {
            font-size: 40px;
            line-height: 48.76px;
            padding: 30px 30px 0 30px;
        }
    }

    @media only screen and (min-width: 1280px) {
        margin-top: 25px;
        margin-bottom: 100px;
    }

    &__section {
        margin-top: initial;
        padding: 0;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__incoming-content {
        margin-top: 40px;

        blockquote {
            position: relative;
            padding: 48px 65px;
            background: rgba(250, 194, 61, .1);
            font-family: $roboto-regular;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            color: $color-text;
            border-radius: 10px;

            &:before {
                content: '';
                background: url('../../images/blog/quote-blog-top.svg') no-repeat;
                background-size: 100%;
                width: 50px;
                height: 33px;
                position: absolute;
                left: 15px;
                top: 15px;
            }

            &:after {
                content: '';
                background: url('../../images/blog/quote-blog-bottom.svg') no-repeat;
                background-size: 100%;
                width: 50px;
                height: 33px;
                position: absolute;
                right: 15px;
                bottom: 15px;
            }
        }

        p {
           font-family: $roboto-regular;
           font-weight: 400;
           font-size: 16px;
           color: $color-text;
           line-height: 24px; 
        }

        img {
            width: 100%;
        }

        iframe {
            width: 100%;
            min-height: 156px;

            @media only screen and (min-width: 768px) {
                min-height: 362px;
            }
            
            @media only screen and (min-width: 1280px) {
                min-height: 396px;
            }
        }

        a {
            color: #00a3a4;
            text-decoration: none;
            transition: 0.3s ease-in;

            &:hover {
                color: #00bebf;
                text-decoration: underline;
            }
        }
    }

    &__wrapper-subscribe-email {
        background: linear-gradient(268.7deg, #DBDBDB 0%, #F6F6F6 60.47%, #F6F6F6 99.05%);
        border-radius: 10px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;

        & .subscribe-email__img {
            // width: 278px;
            width: 100%;

            @media only screen and (min-width: 768px) {
                width: 278px;
            }

            @media only screen and (min-width: 1280px) {
                width: auto;
            }
        }

        & .subscribe-email__container {
            flex-direction: column-reverse;
            align-items: center;

            @media only screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        @media only screen and (min-width: 768px) {
            padding: 90px 30px;
        }

        @media only screen and (min-width: 1280px) {
            padding: 80px 30px;
        }

        & .subscribe-email__right {
            margin-top: 38px;
            padding-bottom: initial;
            width: auto;

            @media only screen and (min-width: 768px) {
                margin-top: initial;
                width: 328px;
            }

            @media only screen and (min-width: 1024px) {
                width: 475px;
            }

            @media only screen and (min-width: 1280px) {
                width: 328px;
            }
        }
    }

    .title-ankor {
        font-family: $roboto-medium;
        font-size: 24px;
        font-weight: 500;
        color: $color-text;
        line-height: 28.13px;
    }
}