.blog {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1280px) {
        padding: initial;
        // width: 1216px;
        width: 1193px;
    }

    @media only screen and (min-width: 1366px) {
        width: 1260px;
    }

    &__categories {
        display: none;
        @media only screen and (min-width: 1280px) {
            display: block;
            margin-top: 30px;
        }
    }

    &__list-categories {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: auto;
        padding-bottom: 14px;
        grid-gap: 20px;
        justify-content: start;

        &::-webkit-scrollbar {
            height: 6px;

            &-thumb {
                background-color: $second-text;
                cursor: pointer;
                border-radius: 20px;
            }

            &-track {
                background-color: #e5e5e5;
                border-radius: 20px;
            }
        }
    }

    &__item-category {
        white-space: nowrap;
    }

    &__link-category {
        padding: 15.5px 25px;
        background: rgba(0, 163, 164, 0.05);
        border-radius: 10px;
        color: $color-active;
        transition: .2s ease-in;
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        text-decoration: none;
        display: block;

        &:hover {
            background: #C9EAEA;
        }

        &--selected {
            color: #fff;
            background: $color-active;

            &:hover {
                background: #009697;
            }
        }
    }

    &__sort {
        margin-top: 25px;
    }

    &__list-sort {
        display: flex;
    }

    &__item-sort {
        margin-right: 25px;
    }

    &__link-sort {
        display: block;
        padding: 10px 20px;
        color: $color-text;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid $second-text;
        border-radius: 25px;
        text-decoration: none;
        &:hover {
            border-color: $color-text;
        }

        &--selected {
            background: rgba(0, 163, 164, 0.05);
            display: flex;
            align-items: center;
            color: $color-active;
            border-color: $color-active;
            &:hover {
                border-color: $color-active;
            }

            &:after {
                content: "";
                display: block;
                background: url('../../images/blog/checked-blog.svg') no-repeat;
                background-size: 100%;
                width: 12.43px;
                height: 12px;
                margin-left: 12px;
                align-self: flex-end;
            }
        }
    }

    &__articles {
        margin-top: 25px;
    }

    &__list-articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        justify-items: center;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 40px;
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item-article {
        background: #fff;
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275), 0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035), 0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725), 0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        border-radius: 10px 10px 10px 10px;
        width: 328px;
        transition: 0.2s ease-in;

        &:hover {
            box-shadow: 0px 21.0205px 29.4404px rgba(0, 0, 0, 0.041833),
            0px 12.6618px 26.6402px rgba(0, 0, 0, 0.0346325),
            0px 8.11433px 21.3797px rgba(0, 0, 0, 0.0293722),
            0px 5.25905px 11.8942px rgba(0, 0, 0, 0.0243561),
            0px 3.31051px 4.56078px rgba(0, 0, 0, 0.0190508),
            0px 1.9021px 1.46358px rgba(0, 0, 0, 0.0132609),
            0px 0.837162px 0.25043px rgba(0, 0, 0, 0.00691645);
        }

        @media only screen and (min-width: 768px) {
            width: 338px;
            min-height: 520px;
            max-height: 570px;
        }

        @media only screen and (min-width: 1280px) {
            width: 378px;
            height: auto;
            min-height: 626px;
            max-height: 720px;
        }

        @media only screen and (min-width: 1366px) {
            width: 400px;
        }
    }

    &__link-article {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item-img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        flex-shrink: 0;
        max-height: 214px;

        @media only screen and (min-width: 768px) {
            max-height: 220px;
        }
        
        @media only screen and (min-width: 1280px) {
            max-height: 262px;
        }
    }

    &__content-article {
        padding: 25px;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            padding: 30px;
            height: 100%;
        }
    }

    &__theme-list-links {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        :first-child {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        > li {
            margin: 0 8px 8px 0;
        }

        :last-child {
            margin: 0 0 8px 0;
        }

        @media only screen and (min-width: 768px) {
           flex-wrap: nowrap;
        }
    }

    &__theme-item-link {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.41px;
        color: $color-text;
        text-align: center;
        background: rgba(250, 194, 61, 0.5);
        border-radius: 5px;
        padding: 5px 10px;
        transition: .2s ease-in;
        white-space: nowrap;

        &--to-big {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background: #facd63;
        }

        @media only screen and (min-width: 1366px) {
            font-size: 14px;
        }
    }

    &__content-article-title {
        margin-top: 12px;
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.09px;
        color: $color-text;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

        @media only screen and (min-width: 768px) {
            -webkit-line-clamp: 4;
        }

        @media only screen and (min-width: 1280px) {
            font-size: 24px;
            line-height: 31.2px;
            -webkit-line-clamp: 6;
        }
    }

    &__content-article-readtime {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $second-text;
        margin: 10px 0 10px 0;
    }

    &__content-article-anons {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        margin-bottom: 25px;
        -webkit-line-clamp: 3;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        text-overflow: ellipsis;

        @media only screen and (min-width: 1280px) {
            font-size: 18px;
            line-height: 27px;
        }
    }

    &__article-info {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    &__article-date {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $second-text;
        line-height: 18.75px;
    }

    &__article-info-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }

    &__article-like-item {
        display: flex;
        align-items: center;
    }

    &__article-view-item {
        display: flex;
        align-items: center;
    }

    &__article-like-icon {
        background: url('../../images/blog/heart.svg') no-repeat;
        background-size: 100%;
        width: 18px;
        height: 15.26px;
        display: block;
        margin-right: 5px;
    }

    &__article-like-value {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $second-text;
        line-height: 18.75px;
    }

    &__article-view-icon {
        background: url('../../images/blog/eye.svg') no-repeat;
        background-size: 100%;
        width: 18px;
        height: 10.8px;
        display: block;
        margin-right: 5px;
    }

    &__article-view-value {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $second-text;
        line-height: 18.75px;
    }

    &__socials {
        background: #F6F6F6;
    }

    &__socials-wrapper {
        padding: 16px;

        @media only screen and (min-width: 768px) {
            padding: 45px 32px;
        }

        @media only screen and (min-width: 1280px) {
            padding: 45px 0;
            // width: 1216px;
            width: 1193px;
        }

        @media only screen and (min-width: 1366px) {
            width: 1260px;
        }

    }

    &__socials-title {
        font-family: $montserrat-bold;
        font-size: 22px;
        font-weight: 700;
        color: $color-text;
        line-height: 26.82px;

        @media only screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 36.57px;
        }
    }

    &__socials-list {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px;

        @media only screen and (min-width: 768px) {
            grid-gap: 30px;
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__socials-item {
        padding: 15px;
        border-radius: 10px;
        display: flex;

        @media only screen and (min-width: 768px) {
            padding: 25px;
        }
    }

    &__socials-link-subscribe {
        margin-left: auto;
        align-self: center;
        color: #00a3a4;
        font-family: "Roboto-Bold", serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.41px;
        text-decoration: none;
        border: 1px solid #00a3a4;
        padding: 11.5px 10.5px;
        border-radius: 10px;
        transition: .2s ease-in;

        &:hover {
            background: $color-active;
            color: #fff;
        }

        @media only screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 18.75px;
            padding: 15.5px 30px;
        }
    }

    &__articles-bottom {
        padding: 0 16px;
        margin-top: 50px;
        margin-bottom: 70px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1280px) {
            padding: initial;
            // width: 1216px;
            width: 1193px;
            margin-bottom: 100px;
        }

        @media only screen and (min-width: 1366px) {
            width: 1260px;
        }
    }
    
    &__pagination {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;

        @media only screen and (min-width: 768px) {
            margin-top: 50px;
        }
    }

    &__pagination-to-back {
        display: flex;
        align-items: center;
    }

    &__pagination-to-forward {
        display: flex;
        align-items: center;
    }

    &__pagination-link-to-back {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $color-text;
        text-decoration: none;
        display: flex;
        align-items: center;

        &--disabled {
            color: #E6E6E6;
        }
    }

    &__pagination-arrow-back {
        background: url('../../images/blog/arrow-blog.svg') no-repeat;
        background-size: 100%;
        width: 7px;
        height: 13px;
        display: block;
        transform: rotate(180deg);
        margin-right: 10px;

        &--disabled {
            background: url('../../images/blog/arrow-blog-disabled.svg') no-repeat;
            background-size: 100%;
            width: 7px;
            height: 13px;
            display: block;
            transform: rotate(0deg);
        }
    }

    &__pagination-links {
        display: none;

        @media only screen and (min-width: 1280px) {
            display: flex;
        }
    }

    &__pagination-link {
        color: $second-text;
        font-family: $roboto-regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.74px;
        text-decoration: none;
        margin-right: 15px;

        &--current {
            color: $color-text;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__pagination-link-to-forward {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $color-text;
        text-decoration: none;
        display: flex;
        align-items: center;

        &--disabled {
            color: #E6E6E6;
        }
    }

    &__pagination-arrow-forward {
        background: url('../../images/blog/arrow-blog.svg') no-repeat;
        background-size: 100%;
        width: 7px;
        height: 13px;
        display: block;
        margin-left: 10px;

        &--disabled {
            background: url('../../images/blog/arrow-blog-disabled.svg') no-repeat;
            background-size: 100%;
            width: 7px;
            height: 13px;
            display: block;
            transform: rotate(180deg);
        }
    }

    &__email-subscribe {
        background: linear-gradient(268.7deg, #DBDBDB 0%, #F6F6F6 60.47%, #F6F6F6 99.05%);
        margin-bottom: 108px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 70px;
        }

        @media only screen and (min-width: 1280px) {
            margin-bottom: 100px;
        }
    }

    &__email-subscribe-wrapper {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            // padding: 45px 32px;
            padding: 0 32px;
        }

        @media only screen and (min-width: 1280px) {
            // padding: 45px 0;
            // width: 1216px;
            padding: initial;
            width: 1193px;
        }

        @media only screen and (min-width: 1366px) {
            width: 1260px;
        }
    }

    & .shop__dropdown {
        margin-top: 20px;
        @media only screen and (min-width: 768px) {
            width: 328px;
        }
    }
}