.breadcrumbs {
    width: 100%;
    max-width: 1260px;
    margin: 25px auto auto auto;
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1280px) {
        margin-top: 25px;
    }

    @media only screen and (min-width: 1366px) {
        padding: initial;
    }

    &--ios {
        margin-top: 80px;

        @media only screen and (min-width: 1025px) {
            margin-top: 105px;
        }
    }

    &__list {
        display: flex;
        white-space: nowrap;
        overflow-x: hidden;
        padding-bottom: 8px;

        @media only screen and (min-width: 1280px) {
            padding-bottom: initial;
            overflow-y: hidden;
        }
    }

    &__item {
        display: flex;
        text-overflow: ellipsis;

        &:last-child {
            overflow: hidden;
        }
    }

    &__link {
        text-decoration: none;
        color: $second-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        transition: 0.2s ease-in;

        @media only screen and (min-width: 1280px) {
            &:hover {
                color: $color-active;
            }
        }
    }

    &__separator {
        margin: 0 5px;
        display: inline-flex;
        align-self: center;
    }

    &__last-item {
        color: $second-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 19px;
    }
}

// .breadcrumbs-in-shop {
//     .breadcrumbs--ios {
//         margin-top: 30px;
//     }

//     .breadcrumbs {
//         margin-top: 30px;

//         @media only screen and (min-width: 1025px) {
//             margin-top: 25px;
//         }
//     }
// }
