.channels {
    &__count {
        font-family: $roboto-medium;
        font-size: 16px;
        font-weight: 500;
        color: $second-text;
        margin-left: 10px;

        @media only screen and (min-width: 1280px) {
            font-size: 24px;
        }
    }

    &__container {
        // margin-top: 56px;
        margin-bottom: 183px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            // margin-top: 70px;
            margin-bottom: 121px;
            padding: 0 32px;
        }

        @media only screen and (min-width: 1280px) {
            // margin-top: 50px;
            margin-bottom: 200px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__flex {
        display: flex;
        justify-content: center;

        @media only screen and (min-width: 1025px) {
            justify-content: space-between;
        }
    }

    &__right-inner-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-gap: 0 38px;
        margin-top: 26px;
        width: 100%;
        justify-items: center;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0 67px;
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0 25px;
            margin-top: 20px;
        }

        @media only screen and (min-width: 1280px) {
            grid-gap: 0 50px;
        }
    }

    &__right-inner-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }

    &__right-inner-img {
        max-width: 73.23px;
        max-height: 73.23px;

        @media only screen and (min-width: 768px) {
            max-width: 96px;
            max-height: 96px;
        }
    }

    &__left-item-title {
        // &--active {
        //     position: relative;

        //     &:before {
        //         content: "";
        //         position: absolute;
        //         height: 100%;
        //         width: 2px;
        //         background: $color-active;
        //         left: -22px;
        //     }
        // }

        &.is-active {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 2px;
                background: $color-active;
                left: -22px;
            }

            .channels__left-item-link {
                color: $color-active;
            }
        }
    }

    &__left-item-link {
        font-family: $roboto-medium;
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        text-decoration: none;
    }

    &__left-list-titles {
        display: none;
        // ul {
        //     height: fit-content;
        //     border-left: 2px solid #e6e6e6;
        //     padding-left: 20px;
        //     display: flex;
        //     flex-direction: column;
        //     row-gap: 25px;
        //     // position: fixed;
        //     position: sticky;
        //     top: 0;
        // }
        @media only screen and (min-width: 1025px) {
            display: block;
        }
    }

    &__left-list {
        height: fit-content;
        border-left: 2px solid #e6e6e6;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        // position: fixed;
        position: sticky;
        top: 10px;
        transition: 0.3s ease-in;

        &--top-container-point {
            top: 110px;
            transition: 0.3s ease-in;
        }
    }

    &__right-list-categories::scroll {
        width: 0px;
    }

    &__right-list-categories {
        // overflow-x: hidden !important;
        // display: flex;
        // flex-direction: column;
        // row-gap: 100px;
        // margin-bottom: 100px;
        width: 100%;

        @media only screen and (min-width: 1025px) {
            width: initial;
        }
    }

    &__right-item-category {
        padding-bottom: 100px;
    }

    &__right-category-title {
        font-family: $roboto-bold;
        font-size: 24px;
        font-weight: 700;
        color: $color-text;
    }

    &__right-inner-item {
        height: 145px;
        width: 145px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (min-width: 768px) {
            height: 190px;
            width: 190px;
        }

        @media only screen and (min-width: 1025px) {
            height: 190px;
            width: 190px;
        }

        &:hover {
            box-shadow: $main-box-shadow;
            border-radius: 10px;
            background: #ffffff;
        }
    }

    &__right-inner-img-container {
        // height: 96px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__right-inner-text {
        text-align: center;
        color: $color-text;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }

    &__dropdown {
        margin-top: 26px;
        display: block;

        .custom-select-container {
            border: 1px solid $second-text;
            border-radius: 10px;
        }

        .selected-text {
            color: $color-active;
            font-family: $roboto-medium;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
        }

        .custom-select-option {
            text-transform: capitalize;
        }

        .select-block.active:after {
            display: none;
        }

        .select-options {
            border: 1px solid $color-active;
            transform: translateY(10px);
            padding: 12px 0;
            max-height: 220px;
            overflow: auto;
        }

        .select-block {
            padding: 16px 20px;
        }

        .custom-select-option {
            font-family: $roboto-regular;
            font-size: 16px;
            font-weight: 400;
            padding: 11px 15px 11px 13px;
            text-align: left;

            &--active {
                background: #e6e6e6;
            }
        }
    }

    &__fixed-top {
        // position: fixed;
        position: sticky;
        top: 55px;
        z-index: 1005;
        display: block;
        padding-top: 22px;
        padding-bottom: 25px;
        background: #fbfbfb;
        z-index: 15;

        @media only screen and (min-width: 1280px) {
            position: static;
        }
    }

    &__tech-id-block {
        padding-top: 230px;

        @media only screen and (min-width: 1025px) {
            padding-top: 100px;
            padding-bottom: 200px;
            visibility: "hidden";
        }
    }

    .tariff-page__page-title {
        padding: initial;
        margin-top: initial;
        display: flex;
        align-items: center;
    }

    &__title-count-channels {
        font-family: $roboto-medium;
        font-size: 16px;
        font-weight: 500;
        color: $second-text;
        line-height: 18.75px;

        @media only screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 23.44px;
        }
    }

    &__category-list-title {
        color: $color-text;
        font-size: 18px;
        font-family: $roboto-bold;
        font-weight: 700;
        line-height: 21.09px;
        margin-top: 30px;
    }

    &__result-list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 104px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        height: 50px;
    }

    &__icon-pic {
        margin-right: 15px;
        max-height: 50px;
        width: 50px;
    }

    &__category-name {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
    }

    .tabset__tab-title {
        font-family: $roboto-medium;
        font-size: 16px;
    }
}
