.channels-category {
    margin-top: 50px;

    .tabset {
        display: flex;
        margin-top: initial;
    }

    .tabset__tabs {
        // flex: 1 1 158px;
        margin-right: 120px;
        margin-top: initial;
        padding: initial;
        max-width: 158px;
    }

    .tabset__tab-content {
        width: 100%;
        flex: 1 1 auto;
        margin-top: initial;
        padding: initial;

        @media only screen and (min-width: 1025px) {
            width: auto;
        }
    }

    .tabset__tab-list {
        flex-direction: column;
        height: fit-content;
        border-left: 2px solid #e6e6e6;
        padding-left: 20px;
    }

    .tabset__tab-title--link {
        text-decoration: none;
    }

    .tabset__tab-list {
        &:after {
            content: "";
            position: static;
            height: auto;
            width: auto;
            background: transparent;
            top: auto;
        }
    }

    .tabset__selected {
        position: relative;

        // &:before {
        //     content: "";
        //     position: absolute;
        //     height: 100%;
        //     width: 2px;
        //     background: #00a3a4;
        //     left: -22px;
        // }

        &:after {
            content: "";
            position: static;
            height: initial;
            width: initial;
            background: transparent;
            top: initial;
            left: initial;
            z-index: initial;
            transition: initial;
        }
    }

    .tabset__tab-list-item {
        padding-bottom: initial;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: initial;
        }
    }

    &__title {
        color: $color-text;
        font-size: 24px;
        font-family: $roboto-bold;
        font-weight: 700;
        line-height: 28.13px;
    }

    &__list {
        margin-top: 30px;
        max-height: 982px;
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 70px;
        height: 56vh;
        // padding-top: 30px;
        scrollbar-width: thin;
        scrollbar-color: $color-active #e6e6e6;

        &::-webkit-scrollbar {
            width: 2px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #e6e6e6;
        }

        &::-webkit-scrollbar-thumb:vertical {
            background-color: $color-active;
        }

        &--height-auto {
            height: auto;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        height: 50px;
        max-width: 265px;
    }

    &__icon {
        max-height: 50px;
        width: 50px;
        margin-right: 15px;
    }

    &__name {
        color: $color-text;
        font-size: 16px;
        font-family: $roboto-regular;
        font-weight: 400;
        line-height: 24px;
    }

    &__analog-pic-container {
        margin-left: auto;
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        position: relative;

        @media only screen and (min-width: 1280px) {
            margin-right: 10px;
        }

        // @media only screen and (min-width: 1366px) {
        //     margin-right: initial;
        // }

        &:hover {
            .channels-category__analog-pic-tooltip {
                visibility: visible;
            }
        }
    }

    &__analog-pic {
        display: inline-flex;
        background-image: url("../../images/channels/analog-icon.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20px;
        height: 20px;
    }

    &__analog-pic-tooltip {
        position: absolute;
        visibility: hidden;
        width: max-content;
        right: 0;
        bottom: 16px;
        background: $color-text;
        border-radius: 4px;
        border: 1px solid #d9d9d9;
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 24px;
        padding: 2px 8px;
        transform: translateY(-10px);
        z-index: 10;
        &:after {
            content: "";
            position: absolute;
            background: $color-text;
            height: 10px;
            width: 10px;
            transform: rotate(45deg);
            bottom: -4px;
            right: 4px;
            z-index: 0;
            // border-bottom: 1px solid #D9D9D9;
            // border-right: 1px solid #D9D9D9;
        }

        &--scrolling {
            visibility: hidden !important;
        }
    }

    &__category-list-title {
        font-family: $roboto-medium;
        font-size: 16px;
        font-weight: 500;
        color: $second-text;
        line-height: 18.75px;

        @media only screen and (min-width: 1280px) {
            font-size: 20px;
            line-height: 23.44px;
        }
    }

    &__result-list {
    }
}
