.consoles {
    display: flex;
    flex-direction: column;

    &__item {
        width: 100%;
        padding: 40px 0;

        @media only screen and (min-width: 1025px) {
            padding: 62px 0;
        }

        &:nth-child(even) {
            background: rgba(0, 0, 0, 0.02);
        }
    }

    &__img {
        width: 328px;
        height: 328px;

        @media only screen and (min-width: 1025px) {
            width: auto;
            height: auto;
        }
    }

    &__item-block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        // row-gap: 15px;

        @media only screen and (min-width: 768px) {
            flex-direction: initial;
            column-gap: 30px;
            // row-gap: initial;
        }

        @media only screen and (min-width: 1025px) {
            flex-direction: initial;
            column-gap: initial;
        }

        &--even {
            flex-direction: column-reverse;

            @media only screen and (min-width: 768px) {
                flex-direction: row-reverse;

                .consoles__item-details {
                    margin-left: 30px;
                }
            }

            @media only screen and (min-width: 1025px) {
                .consoles__item-details {
                    margin-left: 15px;
                }
            }

            @media only screen and (min-width: 1280px) {
                .consoles__item-details {
                    margin-left: initial;
                }
            }
        }
    }

    &__item-details {
        flex: initial;
        color: $color-text;
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        @media only screen and (min-width: 768px) {
            margin-right: 30px;
            margin-top: initial;
        }

        @media only screen and (min-width: 1025px) {
            flex: 0 0 450px;
            margin-right: 15px;
        }

        @media only screen and (min-width: 1280px) {
            margin-right: initial;
        }

        // &--ios {
        //     margin-top: 15px;

        //     @media only screen and (min-width: 768px) {
        //         margin-top: initial;
        //     }
        // }
    }

    &__item-title {
        // flex: 1 1 59px;
        position: relative;

        &:hover {
            .consoles__item-link-last-word {
                &:after {
                    content: "";
                    position: absolute;
                    display: inline-flex;
                    background-image: url("../../images/home/arrow-right.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    height: 15px;
                    width: 24px;
                    transform: translate(20px, -50%);
                    // top: 50%;
                    vertical-align: middle;
                    transition: 0.3s ease-in;
                    top: 50%;
                }
            }
        }
    }

    &__item-link {
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 22px;
        transition: 0.3s ease-in;
        color: $color-text;
        text-decoration: none;

        @media only screen and (min-width: 1025px) {
            font-size: 34px;
        }

        &:hover {
            color: $color-active;
            transition: 0.3s ease-in;
        }
    }

    &__item-link-last-word {
        position: relative;
        display: inline-block;
        &:after {
            content: "";
            position: absolute;
            display: inline-flex;
            background-image: url("../../images/home/arrow-right.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 15px;
            width: 24px;
            transform: translate(10px, -50%);
            // top: 50%;
            vertical-align: middle;
            transition: 0.3s ease-in;
            top: 50%;
        }
    }

    // &__item-icon {
    //     display: inline-flex;
    //     background-image: url('../../images/home/arrow-right.svg');
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     height: 15px;
    //     width: 24px;
    //     transform: translate(10px, -50%);
    //     // top: 50%;
    //     vertical-align: middle;
    //     transition: .3s ease-in;
    // }

    &__item-description {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        text-align: justify;
        flex: initial;
        margin-top: 15px;

        @media only screen and (min-width: 768px) {
            margin-top: 20px;
        }

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
            flex: 1 1 180px;
        }

        pre {
            white-space: initial;
            font-family: $roboto-regular;
            font-weight: 400;
            font-size: 16px;
            color: $color-text;
        }
    }

    &__item-order {
        display: flex;
        align-items: center;
        // gap: 39px;
        margin-top: 25px;

        @media only screen and (min-width: 1025px) {
            // gap: 25px;
            margin-top: initial;
        }

        // &--ios {
        //     gap: initial;
        // }
    }

    &__item-price {
        font-family: $roboto-bold;
        font-size: 28px;
        font-weight: 700;
        white-space: nowrap;

        @media only screen and (min-width: 1025px) {
            font-size: 36px;
        }
    }

    &__item-order-btn {
        font-weight: 500;
        font-size: 16px;
        font-family: $roboto-medium;
        margin-left: 20px;

        // &--ios {
        //     margin-left: 20px;
        // }
    }

    &__currency {
        font-size: 30px;
        text-transform: uppercase;
    }

    &__item-picture {
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
        display: inline-flex;
        &--mecool {
            background-image: url("../../images/tv/mecool_km9_pro_honour.png");
        }

        &--xiaomi {
            background-image: url("../../images/tv/xiaomi_4k_mi_box_s_global.png");
        }
    }

    &__item-padding {
        padding-right: 16px;
        padding-left: 16px;

        @media only screen and (min-width: 768px) {
            padding-right: 32px;
            padding-left: 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding-right: initial;
            padding-left: initial;
        }
    }

    &__top-description-padding {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }
}
