.contacts {
    &__page-title {
        margin-top: 12px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }

        &--ios {
            margin-top: 12px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }

    &__page-subtitle {
        margin-top: 30px;
        padding: 0 16px;
        font-size: 18px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
            font-size: 22px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
            font-size: 30px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__connection-section {
        display: flex;
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 16px;
        padding-bottom: 70px;
        column-gap: 50px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
            padding-bottom: 70px;
            column-gap: initial;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 20px;
        }

        @media only screen and (min-width: 1280px) {
            padding-bottom: 181px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
            padding-bottom: 181px;
        }
    }

    &__small-title {
        font-size: 18px;
        font-family: $roboto-bold;
        font-weight: 700;
        color: $color-text;

        @media only screen and (min-width: 1025px) {
            font-size: 24px;
        }
    }

    &__lists {
        // width: 56%;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/contacts/paper-plane-horizont.svg");
            background-size: 100%;
            width: 187px;
            height: 366px;
            right: 0;
            background-repeat: no-repeat;

            @media only screen and (min-width: 768px) {
            }

            @media only screen and (min-width: 1025px) {
                right: 60px;
            }
        }

        &:after {
            content: "";
            position: absolute;
            background-image: url("../../images/contacts/paper-plane-vertical.svg");
            background-size: 100%;
            width: 345.53px;
            height: 178.62px;
            left: 0;
            top: 83%;
            background-repeat: no-repeat;

            @media only screen and (min-width: 626px) {
                left: 80%;
                top: 70%;
            }

            @media only screen and (min-width: 768px) {
                width: 394.1px;
                height: 205.05px;
            }

            @media only screen and (min-width: 1025px) {
                top: 70%;
                left: initial;
                right: 80px;
            }

            @media only screen and (min-width: 1280px) {
                top: 70%;
                left: initial;
                right: 80px;
                width: 534px;
                height: 238px;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        z-index: 10;
        flex-direction: column;
        row-gap: 70px;

        @media only screen and (min-width: 1025px) {
            flex-direction: row;
            row-gap: initial;
        }

        &--ios {
            row-gap: initial;
        }

        &--second-section {
            margin-top: 70px;
            margin-bottom: 145px;

            @media only screen and (min-width: 626px) {
                margin-bottom: 0;
            }

            @media only screen and (min-width: 768px) {
                margin-bottom: initial;
            }

            @media only screen and (min-width: 1025px) {
                margin-top: 100px;
            }

            .contacts__small-title {
                font-family: $montserrat-bold;
                font-weight: 700;
                font-size: 18px;
                color: $color-text;

                @media only screen and (min-width: 1025px) {
                    font-size: 30px;
                }
            }
        }
    }

    &__list-item:first-child {
        flex: 1 1 0;
    }

    &__list-item {
        flex: 1 1 auto;

        &--ios {
            margin-top: 70px;

            @media only screen and (min-width: 1025px) {
                margin-top: initial;
            }
        }
    }

    &__list-inner {
        margin-top: 20px;
    }

    &__list-inner-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        justify-content: space-between;
    }

    &__contact-link {
        text-decoration: none;
        position: relative;
        margin-left: 36px;
        color: $color-text;
        font-size: 16px;
        font-weight: 400;
        font-family: $roboto-regular;
        &:hover {
            color: $color-active;
        }

        &--mailto {
            font-size: 16px;

            &:before {
                content: "";
                position: absolute;
                background-image: url("../../images/contacts/mail.svg");
                background-repeat: no-repeat;
                width: 21px;
                height: 14px;
                background-size: 100%;
                right: 100%;
                transform: translate(-16px, 2px);
            }
        }
    }

    &__contact-icon--it {
        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/contacts/intertelecom_color.svg");
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
            background-size: 100%;
            right: 100%;
            transform: translate(-18px, -1px);
        }
    }

    &__contact-link--lifecell {
        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/contacts/lifecell_color.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 20px;
            height: 20px;
            right: 100%;
            transform: translate(-16px, -2px);
        }
    }

    &__contact-link--kyivstar {
        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/contacts/kyivstar_color.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 24px;
            height: 23px;
            right: 100%;
            transform: translate(-13px, -4px);
        }
    }

    &__contact-link--circle {
        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/contacts/vodafon_color.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 20px;
            height: 20px;
            right: 100%;
            transform: translate(-16px, -2px);
        }
    }

    &__contact-icon {
        margin-right: 12px;
    }

    &__item-note {
        font-size: 16px;
        font-family: $roboto-medium;
        font-weight: 500;
        color: $second-text;
    }

    &__address-schedule {
        margin-bottom: 10px;
    }

    &__address {
        margin-top: 20px;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: $color-text;
        font-style: normal;
        line-height: 24px;

        @media only screen and (min-width: 1025px) {
            margin-top: 24px;
        }
    }

    &__connection-form {
        // width: 44%;
        font-family: $roboto-light;
        font-weight: 400;
        width: 100%;
        max-width: 348px;
    }

    &__formdata {
        // max-width: 348px;
        // margin-left: auto;
    }

    &__fieldset {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 1025px) {
            margin-top: 33px;
        }
    }

    &__field-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;

        &--invalid-phone .MuiOutlinedInput-notchedOutline {
            border-color: $color-error !important;
        }

        &--invalid-phone .MuiInputLabel-formControl {
            color: $color-error !important;
        }
    }

    &__label {
        font-size: 13px;
        color: #7e7e7e;
        margin-bottom: 7px;
        &--time {
            margin-bottom: 0;
        }
    }

    &__decotaion-content {
        position: relative;
        margin-top: 108px;
    }

    &__captcha {
        display: flex;
        position: relative;
        margin-bottom: 48px;
    }

    &__captcha-container-img {
        position: absolute;

        img {
            width: 153px;
            height: 58px;
            transform: translate(1px, 1px);
        }
    }

    &__captcha-field-result {
        width: 100%;
        outline: none;
        background: #f8f8f8;
        border: 1px solid #c4c4c4;
        border-radius: 2px;
        padding-left: 156px;
    }

    &__refresh-btn {
        position: relative;
        width: 74px;
        height: 60px;
        width: 33%;
        background: #00a3a4;
        border: none;
        outline: none;
        cursor: pointer;
        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/reload.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 49px;
            height: 40px;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }

    &__error-text {
        position: absolute;
        top: 100%;
        transform: translate(0, 3px);
        color: #e60000;
        font-family: $roboto-regular;
        font-size: 12px;
        font-weight: 400;
    }

    &__validate-container {
        position: relative;
    }

    &__error-sign {
        position: absolute;
        background: rgba(230, 0, 0, 0.25);
        width: 15px;
        height: 15px;
        color: #e60000;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-family: $roboto-bold;
        font-size: 12px;
        font-weight: 700;
    }

    &__error-sign-simbol {
        top: 50%;
        left: 50%;
        transform: translate(20%, 5%);
    }

    &__small {
        margin-top: 10px;
        color: $second-text;
        font-size: 12px;
        font-weight: 400;
        font-family: $roboto-regular;
        display: block;
    }

    &__error-message-phone {
        position: absolute;
        top: 100%;
        left: 5px;
        font-size: 12px;
    }

    &__custom-button {
        margin-top: 5px;
        width: 100%;
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 16px;
    }
}

.custom-input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom-color: #9d9d9d;
    border-bottom-width: 1px;
    outline: none;
    width: 100%;

    &--error {
        border-bottom-color: #e60000;
        color: #e60000;
    }
}

.custom-input::placeholder {
    font-size: 14px;
    color: #c4c4c4;
}

.decoration-dotes {
    position: absolute;
    top: 0;
}

.decoration-page {
    display: flex;
    margin: 0 auto;
}

.button {
    background: #3d3d3d;
    border-radius: 44px;
    border: 1px solid #f8f8f8;
    font-size: 16px;
    font-family: $roboto-regular;
    font-weight: 400;
    width: fit-content;
    padding: 12px 48px;
    color: #f8f8f8;
    outline: none;
    cursor: pointer;
}

label.MuiInputLabel-outlined {
    color: $second-text;
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 16px;
    transform: translate(14px, 18px) scale(1);
}
