.contacts-service-support {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media only screen and (min-width: 1280px) {
        flex-direction: row;
    }

    &__opportunities {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
        }

        @media only screen and (min-width: 1280px) {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__phones-block {
        @media only screen and (min-width: 768px) {
            flex: 1 1 49%;
        }

        @media only screen and (min-width: 1280px) {
            flex: initial;
        }
    }

    &__opportunities-title {
        font-family: $montserrat-bold;
        font-weight: 700;
        font-size: 22px;
        line-height: 26.82px;
        color: $color-text;

        @media only screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 36.57px;
        }
    }

    &__phones-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        grid-row-gap: 26px;

        @media only screen and (min-width: 1280px) {
            grid-row-gap: 34px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__phones-item {
    }

    &__phones-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: fit-content;
        transition: 0.2s ease-in;

        &:hover {
            .contacts-service-support__phones-number {
                color: $color-active;
            }
        }
    }

    &__phones-icon {
        background-position: 100%;
        background-repeat: no-repeat;
        display: inline-flex;
        width: 20px;
        height: 20px;
        margin-right: 10px;

        &--simple {
            background-image: url("../../images/help/simple_phone.svg");
        }

        &--life {
            background-image: url("../../images/help/life.svg");
        }

        &--vodafon {
            background-image: url("../../images/help/vodafon.svg");
        }

        &--kievstar {
            background-image: url("../../images/help/kievstar.svg");
        }

        &--mail {
            background-image: url("../../images/help/mail_letter.svg");
        }
    }

    &__phones-number {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        color: $color-text;
    }

    &__helper {
        margin-top: 70px;

        @media only screen and (min-width: 768px) {
            margin-top: initial;
            flex: 1 1 51%;
        }

        @media only screen and (min-width: 1280px) {
            flex: initial;
        }
    }

    &__helper-list {
        margin-top: 30px;
    }

    &__helper-item {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-text;
        list-style-type: disc;
        list-style-position: inside;
    }

    &__helper-link-telegram {
        margin-top: 25px;
        display: flex;
        text-decoration: none;
        padding: 12px;
        border: 1px solid #419fd9;
        border-radius: 10px;
        transition: 0.2s ease-in;
        width: fit-content;

        &:hover {
            background: #419fd9;
            .contacts-service-support__helper-text-telegram {
                color: #fff;
            }

            .contacts-service-support__helper-icon-telegram {
                background-image: url("../../images/help/telegram-help-hover.svg");
            }
        }

        @media only screen and (min-width: 1280px) {
            padding: 14px;
        }
    }

    &__helper-icon-telegram {
        background-image: url("../../images/help/telegram-help.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 21.73px;
        height: 18.75px;
        margin-right: 14px;

        @media only screen and (min-width: 1280px) {
            margin-right: 18px;
            width: 24.33px;
            height: 21px;
        }
    }

    &__helper-text-telegram {
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: #419fd9;

        @media only screen and (min-width: 1280px) {
            font-size: 18px;
        }
    }

    &__img {
        margin-top: 70px;

        @media only screen and (min-width: 768px) {
            width: 605px;
            height: 415px;
            margin-right: auto;
            margin-left: auto;
        }

        @media only screen and (min-width: 1280px) {
            margin-top: initial;
            margin-right: initial;
            margin-left: initial;
        }
    }
}
