.coverage-map {
    height: 565px;

    .leaflet-control-attribution {
        display: none;
    }

    .leaflet-left {
        right: 34px;
        left: auto;
    }

    .leaflet-top {
        bottom: 45px;
        top: auto;
    }

    .leaflet-bar a,
    .leaflet-bar a:hover {
        color: $color-active;
    }

    .leaflet-control-container {
        display: none;

        @media only screen and (min-width: 768px) {
            display: block;
        }
    }

    &__bottom-section {
        display: flex;
        flex-direction: column;
        // margin-top: 18.67px;
        // row-gap: 17.78px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
            display: flex;
            // column-gap: 25px;
            // margin-top: 15px;
            // row-gap: initial;
            flex-direction: row;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }

        // &--ios {
        //     column-gap: initial;
        //     row-gap: initial;
        //     margin-top: initial;
        // }
    }

    &__bottom-item {
        align-items: center;
        display: flex;
        // column-gap: 6px;
        margin-top: 18px;

        @media only screen and (min-width: 768px) {
            margin-right: 15px;
        }

        @media only screen and (min-width: 800px) {
            margin-right: 25px;
        }

        // &--ios {
        //     margin-top: 18px;

        //     @media only screen and (min-width: 768px) {
        //         margin-right: 15px;
        //     }

        //     @media only screen and (min-width: 800px) {
        //         margin-right: 25px;
        //     }
        // }
    }

    &__bottom-item-icon {
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-flex;
        margin-right: 5px;
        &--green {
            width: 12.5px;
            height: 16.5px;
            background-image: url("../../images/map/marker-green.svg");
        }

        &--yellow {
            width: 12.5px;
            height: 16.5px;
            background-image: url("../../images/map/marker-yellow.svg");
        }

        &--percent {
            width: 17.35px;
            height: 18px;
            background-image: url("../../images/map/percent.svg");
        }

        &--figure {
            width: 17px;
            height: 18px;
            background-image: url("../../images/map/figure.svg");
        }
    }

    &__bottom-item-text {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $color-text;
        align-self: flex-end;
    }
}

.coverage-map-page {
    margin-top: 12px;
    margin-bottom: 70px;

    @media only screen and (min-width: 1025px) {
        margin-top: 25px;
        margin-bottom: 150px;
    }

    &--ios {
        margin-top: 12px;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }
}

.leaflet-touch .leaflet-bar a.leaflet-control-zoom-in {
    margin-bottom: 8px;
    border-radius: 8px;
}

.leaflet-touch .leaflet-bar a.leaflet-control-zoom-out {
    border-radius: 8px;
}

.leaflet-touch .leaflet-control-container .leaflet-bar {
    border: none;
}

.marker-cluster div {
    // font: initial;
    // font-family: $roboto-bold;
    // font-weight: 700;
    // font-size: 14px;
    // color: #fff;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

// .marker-cluster-custom {
//     position: relative;
// }

.marker-cluster-custom {
    background: $color-active;
    // border: 3px solid #ededed;
    border-radius: 50%;
    text-align: center;
    font-family: $roboto-bold;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    // position: relative;
    &--large {
        height: 60px;
        width: 60px;

        &:before {
            content: "";
            width: 88px;
            height: 88px;
            border: 5px solid $color-active;
        }
    }

    &--medium {
        height: 42px;
        width: 42px;

        &:before {
            content: "";
            width: 62px;
            height: 62px;
            border: 4px solid $color-active;
        }
    }

    &--small {
        height: 26px;
        width: 26px;

        &:before {
            content: "";
            width: 38px;
            height: 38px;
            border: 2px solid $color-active;
        }
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:before {
        content: "";
        position: absolute;
        top: -96%;
        left: -98%;
        transform: translate(50%, 50%);
        border-radius: 50%;
    }
}

// .marker-cluster-large div,
// .marker-cluster-medium,
// .marker-cluster-large,
// .marker-cluster-medium div,
// .marker-cluster-small div,
// .marker-cluster-small {
//     background-color: $color-active;
// }

// .leaflet-marker-icon {
//     position: relative;

//     &:before {
//         content: '';
//         position: absolute;
//         border: 4px solid $color-active;
//         width: 50px;
//         height: 50px;
//         border-radius: 50%;
//     }
// }

.modal-popup-coverage-map {
    position: absolute;
    z-index: 440;
    box-shadow: $main-box-shadow;
    border-radius: 10px 10px 0 0;
    min-width: 328px;
    min-height: 313px;
    background: #fff;
    left: 4%;
    top: 20px;
    padding: 30px 30px 20px 30px;

    &--mobile-modif {
        min-height: 80px;
    }

    @media only screen and (min-width: 768px) {
        top: 39px;
        left: 32px;
    }

    @media only screen and (min-width: 1024px) {
        padding: 45px;
        min-width: 353px;
        // min-height: 391px;
        top: 50px;
        border-radius: 10px;
    }

    @media only screen and (min-width: 1280px) {
        left: 4%;
        min-height: 343px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 253px;

        @media only screen and (min-width: 1280px) {
            min-height: 301px;
        }

        &--mobile-modif {
            min-height: 40px;
        }
    }

    &__inet {
        // border-bottom: 1px solid #E6E6E6;
        // padding-bottom: 20px;
    }

    &__title {
        margin: 0;
        font-family: $roboto-medium;
        font-size: 16px;
        font-weight: 500;
        color: $color-text;

        @media only screen and (min-width: 1280px) {
            font-size: 18px;
        }
    }

    &__have {
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: $color-active;
        margin-top: 3px;
    }

    &__have-not {
        color: #ff9900;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        margin-top: 3px;
    }

    &__border {
        border-bottom: 1px solid #e6e6e6;
    }

    &__btn {
        font-size: 16px;
    }

    &__mobile-bottom-pannel {
        width: 100%;
        height: 30px;
        background: #fff;
        display: block;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #e6e6e6;
        top: 100%;
        left: 0;
        border-radius: 0 0 10px 10px;
        &--show-icon {
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background-image: url("../../images/mobile/arrom-map-popup-up.svg");
                width: 16px;
                height: 9px;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: translate(-50%, -50%);
            }
        }

        &--hide-icon {
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                background-image: url("../../images/mobile/arrom-map-popup-down.svg");
                width: 16px;
                height: 9px;
                background-repeat: no-repeat;
                background-size: 100%;
                transform: translate(-50%, -50%);
            }
        }

        @media only screen and (min-width: 1025px) {
            display: none;
        }
    }

    &__close {
        display: block;
        width: 13px;
        height: 13px;
        background-image: url("../../images/widgets/close.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}
