.documents {
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1366px) {
        padding: initial;
    }

    &__page-title {
        margin-top: 12px;

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        &--ios {
            margin-top: 12px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }

    &__section {
        display: grid;
        grid-template-columns: 1fr;
        // grid-template-areas: "block-1"
        //                       "block-2"
        //                       "block-3"
        //                       "block-4"
        //                       "block-5";
        row-gap: 70px;
        column-gap: 47px;
        margin-top: 30px;
        margin-bottom: 70px;

        @media only screen and (min-width: 768px) {
            // grid-template-areas: "block-1"
            //                     "block-2"
            //                     "block-3"
            //                     "block-4"
            //                     "block-5";
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: 1fr 1fr;
            margin-top: 50px;
            row-gap: 100px;
            margin-bottom: 344px;
            // grid-template-areas: "block-1 block-2"
            //                     "block-3 block-4"
            //                     "block-5";
        }
    }
    // .block-1 {
    //     grid-area: block-1;
    // }

    // .block-2 {
    //     grid-area: block-2;
    // }

    // .block-3 {
    //     grid-area: block-3;
    // }

    // .block-4 {
    //     grid-area: block-4;
    // }

    .block-5 {
        grid-column: 1 / -1;
    }

    &__category-title {
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 18px;
        color: #424242;
        margin-bottom: 20px;

        @media only screen and (min-width: 1025px) {
            font-size: 24px;
        }
    }

    &__list {
        display: grid;
        row-gap: 20px;
    }

    &__item-link {
        color: $color-active;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
    }

    &__item-link-pdf {
        color: #424242;
    }

    &__list-awards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 14px;
        row-gap: 20px;

        @media only screen and (min-width: 768px) {
            column-gap: 54px;
            row-gap: 34px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media only screen and (min-width: 1280px) {
            column-gap: 25px;
            row-gap: 35px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &__item-award {
        text-align: center;
    }

    &__img-award {
        // max-width: 132px;
        // max-height: 132px;
        width: 100%;

        @media only screen and (min-width: 360px) {
            width: 100px;
            height: 100px;
        }

        @media only screen and (min-width: 768px) {
            width: auto;
            height: auto;
        }
    }

    &__list-quality {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__item-quality {
        text-align: center;
        cursor: pointer;
    }

    &__img-popup {
        max-width: 90vw;
        max-height: 80vh;
        align-self: center;
        margin: 10px;
        display: block;
    }

    &__img-sertificate {
        max-width: 295px;
        width: 100%;
    }

    &__permissive {
    }

    &__permissive-licenses {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 70px;
        grid-column-gap: 48px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__permissive-title {
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 16px;
        color: $color-text;
        margin-bottom: 20px;

        @media only screen and (min-width: 1025px) {
            font-size: 18px;
        }
    }

    &__table {
        border-collapse: collapse;
        border-style: hidden;
        border-bottom: 1px solid #e6e6e6;

        @media only screen and (min-width: 320px) {
            width: 300px;
        }

        @media only screen and (min-width: 360px) {
            width: 328px;
        }

        @media only screen and (min-width: 1025px) {
            width: 360px;
        }
    }

    &__table-th {
        border: 1px solid #e6e6e6;
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $second-text;
        padding: 10px 0;
        &--padding-left {
            padding-left: 20px;
        }

        @media only screen and (min-width: 1025px) {
            font-size: 18px;
        }
    }

    &__table-td {
        border: 1px solid #e6e6e6;
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $color-text;
        padding: 10px 0px;

        &--padding-left {
            padding-left: 20px;
        }

        &--padding-right {
            padding-right: 20px;
        }

        &--width {
            width: 120px;
        }

        &--width-second {
            width: 130px;
            text-align: right;
        }

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
        }
    }

    &__table-second {
        border-collapse: collapse;
        border-style: hidden;
        border-bottom: 1px solid #e6e6e6;

        @media only screen and (min-width: 320px) {
            width: 300px;
        }

        @media only screen and (min-width: 360px) {
            width: 330px;
        }

        @media only screen and (min-width: 1025px) {
            width: 370px;
        }
    }

    &__permissive-text {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $color-text;

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
        }
    }

    &__promotions {
        grid-column: 1 / -1;
    }

    &__list-promotions {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        row-gap: 20px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item-promotions {
    }
}
