.custom-select-container {
    text-align: center;
    position: relative;
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    flex: 0 1 76px;
}

.custom-select-container-language {
    .select-options {
        display: none;
    }

    &:hover {
        .select-options {
            display: block;
        }

        .select-icon {
            background-image: url("../../images/header/arrow-open.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 13px;
            height: 7px;
            display: inline-flex;
            margin-left: 5px;
            // transition: .2s ease-in;
        }

        .selected-text {
            color: $color-active;
        }

        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            max-width: 62px;
            background: #00a3a4;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
}

.selected-text {
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.selected-text.active {
    color: $color-active;
}

.default-text {
    color: $second-text;
}

.select-block {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    justify-content: space-between;
    cursor: pointer;

    &.active {
        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            max-width: 62px;
            background: $color-active;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
}

.select-icon {
    background-image: url("../../images/header/arrow-closed.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 13px;
    height: 7px;
    display: inline-flex;
    margin-left: 5px;
    transition: 0.2s ease-in;
}

.select-options {
    position: absolute;
    width: 100%;
    background: #fff;
    color: $color-text;
    border-radius: 10px;
    box-shadow: $main-box-shadow;
    z-index: 10;

    .custom-select-option-li:first-child {
        .custom-select-option {
            // border-radius: 10px 10px 0 0;
        }
    }

    .custom-select-option-li:last-child {
        .custom-select-option {
            // border-radius: 0 0 10px 10px;
        }
    }
}

// .custom-select-option {
//   list-style-type: none;
//   padding: 6px 15px 6px 0px;
//   cursor: pointer;
// }

.custom-select-option {
    text-decoration: none;
    display: inline-block;
    color: $color-text;
    width: 100%;
    height: 100%;
    padding: 6px 15px 6px 0px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: #e6e6e6;
        color: $color-text;
    }

    // &--ru {
    //   border-radius: 10px 10px 0 0;
    // }

    // &--ua {
    //   border-radius: 10px 10px 0 0;
    // }

    // &--en {
    //   border-radius: 0 0 10px 10px;
    // }
}

// .custom-select-option:hover {

// }

// .custom-select-option-li:last-child {
//   border-radius: 0 0 10px 10px;
//   &:hover {
//     border-radius: 0 0 10px 10px;
//   }
// }

// .custom-select-option-li:first-child {
//   &:hover {
//     border-radius: 10px 10px 0 0;
//   }
// }
.select-options-shop {
    .custom-select-option-li--active {
        background: #e6e6e6;
    }

    .custom-select-option {
        display: flex;
        align-items: center;

        &--top {
            color: #f35101;
        }
    }

    .custom-select-option--top-miniature {
        display: inline-flex;
        background-image: url("../../images/shop/fire.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
}
