.faq-parent {
    display: flex;
    margin-top: initial;
    &__question-list-container {
        flex: 1 1 523px;
        margin-right: 50px;
        margin-top: initial;
        // @media only screen and (min-width: 1025px) {
        // margin-top: 40px;
        // }
        display: none;

        @media only screen and (min-width: 1025px) {
        display: block;
        }
    }

    &__question-list {
        display: flex;
        position: relative;
        flex-direction: column;
        height: fit-content;
        border-left: 2px solid #e6e6e6;
        padding-left: 20px;
    }

    &__question-item {
        padding-bottom: initial;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: initial;
        }

        .sideline {
            top: 0;
            position: absolute;
            height: 100%;
            width: 2px;
            background: #00a3a4;
            left: -22px;
        }
    }

    &__question-link {
        text-decoration: none;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        cursor: pointer;

        &:hover {
            color: $color-active;
        }

        &--active {
            color: $color-active;
            position: relative;

            // &:before {
            //     content: "";
            //     position: absolute;
            //     height: 100%;
            //     width: 2px;
            //     background: $color-active;
            //     left: -22px;
            // }
        }
    }

    &__answer-content {
        width: 100%;
        flex: 1 1 100%;
        margin-top: initial;
        padding: initial;

        @media only screen and (min-width: 1025px) {
            width: auto;
        }
    }

    &__default-description {
        color: $color-text;
        font-family: $roboto-regular;
        font-size: 16px;
        // line-height: 32px;
        font-weight: 400;
    }
}