.faq-search {
    margin-top: 30px;
    margin-bottom: 70px;

    @media only screen and (min-width: 1025px) {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    &__results {
        margin-top: 30px;
        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }

    &__results-top-text {
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 18px;
        color: $color-text;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;

        @media only screen and (min-width: 768px) {
            padding-bottom: 40px;
        }

        @media only screen and (min-width: 1025px) {
            padding-bottom: 20px;
            font-size: 24px;
        }
    }

    &__results-list {
    }

    &__result-item {
        margin-top: 70px;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }

        &:first-child {
            margin-top: 30px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }

    &__result-title-link {
        text-decoration: none;
        color: $color-text;
        font-family: $roboto-bold;
        font-size: 18px;
        font-weight: 700;
        transition: 0.2s ease-in;

        &:hover {
            color: $color-active;
        }

        @media only screen and (min-width: 1025px) {
            font-size: 24px;
        }
    }

    &__category-hint {
        display: block;
        color: $second-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
    }

    &__answer {
        color: $color-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        margin-top: 20px;

        a {
            color: $color-active;
            text-decoration: none;
        }
    }
}
