.faq-item {
  margin-top: 2px;
  margin-bottom: 70px;
  min-height: 1000px;

  @media only screen and (min-width: 1025px) {
    margin-top: 6px;
    margin-bottom: 100px;
  }

  &__section-top {
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
      padding: 0 32px;
    }

    // @media only screen and (min-width: 1025px) {
    //     padding: initial;
    // }

    @media only screen and (min-width: 1366px) {
      padding: initial;
    }
  }

  &__top-back-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__back {
    display: none;

    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    &:hover {
      transition: 0.2s ease-in;

      .faq-item__arrow-icon {
        transform: translateX(-5px);
      }

      .faq-item__back-link {
        color: $color-active;
        transition: 0.2s ease-in;
      }
    }
  }

  &__arrow-icon {
    display: inline-flex;
    background: url("../../images/faq/arrow.svg");
    background-size: 100%;
    height: 9px;
    width: 15px;
    margin-right: 5px;
    transition: 0.2s ease-in;
  }

  &__back-link {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: $color-text;
    text-decoration: none;
    transition: 0.2s ease-in;
  }

  &__search-autocomplete-container {
    @media only screen and (min-width: 768px) {
      max-width: 400px;
    }
  }

  &__item-questions-container {
    // margin-top: 50px;
    display: block;

    @media only screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__flex {
    margin-top: 10px;
    @media only screen and (min-width: 1025px) {
      margin-top: 50px;
    }
  }

  &__right-inner-text {
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 16px;
    color: $color-text;
    margin-top: 20px;
    line-height: 32px;

    a {
      color: $color-active;
      text-decoration: none;
      transition: 0.3s ease-in;

      &:hover {
        color: #00bebf;
        text-decoration: underline;
      }
    }
  }

  &__right-category-title {
    font-family: $roboto-bold;
    font-weight: 700;
    font-size: 18px;
    color: $color-text;
    transition: 0.3s ease-in;

    @media only screen and (min-width: 1025px) {
      font-size: 24px;
    }

    &--active {
      color: $color-active;
    }
  }

  &__left-list--top-container-point {
    top: 160px;
    transition: 0.3s ease-in;
  }

  &__left-list-titles {
    margin-right: 50px;
    flex: 1 1 523px;
  }

  &__right-item-category {
    padding-bottom: 50px;
  }

  &__tech-id-block {
    padding-top: 300px;
    @media only screen and (min-width: 768px) {
      padding-top: 285px;
    }

    @media only screen and (min-width: 1025px) {
      // padding-top: 80px;
      // padding-bottom: 150px;
      // visibility: "hidden";
      padding-top: 110px;
      padding-bottom: 90px;
    }
  }

  &__right-list-categories {
    width: 100%;
    flex: 1 1 100%;

    @media only screen and (min-width: 1025px) {
      width: initial;
    }

    &--ios {
      margin-top: 30px;

      @media only screen and (min-width: 1025px) {
        margin-top: initial;
      }
    }
  }

  &__dropdown {
    padding: 0;
    margin-top: 30px;
    .selected-text {
      text-transform: initial;
      font-family: $roboto-regular;
      font-weight: 400;
      font-size: 16px;
    }

    .custom-select-container {
      text-align: left;
      height: 52px;
    }

    .custom-select-option {
      text-transform: initial;
    }

    .select-options {
      max-height: 376px;
    }

    .select-block {
      padding: 0px 20px;
      height: 100%;
    }

    @media only screen and (min-width: 1025px) {
      display: none;
    }
  }

  &__top-container {
    display: flex;
    flex-direction: column;
    // position: sticky;
    // top: 55px;
    background: #fbfbfb;
    // padding: 20px 0;
    padding-top: 10px;
    z-index: 5;

    @media only screen and (min-width: 1025px) {
      position: static;
      padding: initial;
    }
  }

  &__page-title {
    order: -1;
    margin-bottom: 20px;

    @media only screen and (min-width: 1025px) {
      order: initial;
      margin-top: 25px;
      margin-bottom: initial;
      font-size: 30px;
    }

    @media only screen and (min-width: 1366px) {
      font-size: 40px;
    }
  }

  // &__tabset-container {
  //   display: none;

  //   @media only screen and (min-width: 1025px) {
  //     display: block;
  //   }
  // }

  .tabset__tabs {
    @media only screen and (min-width: 1025px) {
      padding: initial;
    }
  }
}
