.faq-child {
    &__answer-title {
        color: $color-text;
        font-size: 18px;
        font-family: $roboto-bold;
        font-weight: 700;
        line-height: 21px;

        @media only screen and (min-width: 1280px) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__answer-content {
        margin-top: 20px;
        color: $color-text;
        font-family: $roboto-regular;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;

        a {
            color: #00a3a4;
            text-decoration: none;
            transition: 0.3s ease-in;

            &:hover {
                color: #00bebf;
                text-decoration: underline;
            }
        }

        span {
            font-family: $roboto-regular !important;
            font-size: 16px;
        }
    }
}