.faq {
    margin-top: 22px;
    margin-bottom: 70px;

    @media only screen and (min-width: 1025px) {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    &__section-top {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-bottom: 100px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__page-title {
        text-align: center;
        font-size: 22px;

        @media only screen and (min-width: 1025px) {
            font-size: 40px;
        }
    }

    &__search-question-container {
        // display: flex;
        max-width: 764px;
        margin: 0 auto;
        margin-top: 30px;

        @media only screen and (min-width: 768px) {
            margin-top: 40px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }

    &__search-autocomplete-container {
        width: 100%;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/faq/glass.svg");
            background-size: 100%;
            width: 18px;
            height: 18px;
            top: 50%;
            left: 27px;
            transform: translate(-50%, -50%);
        }
    }

    &__autocomplete-search-question {
        width: 100%;
    }

    &__btn-search {
        border-radius: 0 10px 10px 0;
        font-family: $roboto-bold;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        display: none;

        @media only screen and (min-width: 1025px) {
            display: block;
        }
    }

    &__tiles-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        grid-column-gap: 18px;
        grid-row-gap: 40px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 60px;
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: repeat(4, 1fr);
            margin-top: 100px;
            grid-column-gap: 30px;
            grid-row-gap: 60px;
        }
    }

    &__tile-item {
        background: #fff;
        border-radius: 10px;
        box-shadow: $main-box-shadow;
        transition: 0.3s ease-in;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__tile-link {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 17px;
        justify-items: center;
        align-items: center;
        height: 100%;
        padding: 45px 0;
        text-decoration: none;

        @media only screen and (min-width: 768px) {
            grid-row-gap: 28px;
        }
    }

    &__tile-pic {
        display: block;
    }

    &__tile-name {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        text-align: center;

        @media only screen and (min-width: 768px) {
            font-size: 18px;
        }
    }

    &__no-match-question {
        padding: 40px 0;
        background: rgba(0, 0, 0, 0.02);
        margin-top: 70px;

        @media only screen and (min-width: 1025px) {
            margin-top: 100px;
            padding: 85px 0;
        }
    }

    &__no-match-question-container {
        //max-width: 561px;
        margin: 0 auto;
        text-align: center;
        padding: 0 16px;
    }

    &__no-match-question-title {
        font-family: $montserrat-bold;
        font-size: 22px;
        font-weight: 700;
        color: $color-text;

        @media only screen and (min-width: 1025px) {
            font-size: 30px;
        }
    }

    &__no-match-question-description {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        margin-top: 25px;
        margin-bottom: 30px;

        @media only screen and (min-width: 1025px) {
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    &__no-match-question-btn {
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }
}

.faq-feedback-modal {
    .offer-tariffs__modal-name-tariff {
        margin: 0;
    }

    .offer-tariffs__modal-title {
        margin-bottom: 10px;
        @media only screen and (min-width: 1025px) {
            margin-bottom: 15px;
        }
    }

    .modal-popup__or {
        margin-top: 10px;
    }
}
