@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

// @font-face {
//   font-family: Montserrat-Bold;
//   src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
// }
@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat/Montserrat-Bold.woff2");
}
@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat/montserrat-medium-webfont.woff2");
}
