.footer {
    background: $color-text;
    &__container {
        width: 100%;
        max-width: 1260px;
        margin: 0 auto;
    }

    &__horizontal-section {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        padding: 0 16px;
        padding-top: 16px;
        row-gap: 30.41px;

        &--ios {
            row-gap: initial;
        }

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
            padding-top: 32px;
        }

        @media only screen and (min-width: 1025px) {
        }

        @media only screen and (min-width: 1280px) {
            justify-content: space-between;
            flex-direction: row;
            padding: 0 32px;
            padding-top: 50px;
            row-gap: initial;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
            padding-top: 50px;
        }
    }

    &__logo {
        position: relative;

        &--ios {
            @media only screen and (min-width: 768px) {
                margin-bottom: 30px;
            }

            @media only screen and (min-width: 1280px) {
                margin-bottom: initial;
            }
        }
    }

    &__section-cell {
        display: none;

        @media only screen and (min-width: 1280px) {
            display: block;
        }

        &--last {
            display: flex;
        }
    }

    &__section-title {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        font-family: $roboto-bold;
        margin-bottom: 5px;

        &--margin-bottom {
            margin-bottom: 15px;
            color: $second-text;
        }
    }

    &__section-list {
    }

    &__section-list-last {
        display: flex;
        margin-top: 15px;

        @media only screen and (min-width: 1025px) {
            margin-top: 12px;
        }
    }

    &__section-list-item {
        margin-bottom: 15px;
    }

    &__link-lowercase {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        &:hover {
            opacity: 0.5;
        }
    }

    &__link-uppercase {
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        &:hover {
            opacity: 0.5;
        }
    }

    &__section-cell-wrapper {
        margin-bottom: 35px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }

        @media only screen and (min-width: 1025px) {
            margin-bottom: 50px;
        }

        @media only screen and (min-width: 1280px) {
            margin-bottom: 50px;
        }

        &--speedtest {
            margin-bottom: 50px;
        }

        &--speedtest-ios {
            @media only screen and (min-width: 768px) {
                flex: 1 1 100%;
                margin-top: 50px;
            }

            @media only screen and (min-width: 1025px) {
                flex: initial;
                margin-top: initial;
            }
        }

        &--ios {
            @media only screen and (min-width: 768px) {
                flex: 0 1 auto;
            }

            @media only screen and (min-width: 1025px) {
                flex: initial;
            }
        }
    }

    &__section-item-preview {
        margin-right: 48px;
        height: 24px;
    }

    &__last-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            flex-wrap: wrap;
            column-gap: 130px;
            row-gap: 50px;
        }

        &--ios {
            @media only screen and (min-width: 768px) {
                column-gap: initial;
                row-gap: initial;
            }
        }

        @media only screen and (min-width: 1025px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            flex-wrap: initial;
            column-gap: initial;
            row-gap: initial;
            width: 100%;
        }

        @media only screen and (min-width: 1280px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            flex-wrap: initial;
            column-gap: initial;
            row-gap: initial;
            width: auto;
        }
    }

    &__link-app {
        // position: relative;
        &:before {
            content: "";
            position: absolute;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }
        &--google-play {
            &:before {
                content: "";
                background-image: url("../../images/footer/google-app.svg");
            }
        }

        &--apple {
            &:before {
                content: "";
                background-image: url("../../images/footer/apple.svg");
            }
        }

        &--youtube {
            &:before {
                content: "";
                background-image: url("../../images/footer/youtube.svg");
            }
        }

        &--insta {
            &:before {
                content: "";
                background-image: url("../../images/footer/instagram.svg");
            }
        }

        &--fb {
            &:before {
                content: "";
                background-image: url("../../images/footer/facebook.svg");
            }
        }

        &--viber {
            &:before {
                content: "";
                background-image: url("../../images/footer/viber.svg");
            }
        }

        &--telegram {
            &:before {
                content: "";
                background-image: url("../../images/footer/telegram.svg");
            }
        }

        &:hover {
            &:after {
                content: "";
                background-color: rgba(255, 255, 255, 0.5);
                width: 25px;
                height: 25px;
                position: absolute;
                border-radius: 5px;
            }
        }
    }

    &__section-text {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: #b8b8b8;
    }

    &__copyright {
        font-size: 12px;
        font-weight: 400;
        font-family: $roboto-regular;
        color: #b8b8b8;
        text-align: center;
        margin-top: 5px;
        padding-bottom: 20px;
    }

    &__speedtest-img {
        display: block;
        margin-top: 16px;
        background-image: url("../../images/footer/speedtest.svg");
        background-size: 100%;
        width: 190px;
        height: 23px;

        &:hover {
            display: block;
            margin-top: 16px;
            background-image: url("../../images/footer/speedtest-hover.svg");
            background-size: 100%;
            width: 190px;
            height: 23px;
        }
    }

    &__copyright-label {
        color: #1b9485;
    }
}
