.header {
    // overflow: hidden;
    transition: transform 0.4s;
    width: 100%;
    position: absolute;

    &.sticky {
        position: fixed;
        background: #f8f8f8;
        z-index: 100;
        animation: moveDown 0.5s ease-in-out;
        left: 0;
    }

    &__wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        padding: 0 16px;
        position: relative;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1280px) {
            margin: 0 auto;
            max-width: 1260px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 82px;
            // padding: initial;
        }

        // @media only screen and (min-width: 1200px) {
        //     padding: initial;
        // }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }

        &--isSticky {
            // padding: 18px 0 18px 0;
            // align-items: center;
        }
    }

    &__logo {
        flex: initial;
        // display: inline-flex;
        @media only screen and (min-width: 1280px) {
            flex: 1 1 40px;
        }
    }

    &__logo-link {
        cursor: pointer;
    }

    &__logo-link:hover {
        background-color: transparent;
    }

    &__logo-pic {
        height: 35.59px;
        width: 83px;
        display: inline-flex;
        transition: 0.2s ease-in;
        vertical-align: bottom;

        @media only screen and (min-width: 1280px) {
            height: 52px;
            width: 121px;
            vertical-align: initial;
        }
    }

    &__support {
        flex: 1 1 120px;
        text-align: center;
    }

    &__tv-icon {
        height: 22px;
        width: 22px;
        flex: 0 1 60px;
        text-align: center;
        display: none;

        &:before {
            content: "";
            left: 50%;
            transform: translate(-50%, 0);
        }

        @media only screen and (min-width: 1280px) {
            display: block;
        }
    }

    &__top-panel-lng {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        flex: 0 1 auto;
        // margin-right: 10px;
        // align-self: flex-end;
    }

    &__account-link {
        color: $color-active;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        flex: 0 1 auto;
        line-height: initial;
        display: inline-flex;
        gap: 3px;
        transition: 0.2s ease-in;
        display: none;

        &:hover {
            color: #00bebf;
            transition: 0.2s ease-in;

            .header__user-icon {
                background: url("../../images/header/user-icon-hover.svg");
                background-size: 100%;
                background-repeat: no-repeat;
                height: 18px;
                width: 18px;
                display: inline-flex;
                transition: 0.2s ease-in;
            }
        }

        @media only screen and (min-width: 1280px) {
            display: flex;
            align-items: center;
        }
    }

    &__user-icon {
        background: url("../../images/header/user-icon.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 18px;
        width: 18px;
        display: inline-flex;
        transition: 0.2s ease-in;
    }

    &__navbar {
        display: none;
        flex: 1 1 auto;

        &--isSticky {
            margin-top: 0;
        }

        @media only screen and (min-width: 1280px) {
            display: block;
        }
    }

    &__remove-on-mobile {
        display: none;

        @media only screen and (min-width: 1280px) {
            display: block;
        }

        .custom-select-option-li:first-child {
            .custom-select-option:hover {
                border-radius: 10px 10px 0px 0px;
            }
        }

        .custom-select-option-li:last-child {
            .custom-select-option:hover {
                border-radius: 0px 0px 10px 10px;
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__menu-item {
        // margin-right: 76px;
        position: relative;
        padding: 6px 0;
        // display: inline-flex;
        border-bottom: 2px solid transparent;
        transition: 0.2s ease-in;

        &:hover {
            .header__menu-submenu {
                visibility: visible;
                transition: 0.2s ease-in;
                opacity: 1;
            }

            .header__menu-item-link {
                color: $color-active;
                transition: color 0.2s ease-in;
                // padding: 6px 0;
            }

            .header__arrow-closed {
                margin-left: 3px;
                background: url("../../images/header/arrow-open.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 7px;
                width: 13px;
                display: inline-flex;
                //transition: .2s ease-in;
            }
        }

        &--modif {
            &:hover {
                border-bottom: 2px solid $color-active;
                transition: border-bottom 0.2s ease-in;
            }
        }
    }

    &__menu-item-link {
        font-size: 14px;
        font-family: $roboto-medium;
        font-weight: 500;
        color: $color-text;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in;
    }

    &__arrow-closed {
        margin-left: 3px;
        background: url("../../images/header/arrow-closed.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 7px;
        width: 13px;
        display: inline-flex;
        transition: 0.2s ease-in;
    }

    &__menu-submenu {
        position: absolute;
        z-index: 30;
        visibility: hidden;
        background: #fff;
        width: max-content;
        opacity: 0;
        transition: 0.2s ease-in;
        top: 100%;
        transform: translate(-20px, 2px);
        border-radius: 10px;
        padding: 11px 0;
        box-shadow: $main-box-shadow;
    }

    &__menu-submenu-item {
        cursor: pointer;
    }

    &__submenu-link {
        padding: 8px 30px 8px 20px;
        display: inline-flex;
        width: 100%;
        color: $color-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;

        &:hover {
            background: #e6e6e6;
        }
    }

    &__scroll-down {
        top: 0;
        z-index: 1000;
        @media only screen and (min-width: 1280px) {
            transform: translate3d(0, -100%, 0);
        }
    }

    &__scroll-up {
        transform: none;
        // position: fixed;
        // z-index: 500;
        position: sticky;
        top: 0;
        z-index: 1005;
    }

    &__mobile-menu {
        display: block;

        @media only screen and (min-width: 1280px) {
            display: none;
        }
    }

    &__mobile-support {
        display: block;
        background-image: url("../../images/mobile/support.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 30px;
        width: 30px;
        position: absolute;
        right: 57px;
        cursor: pointer;

        @media only screen and (min-width: 1280px) {
            display: none;
        }
    }

    &__mobile-items {
        display: flex;
        align-items: center;
        column-gap: 34.41px;
        position: relative;
    }

    &__seven-days-link {
        display: block;
        background-image: url("../../images/widgets/seven-days-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 112px;

        @media only screen and (min-width: 1280px) {
            display: none;
        }
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0rem);
    }
}
