.help-articles {
    margin-top: 20px;
    margin-bottom: 70px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 100px;
    }

    @media only screen and (min-width: 1280px) {
        margin-top: 50px;
        margin-bottom: 200px;
    }

    &__page-title {
        margin-top: 70px;
    }

    &__section {
        margin-top: initial;
    }

    &__contacts-service-support {
        margin-top: 70px;

        @media only screen and (min-width: 1280px) {
            margin-top: 100px;
        }
    }

    &__content {
        font-size: 16px;
        font-weight: 400;
        color: $color-text;
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
            0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
            0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
            0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        border-radius: 10px;
        margin-top: 30px;
        background: #fff;
        overflow: hidden;
        line-height: 150%;
        padding: 25px 0;

        @media only screen and (min-width: 1280px) {
            padding: 45px 0;
        }

        div {
            & img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }

            p {
                & img {
                    display: block;
                    max-width: 100%;
                    max-height: 540px;
                    width: inherit;
                }
            }
        }

        img {
            display: block;
            max-width: 100%;
            max-height: 540px;
            width: inherit;
            cursor: pointer;

            //@media only screen and (min-width: 1280px) {
            //    width: 75%;
            //}

        }

        h1, h2, h3 {
            font-family: $roboto-bold;
            font-weight: 700;
            font-size: 18px;
            color: $color-text;
            line-height: 22px;
            padding: 0 25px;

            @media only screen and (min-width: 1280px) {
                padding: 0 45px;
                //padding-bottom: 45px;
                font-size: 30px;
                font-family: $montserrat-bold;
            }
        }

        h2 {
            margin-top: 0;
            margin-bottom: 20px;

            @media only screen and (min-width: 1280px) {
                margin-bottom: 50px;
            }
        }

        h3 {
            margin-top: 70px;
            margin-bottom: 20px;
            font-family: $montserrat-bold;
            font-size: 30px;
            line-height: 36.57px;
            color: $color-text;

            @media only screen and (min-width: 768px) {
                margin-top: 70px;
            }

            @media only screen and (min-width: 1280px) {
                margin-top: 100px;
                margin-bottom: 50px;
            }
        }

        pre {
            white-space: initial;
            font-family: $roboto-regular;
            margin: 0;
            padding: 0 25px;

            @media only screen and (min-width: 1280px) {
                padding: 0 45px;
            }
        }

        p {
            padding: 15px 25px;

            & img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }

            @media only screen and (min-width: 1280px) {
                padding: 10px 45px;
            }
        }

        a {
            text-decoration: none;
            color: $color-active;
            transition: .3s ease-in;

            &:hover {
                color: #00BEBF;
                text-decoration: underline;
            }

            & img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }

        }

        ul.step-list-stripped, ol.step-list-stripped {
            padding: 0;
            list-style: none;
            counter-reset: my-awesome-counter;

            p {
                padding: initial;

                @media only screen and (min-width: 1280px) {
                    padding: initial;
                }

                &  img {
                    display: block;
                    max-width: 100%;
                    max-height: 540px;
                    width: inherit;
                }
            }

            li {
                padding: 25px;
                counter-increment: my-awesome-counter;

                @media only screen and (min-width: 1280px) {
                    padding: 45px;
                }
                & img {
                    display: block;
                    max-width: 100%;
                    max-height: 540px;
                    width: inherit;
                }
            }

            img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }

            li::before {
                padding-bottom: 10px;
                display: block;
                font-size: 16px;
                content: counter(my-awesome-counter) ". ";
                color: $color-text;
                font-weight: bold;

                @media only screen and (min-width: 1280px) {
                    font-size: 24px;
                }
            }

            li:nth-child(even) {
                background: #f6f6f6;
            }

            iframe {
                margin: 10px 0;
            }
        }

        ol,
        ul {
            display: flex;
            flex-direction: column;
            padding: 0 45px;
            list-style: auto;

            @media only screen and (min-width: 1280px) {
                padding: 0 63px;
            }

            img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }

            iframe {
                margin: 10px 0;
            }

            p {
                padding: initial;
                @media only screen and (min-width: 1280px) {
                    padding: initial;
                }

               & img {
                    display: block;
                    max-width: 100%;
                    max-height: 540px;
                    width: inherit;
                }
            }

            li {
                @media only screen and (min-width: 1280px) {
                    //padding: 45px;
                    padding-left: 5px;
                }

               & img {
                    display: block;
                    max-width: 100%;
                    max-height: 540px;
                    width: inherit;
                }
            }

            li:nth-child(even) {
                //background: #F6F6F6;
            }
        }

        ul {
            list-style: unset;

            & img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }
        }

        .special-container {
            background: #f6f6f6;
            padding: 25px;
            @media only screen and (min-width: 1280px) {
                padding: 45px;
            }
            img {
                display: block;
                max-width: 100%;
                max-height: 540px;
                width: inherit;
            }
        }

    }

    &__palette-list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 23px;
        }
    }

    &__palette-item {
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
            0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
            0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
            0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        border-radius: 10px;

        &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06),
                0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
                0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
                0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
                0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);

            .help-arrow-widget {
                background: #cceded;
            }

            .help-arrow-widget__icon {
                transform: translate(0%, -50%);
            }
        }
    }

    &__palette-link {
        text-decoration: none;
        padding: 25px;
        display: block;
        // width: 326px;
        // height: 304px;

        @media only screen and (min-width: 768px) {
            padding: 30px;
            // width: 336px;
            // height: 314px;
            // margin: 0 auto;
        }

        @media only screen and (min-width: 1366px) {
            padding: 45px;
            // width: 405px;
            // height: 407px;
            // margin: initial;
        }
    }

    &__palette-pic {
        width: 100%;

        // @media only screen and (min-width: 768px) {
        //     width: 276px;
        //     height: 208px;
        // }

        // @media only screen and (min-width: 1366px) {
        //     width: 315px;
        //     height: 237px;
        // }
    }

    &__pallette-bottom {
        display: flex;
        align-items: center;
        margin-top: 25px;

        @media only screen and (min-width: 1366px) {
            margin-top: 30px;
        }
    }

    &__pallette-title {
        color: $color-text;
        font-family: $roboto-medium;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;

        @media only screen and (min-width: 1366px) {
            max-width: 250px;
        }
    }
}
