.help-category-links {
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 40px;
        box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
            0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
            0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
            0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        border-radius: 10px;
        transition: 0.2s ease-in;

        &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06),
                0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
                0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
                0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
                0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
            .help-arrow-widget {
                background: #cceded;
            }

            .help-arrow-widget__icon {
                transform: translate(0%, -50%);
            }
        }

        @media only screen and (min-width: 1280px) {
            margin-bottom: 30px;
        }
    }

    &__link {
        display: block;
        // flex-direction: column;
        // align-items: center;
        text-decoration: none;
        padding: 25px;

        @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 35px;
        }

        @media only screen and (min-width: 1280px) {
            padding: 45px;
        }
    }

    &__img {
        width: 62px;
        height: 62px;
        align-self: flex-start;
    }

    &__text-block {
        @media only screen and (min-width: 768px) {
            margin-left: 30px;
        }
    }

    &__title {
        font-family: $roboto-bold;
        font-size: 18px;
        font-weight: 700;
        color: $color-text;
        line-height: 22px;
        margin-top: 20px;

        @media only screen and (min-width: 768px) {
            margin-top: initial;
        }

        @media only screen and (min-width: 1280px) {
            font-size: 24px;
            line-height: 28.13px;
        }
    }

    &__description {
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: $color-text;
        line-height: 24px;
        margin-top: 20px;

        @media only screen and (min-width: 768px) {
            margin-top: initial;
        }
    }

    &__arrow-direction {
        margin-left: auto;
        display: none;

        @media only screen and (min-width: 1280px) {
            display: block;
        }
    }
}
