.help-page {
    margin-bottom: 70px;

    @media only screen and (min-width: 1025px) {
        margin-bottom: 100px;
    }

    &-section {
        margin-top: 20px;

        @media only screen and (min-width: 1280px) {
            margin-top: 25px;
        }
    }

    &__title {
        text-align: left;
        font-size: 22px;
        line-height: 48px;

        @media only screen and (min-width: 1025px) {
            font-size: 40px;
        }
    }
}

.help-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 17px;
    height: 100%;
    padding: 25px;
    text-decoration: none;

    &:hover {
        .help-arrow-widget {
            background: #cceded;
        }

        .help-arrow-widget__icon {
            transform: translate(0%, -50%);
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 45px;
    }

    &__img {
        display: block;
        width: 100px;
        height: 100px;
    }

    &__content {
        font-family: $roboto-regular;
        color: $color-text;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: $roboto-bold;
        line-height: 22px;
    }

    &__text {
        font-size: 16px;
        line-height: 150%;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 45px;
    }

    &__action {
        flex: none;
        margin-top: 45px;
    }
}

.help-faq {
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 30px;
    }

    @media only screen and (min-width: 1025px) {
        padding: 0 32px;
        margin-bottom: 100px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
        grid-column-gap: 21px;
        grid-row-gap: 40px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 38px;
        }

        @media only screen and (min-width: 1025px) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 21px;
            grid-row-gap: 30px;
        }
    }

    &__item {
        background: #fff;
        border-radius: 10px;
        transition: 0.3s ease-in;
        box-shadow: $main-box-shadow;

        &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06),
                0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
                0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
                0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
                0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
        }
    }
}

// ЭЛЕМЕНТ ОТДЕЛЬНЫЙ
.help-request {
    //padding: 40px 0;
    background: rgba(0, 0, 0, 0.02);
    margin-top: 70px;

    @media only screen and (min-width: 1025px) {
        margin-top: 100px;
    }

    // БЛОК
    &__container {
        max-width: 561px;
        margin: 0 auto;
        text-align: center;
        padding: 40px 19px;

        @media only screen and (min-width: 1025px) {
            padding: 85px 0;
        }
    }

    &__title {
        font-family: $montserrat-bold;
        font-style: normal;
        font-size: 30px;
        font-weight: 700;
        color: $color-text;
    }

    &__text {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 18px;
        color: $color-text;
        line-height: 21px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    &__btn {
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }

    &__support {
        margin-top: 30px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            margin-top: 70px;
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            margin-top: 70px;
            padding: initial;
        }
    }
}
