.help-directory {
    margin-top: 20px;
    margin-bottom: 70px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 100px;
    }

    @media only screen and (min-width: 1280px) {
        margin-top: 50px;
        margin-bottom: 200px;
    }

    &__page-title {
        margin-top: 70px;
    }

    &__section {
        margin-top: initial;
    }

    &__categories {
        margin-top: 30px;
    }

    &__contacts-service-support {
        margin-top: 30px;

        @media only screen and (min-width: 1280px) {
            margin-top: 70px;
        }
    }
}
