.home {
    &__slider {
        // margin-top: 82px;
        box-shadow: $main-box-shadow;
        padding-bottom: 20px;
        // min-height: 394px;

        @media only screen and (min-width: 1025px) {
            padding-bottom: initial;
            box-shadow: none;
            position: relative;
        }

        &--ios {
            margin-top: 55px;

            @media only screen and (min-width: 1025px) {
                margin-top: 82px;
            }
        }
    }

    &__section-top {
        margin-top: 25px;
        padding: 0 14.22px;
        padding-right: initial;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
            margin-top: 75px;
            // padding-right: initial;
        }

        // @media only screen and (min-width: 1025px) {
        //     padding: initial;
        // }

        @media only screen and (min-width: 1280px) {
            // padding: initial;
            margin-top: 50px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__page-title {
        font-size: 28px;
        padding: 45px 20px 30px 0;
        @media only screen and (min-width: 768px) {
            padding: 0 0 30px 0;
        }

        @media only screen and (min-width: 1025px) {
            font-size: 40px;
            padding: 0 0 50px 0;
        }
    }

    &__page-subtitle {
        &--modif {
            font-size: 19.56px;

            @media only screen and (min-width: 768px) {
                font-size: 22px;
            }

            @media only screen and (min-width: 1025px) {
                font-size: 30px;
            }
        }
    }

    &__strong-sides-list {
        margin-top: 28.47px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 44px;
        column-gap: 20px;

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 29px;
        }

        @media only screen and (min-width: 1024px) {
            margin-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 50px;
            column-gap: 50px;
        }
    }

    &__section {
        margin-top: 62.22px;

        @media only screen and (min-width: 768px) {
            margin-top: 70px;
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 100px;
        }

        @media only screen and (min-width: 1280px) {
            // padding: initial;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__section-map {
        border-radius: 8.88889px 8.88889px 0px 0px;
        //box-shadow: 0px 2.45754px 20.6487px rgba(0, 0, 0, 0.0417275), 0px 1.39417px 11.5755px rgba(0, 0, 0, 0.035), 0px 0.756229px 6.14765px rgba(0, 0, 0, 0.0282725), 0px 0.322199px 2.55818px rgba(0, 0, 0, 0.0196802);
        margin-top: 48px;
        padding: 16px 0;
        position: relative;

        // &:after {
        //     background: #ffffff;
        //     height: 20px;
        //     content: "";
        //     position: absolute;
        //     bottom: -20px;
        //     left: -20px;
        //     right: -20px;
        // }

        @media only screen and (min-width: 768px) {
            margin-top: 70px;
            padding-top: 32px;
        }

        @media only screen and (min-width: 1025px) {
            border-radius: initial;
            //box-shadow: initial;
            margin-top: 100px;
            padding-top: 0;
        }
    }

    &__section-cards {
        margin-top: 62.22px;
        padding-right: initial;

        @media only screen and (min-width: 768px) {
            margin-top: 70px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 100px;
            padding-right: 32px;
            padding-left: 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
            // padding-right: initial;
        }
    }

    &__wrapper-fomr-map {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__fixes-message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            padding: initial;
        }

        &--ios {
            margin-top: 55px;

            @media only screen and (min-width: 1025px) {
                margin-top: 85px;
            }
        }
    }

    &__fixes-message {
        text-align: center;
        padding: 10px 0;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        opacity: 0.8;
    }

    &__fixes-message-link {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        margin-left: 30px;
        position: relative;
        display: flex;
        align-items: center;

        // &:after {
        //     content: '';
        //     position: absolute;
        //     background-image: url('../../images/home/arrow-right.svg');
        //     background-size: 100%;
        //     background-repeat: no-repeat;
        //     height: 9px;
        //     width: 15px;
        //     transform: translate(5px, -50%);
        //     top: 50%;
        //     left: 100%;
        //     transition: .3s ease-in;
        // }

        @media only screen and (min-width: 768px) {
            margin-left: 20px;
        }

        &:hover {
            .home__fixes-message-link-arrow {
                transform: translate(10px, 0);
            }
        }
    }

    &__fixes-message-link-arrow {
        background-image: url("../../images/home/arrow-right.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-flex;
        height: 9px;
        width: 15px;
        transform: translate(5px, 0);
        top: 50%;
        left: 100%;
        transition: 0.3s ease-in;
    }

    &__section-our-apps {
        &--ios {
            @media only screen and (min-width: 1025px) {
                margin-top: 70px;
            }

            @media only screen and (min-width: 1280px) {
                margin-top: 100px;
            }
        }
    }
}
