.how-connect {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 70px;
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 87px;
    }

    @media only screen and (min-width: 1025px) {
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        // gap: 10px;
    }

    &__miniature {
        display: inline-flex;
        background-color: rgba(0, 163, 164, 0.1);
        width: 150px;
        height: 150px;
        position: relative;
        border-radius: 50%;
        &:before {
            content: "";
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
        }
        &--tap {
            &:before {
                content: "";
                // background-image: url('../../images/tv/tap.svg');
                background-image: url("../../images/new-how-connect/how-to-connect-icon1.svg");
                width: 150px;
                height: 150px;
            }
        }
        &--speaker {
            &:before {
                content: "";
                // background-image: url('../../images/tv/speaker.svg');
                background-image: url("../../images/new-how-connect/how-to-connect-icon2.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--fixer {
            &:before {
                content: "";
                // background-image: url('../../images/tv/fixer.svg');
                // width: 112px;
                // height: 112px;
                background-image: url("../../images/new-how-connect/how-connect-fixer.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--darts {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-rocket.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--contract {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-contract.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--checked-finish {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-checked-finish.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--rocket-into-tv {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-rocket-into-tv.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--no-fixer {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-no-fixer.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--watch-iptv {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-watch-iptv.svg");
                width: 150px;
                height: 150px;
            }
        }

        &--love-channels {
            &:before {
                // background-image: url('../../images/tv/darts.svg');
                // height: 107px;
                // width: 107px;
                background-image: url("../../images/new-how-connect/how-connect-love-channels.svg");
                width: 150px;
                height: 150px;
            }
        }
    }

    &__title {
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: $roboto-bold;
        font-weight: 900;
        font-size: 16px;
        color: $color-text;

        @media only screen and (min-width: 1025px) {
            margin-top: 20px;
        }
    }

    &__description {
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: $color-text;
        text-align: center;
    }

    &__description-connect {
        font-family: $roboto-medium;
        font-weight: 500;
    }

    &__description-medium500 {
        font-family: $roboto-medium;
        font-weight: 500;
    }

    &__description-first-str {
        display: block;
    }
}
