.tv-icon {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        background-image: url("../../images/header/tv-icon-default.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        transition: 0.2s ease-in;
    }

    &:hover {
        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/header/tv-icon-hover.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 22px;
            height: 22px;
            transition: 0.2s ease-in;
        }
    }
}
