.inet-business {
    &__rent {
        flex: 1 1 0;

        @media only screen and (min-width: 768px) {
            margin-right: 30px;
        }

        @media only screen and (min-width: 1280px) {
            padding: initial;
            margin-right: 65px;
        }
    }

    &__strong-sides-list {
        column-gap: 60px;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__rent-section {
        margin-top: 70px;
        margin-bottom: 70px;
        // padding: 220px 0 0 0;
        position: relative;

        @media only screen and (min-width: 768px) {
            // padding: 300px 0 0 0;
            background: rgba(0, 0, 0, 0.02);
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 73px;
            margin-bottom: 100px;
            // padding: 133px 0;
            position: static;
        }
    }

    &__rent-relative {
        display: flex;
        align-items: center;
        padding: 0 16px;
        flex-direction: column-reverse;
        // position: absolute;
        // max-width: 1920px;
        // margin: 0 auto;
        // top: 0;
        // right: 0;
        // display: none;

        // @media only screen and (min-width: 1025px) {
        //     // display: block;
        //     position: relative;
        //     top: initial;
        //     right: initial;
        // }

        @media only screen and (min-width: 768px) {
            padding: 40px 32px;
            flex-direction: row;
        }

        @media only screen and (min-width: 1025px) {
            padding: 62px 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: 62px 0;
        }
    }

    &__rent-description {
        margin-top: 15px;

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }
    }

    &__rent-text {
        color: $color-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 14px;

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
        }
    }

    &__page-subtitle {
    }

    &__page-subtitle-tariff {
        margin-top: 15px;

        @media only screen and (min-width: 768px) {
            margin-top: 20px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }

    &__margin-btn {
        margin-top: 25px;

        button {
            margin: 0;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 35px;
        }
    }

    &__rent-img {
        // background-image: url('../../images/inet-business/cable.png');
        // background-repeat: no-repeat;
        // background-size: 100%;
        // width: 500px;
        // height: 500px;
        // display: inline-block;
        // right: 0;
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 328px;
            height: 328px;
        }

        @media only screen and (min-width: 1025px) {
            width: 500px;
            height: 500px;
            // transform: translateY(-270px);
        }
    }
}
