body {
    background: #fbfbfb;
}
.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    // max-width: 1440px;
    min-width: 320px;
    width: 100%;
    position: relative;
}

.header {
    order: -1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    background: #fff;
}

.main {
    flex: 1 0 auto;
    order: 2;
    width: 100%;
}

.footer {
    flex: 0 0 auto;
    order: 4;
    margin-top: auto;
}

.wrapper {
    max-width: 1260px;
    margin: 0 auto;
}

.section {
    margin-top: 70px;
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1025px) {
        margin-top: 100px;
    }

    @media only screen and (min-width: 1366px) {
        padding: initial;
    }

    &__consoles {
        padding: initial;
    }
}

.section-padding {
    padding: 106px 0 116px 0;
}

.margin-map {
    margin-top: 30px;
    position: relative;

    .coverage-map {
        max-height: 395px;

        @media only screen and (min-width: 768px) {
            max-height: 458px;
        }

        @media only screen and (min-width: 1025px) {
            max-height: initial;
        }
    }
}
