.mobile-sidebar {
  &__burger {
    position: static;
    display: block;
    cursor: pointer;

    &--opened {
      background-image: url("../../images/mobile/burger-close.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 19.18px;
      width: 19.18px;
    }

    &--closed {
      background-image: url("../../images/mobile/burger-open.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 24px;
      height: 14px;
    }
  }

  &__container {
    background: #ffffff;
    box-shadow: $main-box-shadow;
    position: fixed;
    top: 55px;
    right: 0;
    max-width: 242px;
    width: 100%;
    z-index: 1010;
    overflow: scroll;
    height: 100%;
    max-height: 760px;
    padding-bottom: 60px;
    min-height: 620px;

    @media only screen and (min-width: 768px) {
      height: 100vh;
      max-height: initial;
    }

    &--visible {
      visibility: visible;
      transform: translateX(0%);
      transition: 0.3s ease-in;
      overflow: scroll;
      height: 100%;
    }

    &--hidden {
      visibility: hidden;
      transform: translateX(100%);
      transition: 0.3s ease-in;
    }

    &--for-channels {
      top: 226px;
      max-height: 630px;
    }
  }

  &__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 55px;
    left: 0;
    z-index: 1005;
    // transition: .3s ease-in;

    &--ios {
      height: 100vh;
    }
  }

  &__first-section {
    display: flex;
    flex-direction: column;
    // row-gap: 25px;
    padding: 30px 0;

    // &--ios {
    //     row-gap: initial;
    // }
  }

  &__languages {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    // &--ios {
    //     margin-bottom: 25px;
    // }
  }

  &__language {
    flex: 0 1 68px;
    text-align: center;
  }

  &__language-link {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    width: 45px;
    color: #424242;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      color: $color-active;
      border: 1px solid $color-active;

      //   &:after {
      //     content: "";
      //     position: absolute;
      //     height: 45px;
      //     width: 45px;
      //     border: 1px solid $color-active;
      //     border-radius: 50%;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //     background: none;
      //   }
    }
  }

  &__tv {
    margin-left: 29px;
    // margin-bottom: 25px;
  }

  // &__givo-chat {
  //     margin-left: 29px;
  // }

  // &__givo-chat-link {
  //     display: flex;
  //     align-items: center;
  //     // column-gap: 4.73px;
  //     text-decoration: none;
  // }

  // &__givo-chat-icon {
  //     background-image: url("../../images/mobile/givo-chat-mobile.svg");
  //     background-repeat: no-repeat;
  //     background-size: 100%;
  //     height: 18px;
  //     width: 18px;
  //     display: inline-flex;
  //     margin-right: 5px;
  // }

  // &__givo-chat-text {
  //     font-family: $roboto-regular;
  //     font-size: 16px;
  //     font-weight: 400;
  //     color: #424242;
  // }

  &__tv-link {
    display: flex;
    align-items: center;
    // column-gap: 4.73px;
    text-decoration: none;
  }

  &__tv-icon {
    background-image: url("../../images/header/tv-icon-default.svg");
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }

  &__iptv-briz {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
  }

  &__account-link {
    margin-left: 29px;
    margin-top: 25px;
    margin-bottom: 25px;

    .header__account-link {
      display: flex;
      align-items: center;
      gap: initial;
      // column-gap: 4.73px;
    }

    .header__user-icon {
      margin-right: 5px;
    }

    // &--ios {
    //     margin-top: 25px;
    //     margin-bottom: 25px;
    // }
  }

  &__has-inner-block {
    padding-left: 29px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    // row-gap: 20px;
    padding: 30px 0 29px 30px;

    // &--ios {
    //     row-gap: initial;
    // }
  }

  &__no-inner-block {
    padding-left: 29px;

    &--1 {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    &--2 {
      // margin-top: 30px;
      padding-bottom: 20px;
    }

    &--3 {
      margin-bottom: 30px;
    }

    &--4 {
      padding-top: 30px;
    }

    &--5 {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &--6 {
      padding-bottom: 20px;
    }

    &--7 {
      margin-bottom: 30px;
    }
  }

  &__has-inner-block-title {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: #d9d9d9;
    margin-bottom: 20px;

    // &--ios {
    //     margin-bottom: 20px;
    // }
  }

  &__has-inner-block-link {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
    text-decoration: none;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    // &--ios {
    //     margin-bottom: 20px;

    //     &:last-child {
    //         margin-bottom: 0;
    //     }
    // }
  }

  &__no-inner-block-link {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
    text-decoration: none;
  }

  &__contacts {
    border-top: 1px solid #e6e6e6;
  }

  &__contacts-list {
    padding-top: 30px;
    padding-bottom: 90px;
    padding-left: 29px;
    display: flex;
    flex-direction: column;
    // row-gap: 20px;

    // &--ios {
    //     row-gap: initial;
    // }
  }

  &__contacts-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    // &--ios {
    //     margin-bottom: 20px;

    //     &:last-child {
    //         margin-bottom: 0;
    //     }
    // }
  }

  &__contacts-link {
    text-decoration: none;
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: #424242;
  }
}
