.modal-popup {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    &__overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1008;
    }

    &__window {
        position: absolute;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: $main-box-shadow;
        border-radius: 10px;
    }

    &__window-close {
        position: absolute;
        font-size: 0px;
        background-image: url("../../images/widgets/close.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 13px;
        height: 13px;
        right: 17px;
        top: 17px;
        cursor: pointer;
        z-index: 110;
        border: none;
        background-color: transparent;

        @media only screen and (min-width: 1025px) {
            width: 16px;
            height: 16px;
            right: 20px;
            top: 20px;
        }
    }

    &__content {
        position: relative;
        padding: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 328px;

        @media only screen and (min-width: 768px) {
            padding: 45px;
            min-width: 455px;
        }

        &--callme {
            .modal-popup__title,
            .modal-popup__text,
            .modal-popup__aditional-description {
                text-align: center;
            }

            .modal-popup__title {
                font-size: 24px;
            }

            .modal-popup__text {
                margin-top: 25px;
            }

            .modal-popup__button {
                margin-left: auto;
                margin-right: auto;
            }

            @media only screen and (min-width: 768px) {
                width: 455px;
            }
        }

        &--comment {
            text-align: center;
            width: 330px;

            @media only screen and (min-width: 768px) {
                width: 550px;
            }

            &--to-many-comment,
            &--send-email-error {
                width: 330px;
                @media only screen and (min-width: 768px) {
                    width: 545px;
                }
            }
        }

        &--write-comment {

            button {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media only screen and (min-width: 768px) {
                padding: 45px;
                min-width: 664px;
            }
        }
    }

    &__button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        font-family: $roboto-medium;
        position: relative;
        color: $color-text;
        text-align: left;
        line-height: 28px;

        @media only screen and (min-width: 768px) {
            font-size: 24px;
        }

        &--comment {
            text-align: center;
            font-family: $roboto-medium;
            // font-weight: 500;
            font-size: 24px;
            line-height: 28.13px;
            color: $color-text;

            &--to-many-comment,
            &--send-email-error {
                font-family: $roboto-medium;
                font-size: 18px;
                color: $color-text;
                line-height: 21px;

                @media only screen and (min-width: 768px) {
                    font-size: 24px;
                }
            }
        }
    }

    &__text {
        font-size: 14px;
        font-family: $roboto-regular;
        font-weight: 400;
        margin-top: 15px;
        text-align: left;
        line-height: 16px;

        // @media only screen and (min-width: 1025px) {
        //     font-size: 14px;
        // }
        &-black {
            color: #424242;
        }
        strong {
            white-space: nowrap;
        }
    }

    &__text-comment {
        margin-top: 25px;

        &--to-many-comment,
        &--send-email-error {
            font-size: 16px;
            color: $color-text;
            line-height: 24px;
            margin-top: 20px;

            @media only screen and (min-width: 768px) {
                margin-top: 15px;
                font-size: 14px;
                line-height: 16.4px;
            }
        }
    }

    &__align-center {
        text-align: center;
    }

    &__align-start {
        text-align: start;
        margin-top: auto;
    }

    &__or {
        color: #b8b8b8;
        font-size: 14px;
        font-family: $roboto-regular;
        font-weight: 400;
        text-align: center;
        position: relative;
        line-height: 16px;

        &:before {
            content: "";
            position: absolute;
            height: 1px;
            background: #e6e6e6;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40%;
        }

        &:after {
            content: "";
            position: absolute;
            height: 1px;
            background: #e6e6e6;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40%;
        }
    }

    &__recall-me {
        text-align: left;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: #424242;
        margin-top: 15px;
        margin-bottom: 10px;

        @media only screen and (min-width: 768px) {
            margin-top: 26px;
        }
    }

    &__callme-schedule {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $second-text;
        margin-top: 10px;
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 39px;
        }
    }

    &__callme-img-svg {
        background-image: url("../../images/modals/callme-img-svg.svg");
        background-size: 100%;
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__comment-img-svg {
        background-image: url("../../images/modals/callme-img-svg.svg");
        background-size: 100%;
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__aditional-description {
        font-size: 14px;
        line-height: 16px;
        font-family: $roboto-regular;
        font-weight: 400;
        color: $color-text;
        margin-top: 15px;
    }

    &__aditional-description-schedule {
        font-family: $roboto-bold;
        font-size: 14px;
        font-weight: 700;
        color: $color-text;
        line-height: 16px;
    }

    &__comment-img-svg {
        background-image: url("../../images/modals/callme-img-svg.svg");
        background-size: 100%;
        width: 150px;
        height: 150px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    &__text-comment {
        margin-top: 25px;
        text-align: center;
    }

    &__write-comment-container {
        .form___modal-form {
            margin-top: 30px;
        }

        .form__field-block {
            position: relative;

            &--error .MuiOutlinedInput-notchedOutline {
                border-color: $color-error !important;
            }
        }

        .contacts__field-block {
            margin-bottom: 30px;
        }
    }
}

button.modal-popup__button {
    margin-top: 25px;
    width: fit-content;
    padding: 15.5px 30px;
    font-family: $roboto-bold;
    font-size: 16px;
    //font-weight: 700;
    color: #fff;

    &--tariff-submit {
        margin-top: 6px;
    }
}

button.write-comment-close-btn {
    background: transparent;
    width: 128px;
    border: 1px solid $color-active;
    line-height: 18.75px;
    color: $color-active;
    border-radius: 10px;
    transition: 0.2s ease-in;
    transition-property: background-color, border;
    padding: 15.5px 30px;
    margin-top: 6px;
    cursor: pointer;

    &:hover {
        background: $color-active;
        color: #fff;
    }

    @media only screen and (min-width: 768px) {
        width: 142px;
    }
}

button.write-comment-submit-btn {
    width: 128px;
    font-family: $roboto-bold;
    font-size: 16px;
    line-height: 18.75px;
    box-shadow: none;

    @media only screen and (min-width: 768px) {
        width: 142px;
    }
}
