$color-text: #424242;
$color-active: #00a3a4;
$second-text: #b8b8b8;
$roboto-regular: "Roboto-Regular", serif;
$roboto-light: "Roboto-Light", serif;
$roboto-medium: "Roboto-Medium", serif;
$roboto-bold: "Roboto-Bold", serif;

.react-card-flipper {
  backface-visibility: hidden;
}

.offer-tariffs {
  &__cards-list {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 14px 0;
    padding-left: 14px;
    // justify-content: center;

    @media only screen and (min-width: 1025px) {
      margin-top: 25px;
    }

    @media only screen and (min-width: 1280px) {
      padding: initial;
      padding-left: initial;
      overflow-x: initial;
      display: grid;
      // margin-top: 25px;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }

    @media only screen and (min-width: 1366px) {
      grid-gap: 30px;
    }

    // &--ios {
    //     grid-gap: initial;
    // }
  }

  &__scale {
    // old width
    // width: 264px;

    // new width and  height
    width: 264px;
    height: 424px;
    margin-top: 10px;

    @media only screen and (min-width: 1025px) {
      // width: auto;
      width: 292px;
      height: 469px;
    }

    @media only screen and (min-width: 1280px) {
      width: 292px;
      height: 469px;
    }

    // &--ios {
    //     margin-top: 10px;
    // }
  }

  &__cards-item {
    box-shadow: $main-box-shadow;
    border-radius: 10px;
    // backface-visibility: hidden; баг при переворачивании карточки
    // transform-style: preserve-3d; закомментрирован 16 июля, из за размытия в firefox
    cursor: pointer;

    @media only screen and (min-width: 1280px) {
    }
  }

  &__card-content-item-margin {
    margin-top: 40px;
    cursor: initial;
    position: relative;

    @media only screen and (min-width: 1025px) {
      margin-top: 50px;
    }
  }

  &__card-content-speed {
    color: $color-text;
    display: inline-block;
    font-family: $roboto-medium;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    max-width: 200px;
    margin-bottom: 7px;
    // margin-top: 50px;

    @media only screen and (min-width: 1280px) {
      font-size: 20px;
    }

    // &--other-font-size {
    //     font-size: 18px;
    // }

    &--overstack-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__card {
    border-radius: 10px;
    // display: grid;
    transition: 0.3s ease-in;
    background: #fff;

    &--default {
      // grid-auto-rows: 1fr auto;
      z-index: 10;
      // &:hover {
      //     transform: scale(1.1);
      //     transition: .3s ease-in;
      // }
    }

    &--back {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 424px;
      // background: #fff;
      padding: 30px;
      text-align: center;
      position: relative;
      z-index: 80;
      &:after {
        content: "";
        position: absolute;
        background-image: url("../../images/home/rotate-icon.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 27px;
        width: 27px;
        right: 10px;
        top: 10px;
      }

      @media only screen and (min-width: 1025px) {
        padding-left: 40px;
        padding-right: 40px;
        min-height: 456px;
      }

      // @media only screen and (min-width: 1200px) {
      //     padding-left: 45px;
      //     padding-right: 45px;
      // }

      @media only screen and (min-width: 1280px) {
        min-height: 469px;
      }

      // &:hover {
      //     transform: scale(1.1);
      //     transition: .3s ease-in;

      //     .offer-tariffs__card--default {
      //         &:hover {
      //             transform: scale(1);
      //         }
      //     }
      // }
    }
  }

  &__card-top-bg {
    height: 126px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    cursor: pointer;
    z-index: 5;

    @media only screen and (min-width: 1280px) {
      height: 139px;
    }
    // &--homeInet {
    //     background-color: $color-active;
    // }
    // &--union {
    //     background-color: #FAC23D;
    // }
    // &--tv {
    //     background-color: #3D3D3D;
    // }

    // &--business{
    //     background-color: #E9E9E9;
    // }

    &:after {
      content: "";
      position: absolute;
      background-image: url("../../images/home/rotate-icon.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 27px;
      width: 27px;
      right: 10px;
      top: 10px;
    }

    &--no-flip-icon {
      &:after {
        content: "";
        display: none;
      }
    }
  }

  &__card-img-bg {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: auto;
    max-width: 264px;
    margin-top: -1px;

    @media only screen and (min-width: 1025px) {
      max-width: 292px;
    }
  }

  &__card-back {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background-image: url("../../images/home/rotate-icon.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 27px;
      width: 27px;
      right: 10px;
      top: 10px;
    }
  }

  &__card-top-discount {
    position: absolute;
    background: #f9281b;
    border-radius: 0px 30px 30px 0px;
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    padding: 8px 12px;
    top: 100%;
    transform: translate(0, -50%);
    left: 0;
  }

  &__cards-item-link {
    font-family: $roboto-light;
    font-weight: 300;
    color: #424242;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.3s ease-in;
    white-space: nowrap;
    width: fit-content;
    margin-left: 20px;
    &:after {
      content: "";
      position: absolute;
      background-image: url("../../images/home/arrow-right.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 9px;
      width: 15px;
      transform: translate(10px, -50%);
      top: 50%;
      left: 100%;
      transition: 0.3s ease-in;
    }

    &:hover {
      color: #00a3a4;
      transition: 0.3s ease-in;
      &:after {
        transform: translate(20px, -50%);
        transition: 0.3s ease-in;
      }
    }
  }

  &__cards-arrow-link {
    background-image: url("../../images/home/arrow-right.svg");
    background-size: 100%;
    height: 2px;
    height: 6px;
  }

  &__card-content {
    height: 298px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;

    @media only screen and (min-width: 1025px) {
      padding: 0 45px;
      height: 330px;
    }

    // @media only screen and (min-width: 1280px) {
    //     padding: 0 45px;
    //     height: 330px;
    // }
    // justify-content: space-between;
  }

  &__card-content-item {
    flex: 1 1 180px;
    &--price {
      display: flex;
      flex-direction: column;
      flex: 1 1 132px;
      position: relative;
      z-index: 5;
      // row-gap: 20px;

      // &-ios {
      //     row-gap: initial;

      //     @media only screen and (min-width: 1025px) {
      //         row-gap: initial;
      //     }
      // }

      @media only screen and (min-width: 1025px) {
        // row-gap: 25px;
        flex: 1 1 145px;
      }
    }

    //@media only screen and (min-width: 1025px) {
    //    flex: 1 1 160px;
    //}
  }

  &__card-content-description {
    color: $second-text;
    font-size: 11px;
    font-weight: 400;
    font-family: $roboto-regular;
    margin-top: 11px;
    max-width: 202px;
    //
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;

    pre {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      color: $color-active;
      text-decoration: none;
      transition: 0.3s ease-in;

      &:hover {
        color: #00bebf;
        text-decoration: underline;
      }
    }

    @media only screen and (min-width: 1280px) {
      font-size: 12px;
    }
  }

  &__card-content-range {
    margin-top: 9px;
  }

  &__card-content-price {
    // margin-top: 20px;
    // display: inline-block;
    font-family: $roboto-bold;
    //font-weight: 700;
    font-size: 22px;
    color: $color-text;
    cursor: initial;
    margin-bottom: 20px;

    @media only screen and (min-width: 1025px) {
      margin-bottom: 25px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 24px;
    }
  }

  &__currency {
    text-transform: uppercase;
    font-size: 20px;
  }

  &__currency-price-old {
    text-transform: uppercase;
    font-size: 14px;
  }

  &__card-content-link {
    margin: 1px;
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: $color-active;
    border: 1px solid $color-active;
    padding: 12px;
    border-radius: 10px;
    // margin-top: 25px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s ease-in;
    background: transparent;
    outline: none;
    width: 100%;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }

    @media only screen and (min-width: 1280px) {
      padding: 14px;
    }

    &:hover {
      // color: #fff;
      background: $color-active;
      transition: 0.3s ease-in;
      color: #fff;
    }
  }

  &__currency-back-card {
    text-transform: uppercase;
    font-size: 12px;
  }

  &__back-btn-wrapper {
    flex: 0 1 54px;
  }

  &__back-btn {
    color: $color-active;
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;

    @media only screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }

  &__back-title {
    color: #3d3d3d;
    font-family: $roboto-medium;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;

    @media only screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }

  &__back-block {
    margin-top: 15px;
    flex: 1 1 0;
  }

  &__back-list-discounts {
    display: grid;
    grid-template-columns: 1.5fr 1fr 2.5fr;
    grid-template-rows: auto auto;
    grid-row-gap: 13px;
    font-family: $roboto-regular;
    font-size: 14px;
    font-weight: 400;

    @media only screen and (min-width: 1280px) {
      font-weight: 400;
    }
  }

  &__back-discounts-month {
    color: $color-text;
  }

  &__back-discounts-percent {
    color: rgba(66, 66, 66, 0.5);
  }

  &__back-discounts-count {
    color: $color-text;
  }

  &__back-bonuses {
  }

  &__back-bonuses-txt {
    font-family: $roboto-light;
    font-weight: 400;
    font-size: 14px;
    color: $color-text;
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: 15px;
    cursor: initial;

    @media only screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__back-bonuses-icon {
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    &--bonus {
      background-image: url("../../images/home/get-bonuses.svg");
      height: 19px;
      width: 19px;
    }

    &--7days {
      background-image: url("../../images/home/seven-days.svg");
      height: 18px;
      width: 18px;
    }
  }

  &__card-old-price {
    color: rgba(66, 66, 66, 0.3);
    font-family: $roboto-regular;
    font-size: 14px;
    font-weight: 400;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    cursor: initial;

    &:before {
      content: "";
      border-top: 1px solid #f1473c;
      width: 100%;
      background: #f1473c;
      position: absolute;
      transform: rotate(5deg);
      top: 50%;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__card-link-wrapper {
    display: flex;
    flex-direction: column;
    // row-gap: 10px;
    min-height: 440px;
    margin-right: 30px;

    // &--ios {
    //     margin-right: 30px;
    //     row-gap: initial;
    // }

    &:last-child {
      padding-right: 20px;
      margin-right: initial;

      @media only screen and (min-width: 1025px) {
        padding-right: initial;
      }
    }

    @media only screen and (min-width: 1025px) {
      min-height: auto;
      margin-right: 30px;
    }

    @media only screen and (min-width: 1280px) {
      margin-right: initial;
    }
  }

  &__modal-title {
    font-family: $roboto-medium;
    font-size: 18px;
    font-weight: 500;
    color: $color-text;
    line-height: 21px;

    @media only screen and (min-width: 768px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__modal-name-tariff {
    font-family: $roboto-regular;
    font-size: 16px;
    font-weight: 500;
    color: $color-active;
    display: inline-flex;
    margin: 15px 0 29px 0;
    line-height: 19px;

    @media only screen and (min-width: 768px) {
      font-size: 20px;
      margin: 20px 0 29px 0;
      line-height: 21px;
    }

    @media only screen and (min-width: 1280px) {
      margin: 20px 0 39px 0;
    }

    &--link {
      text-decoration: none;
    }
  }

  &__modal-container {
    width: 100%;
    min-width: 268px;
    text-align: left;
  }

  &__range-wrapper {
    display: inline-block;
    position: relative;
    width: 90%;
    margin-left: 18px;
    display: flex;
    margin-top: 10px;
    height: 5px;
  }
}

.range-wrapper {
  z-index: 5;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background-image: url("../../images/home/fire-range.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 19px;
    height: 28px;
    right: -4px;
    top: -20px;
    z-index: 0;
  }
}

.inputRange {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.input-range-chep {
  height: 5px;
  position: absolute;
  width: 18px;
  background: #63a7f7;
  left: -14px;
  border-radius: 15px;
}

input[type="range"].inputRange::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../../images/home/circle-range.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[type="range"].inputRange::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../../images/home/circle-range.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[type="range"].inputRange::-ms-thumb {
  appearance: none;
  -moz-appearance: none;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../../images/home/circle-range.svg");
  background-position: center;
  background-repeat: no-repeat;
}

input[type="range"].inputRange::-o-thumb {
  appearance: none;
  -o-appearance: none;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../../images/home/circle-range.svg");
  background-position: center;
  background-repeat: no-repeat;
}

// input[type=range]::-webkit-slider-runnable-track {
//     -webkit-appearance: none;
//     background: rgba(59,173,227,1);
//     background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
//     background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
//     background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
//     background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
//     background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
//     background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
//     height: 2px;
//   }
