$large-padding: 0 100px;
$medium-padding: 0 50px;
$small-padding: 0 32px;
$smallest-padding: 0 16px;

@mixin wrapper-padding() {
    padding: $large-padding;
    @media screen and (max-width: 1280px) {
        padding: $medium-padding
    }
    @media screen and (max-width: 768px) {
        padding: $small-padding;
    }
    @media screen and (max-width: 360px) {
        padding: $smallest-padding;
    }
}

.ott-wrapper {
  max-width: 1720px;
  margin: 0 auto;
  padding: $large-padding;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ott-main-bg {
  background: url("../../images/ott/ottBg2.jpg");
  background-size: cover;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

.ott-main-container {
  flex: 1 0 auto;
}

.ott-header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  &-bg {
    background: linear-gradient(
      180deg,
      rgba(33, 33, 33, 0) 0%,
      #212121 139.63%
    );
    backdrop-filter: blur(21px);
  }
  @media screen and (max-width: 1120px) {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(21px);
  }
}

.ott-header {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  & > * {
    flex: 0 0 auto;
  }

  @media screen and (max-width: 768px) {
    padding: 15px 32px;
  }
  @media screen and (max-width: 360px) {
    padding: 10px 16px;
  }

  &__logo {
    max-height: 52px;
    &-img {
      height: 45px;
      margin-right: 10px;
    }
    @media screen and (max-width: 1120px) {
      & {
        margin-right: 0px;
      }
    }
  }

  &__nav-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media screen and (min-width: 1010px) {
      flex: 1
    }
  }

  &__controls-wrap {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1120px) {
      margin-left: auto;
    }
    @media screen and (max-width: 360px) {
      margin-left: 0;
    }
  }

  &__plug-link {
    font-weight: 500;
    text-decoration: none;
    background: rgba(252, 102, 33, 0.1);
    min-width: 128px;
    min-height: 39px;
    margin-left: 55px;
    border-radius: 3px;
    padding: 10px 16px;
    color: #fc6621;
    border: 1px solid #fc6621;
    transition: color 0.1s linear;
    text-align: center;
    &:hover {
      background-color: #f65003;
      color: #ffffff;
    }
    @media screen and (max-width: 360px) {
      & {
        min-width: 112px;
        min-height: 32px;
        margin-left: 0px;
      }
    }
  }

  &__sidebar-button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    position: relative;
    margin-left: 70px;
    &:before {
      content: "";
      display: block;
      height: 3px;
      background-color: #fff;
      position: absolute;
      top: 5px;
      left: 0;
      width: 24px;
      transition: transform 0.2s ease-out;
    }
    &:after {
      content: "";
      display: block;
      height: 3px;
      background-color: #fff;
      position: absolute;
      bottom: 5px;
      width: 24px;
      left: 0;
      transition: transform 0.2s ease-out;
    }
    &-active {
      &:after {
        bottom: 10px;
        transform: rotate(45deg);
        transition: transform 0.2s ease-out;
      }
      &:before {
        top: 11px;
        transform: rotate(-45deg);
        transition: transform 0.2s ease-out;
      }
    }
    @media screen and (max-width: 360px) {
      margin: 0;
    }
  }
}

.ott-nav {
  display: flex;
  flex: 1;
  margin: 0 60px 0 50px;
  @media screen and (min-width: 1280px) {
    margin: 0 140px 0 80px;
  }
  &__list {
    flex: 1;
    flex-direction: row;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &__item {
    a {
      color: #fff;
      text-decoration: none;
      transition: opacity 0.1s linear;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .ott-nav__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @media screen and (max-width: 1120px) {
    .ott-nav__list {
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1280px) {
    .ott-nav__item {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  @media screen and (max-width: 1120px) {
    border-bottom: 1px solid #e6e6e6;
    .ott-nav__item {
      padding: 0 33px;
      margin-bottom: 25px;
      margin-right: 16px;
    }
  }
}

.ott-select-language {
  color: #fff;
  .select-options {
    background-color: #464646;
    .custom-select-option-li {
      a {
        color: #fff;
      }
      & a:hover {
        color: #fff;
        border-radius: 10px 10px 0px 0px;
        background: rgba(0, 0, 0, 0.2);
      }
      &:last-child {
        & a:hover {
          color: #fff;
          border-radius: 0px 0px 10px 10px;
        }
      }
    }

    .custom-select-option:hover {
      background-color: #464646;
    }
  }
  .select-icon {
    background-image: url("../../images/arrow-down.svg");
  }
  &:hover:after {
    background-color: #f65003;
  }
}

.ott-desktop-select {
  @media screen and (max-width: 1120px) {
    display: none;
  }
}

.ott-mobile-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33px 30px;
  &__button {
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &-active {
      border: 1px solid #fc6621;
      color: #fc6621;
    }
  }
}

.ott-sidebar {
  position: fixed;
  min-height: 100vh;
  right: 0;
  top: 82px;
  min-width: 260px;
  padding: 14px 0 70px 0;
  z-index: 3;
  height: 100%;
  overflow: scroll;

  &__hidden {
    transition: all 0.3s ease-in;
    visibility: hidden;
    transform: translateX(100%);
  }
  &__visible {
    transition: all 0.3s ease-in;
    visibility: visible;
    transform: translateX(0%);
  }

  &__overlay {
    background: #000000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  @media screen and(max-width: 1120px) {
  }
  @media screen and (max-width: 450px) {
    top: 70px;
  }
  @media screen and (max-width: 360px) {
    top: 60px;
  }
  background: rgba(31, 31, 31, 0.3);
  backdrop-filter: blur(21px);

  @media screen and(max-width: 360px) {
    min-width: 242px;
  }
}

.ott-contact-list {
  &:not(:last-child) {
    margin-top: 30px;
  }

  &__item {
    padding: 0 33px 20px;
  }
  &__link {
    text-decoration: none;
    color: #fff;
    transition: opacity 0.1s linear;
    &:hover {
      opacity: 0.5;
    }
  }

  &-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 530px;
    margin-bottom: 35px;
    & > .ott-contact-list__item {
      padding: 0;
    }
    @media screen and (max-width: 500px) {
      display: initial;
      margin: 0;
      & > li:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

@keyframes go {
  from {
    bottom: -20px;
  }
  to {
    bottom: -30px;
  }
}

@keyframes go1280 {
  from {
    bottom: -45px;
  }
  to {
    bottom: -55px;
  }
}
.ott-top-banner {
  color: inherit;
  font-family: Montserrat-Bold, sans-serif;
  margin: 0 auto;
  padding: 82px 0 0;
  position: relative;
  &__video-wrap {
    position: relative;
    margin-bottom: -5px;
  }
  @media screen and (max-width: 1110px) {
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    margin: 0px auto;
  }
  @media screen and (max-width: 450px) {
    padding: 70px 0 0;
  }
  @media screen and (max-width: 360px) {
    padding: 60px 0 0;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1366px;
    margin: 0 auto 90px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    @media screen and (max-width: 1366px) {
      margin: 0 38px 90px;
    }
    @media screen and (max-width: 1279px) {
      margin: 0 38px 50px;
    }
    @media screen and (max-width: 767px) {
      margin: 0 15px 50px;
    }
  }

  &__button {
    position: absolute;
    right: 18px;
    top: 18px;
    background: none;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    padding: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.45);
    }
    @media screen and (max-width: 1279px) {
      width: 30px;
      height: 30px;
    }

    &--icon {
      width: 100%;
      height: 100%;
      display: block;

      &-play {
        background: url("../../images//ott/iconPlay.svg");
        background-position: 11px center;
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 55% center;
        @media screen and (max-width: 1279px) {
          background-size: 50%;
          background-position: center center;
        }
      }
      &-pause {
        background: url("../../images//ott/iconPause.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    line-height: 51px;
    @media screen and (max-width: 1279px) {
      font-size: 28px;
      line-height: 35px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__arrow {
    display: block;
    position: absolute;
    left: calc(50% - 22.5px);
    animation: go1280 1s infinite alternate;
    @media screen and (max-width: 1279px) {
      height: 20px;
      width: 20px;
      animation: go 1s infinite alternate;
    }
  }
  &__filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../../images/ott/darkFilter.png");
    margin-bottom: 3px;
    background-size: cover;
  }
  &__video {
    width: 100%;
    min-height: 432px;
    @media screen and (max-width: 1020px) {
      min-height: 361px;
    }
    @media screen and (max-width: 560px) {
      min-height: 372px;
    }
  }
  &__subtitle {
    text-align: center;
    margin: 25px auto 0;
    font-weight: 500;
    font-size: 25px;
    font-family: Montserrat-Medium, sans-serif;
    @media screen and (max-width: 1279px) {
      font-size: 18px;
    }
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.ott-picture {
  z-index: 1;
  position: relative;
  max-width: 540px;
  width: 100%;
    @media screen and (min-width: 1010px) {
        max-width: none;
        width: auto;
        height: 470px;
    }
    @media screen and (min-width: 1360px) {
        height: 530px;
    }
    @media screen and (min-width: 1440px) {
        height: 570px;
    }
    @media screen and (min-width: 1920px) {
        height: 810px;
    }
}

.ott-info {
  padding: $large-padding;
  position: relative;
  @include wrapper-padding();
  @media screen and (max-width: 1010px){
    align-items: center;
  }

  &__padding-top {
    padding-top: 65px;
    @media screen and (max-width: 768px) {
      padding-top: 0px;
    }
  }

  &__tv {
    @include wrapper-padding();
    margin-bottom: 75px;

    @media screen and (min-width: 768px) {
      margin-bottom: 100px;
    }
    @media screen and (min-width: 1110px) {
      margin: 94px 0 120px;
    }
    @media screen and (min-width: 1920px) {
      margin: 64px 0 144px;
    }
  }
  &__decor-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 370px;
    background: url("../../images//ott/popcorn.png");
    background-size: 370px 370px;
    background-repeat: no-repeat;
    background-position: 95% 0;
    @media screen and (max-width: 1440px) {
      background-size: 180px 180px;
      background-position: 96% 0;
    }
    @media screen and (max-width: 1230px) {
      display: none;
    }

    &-icon {
      background: url("../../images//ott/clap.png");
      background-size: 245px 245px;
      background-repeat: no-repeat;
      background-position: 95% 50px;
      @media screen and (max-width: 1440px) {
        background-size: 172px 172px;
        background-position: 96% 50px;
      }
      @media screen and (max-width: 1230px) {
        display: none;
      }
    }
  }
  &__decor-left {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 370px;
    background: url(../../images/ott/roll1.png);
    background-repeat: no-repeat;
    background-size: 230px 230px;
    background-position: 100px 0;
    @media screen and (max-width: 1440px) {
      background-size: 160px 160px;
      background-position: 40% 0;
    }
    @media screen and (max-width: 1230px) {
      display: none;
    }
  }
  &-bg::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../../images/ott/channelsBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 1110px) {
      background-position: 0 800px;
    }
  }
  &__wrap {
    display: flex;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    & > picture {
      width: fit-content;
    }
    @media screen and (max-width: 1110px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    width: 45%;
    @media screen and (max-width: 1110px) {
      width: 100%;
      align-self: flex-start;
      margin: 0;
    }
  }
  &__title {
    font-size: 42px;
    margin-bottom: 30px;
    font-family: Montserrat-Bold, sans-serif;
    line-height: 51px;
  }
  &__item {
    &-title {
      font-family: Roboto, sans-serif;
      font-size: 30px;
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 45px;
    }
    &-subtitle {
      font-family: Roboto, sans-serif;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 30px;
      line-height: 27px;
      opacity: 0.6;
    }
  }
  @media screen and (max-width: 450px) {
    &__title {
      font-size: 20px;
      line-height: 24px;
    }
    &__item {
      &-title {
        font-size: 18px;
        line-height: 27px;
      }
      &-subtitle {
        font-size: 16px;
        margin-bottom: 24px;
      }
    }
  }

  &-img-right {
    @include wrapper-padding();
    .ott-info__wrap {
      @media screen and (max-width: 1110px) {
        flex-direction: column-reverse;
      }
    }
    .ott-info__text {
      margin: 0 150px 0 0;
      max-width: 540px;
      @media screen and (max-width: 1110px) {
        margin-right: 0;
        max-width: 100%;
      }
    }
  }

  &__logo-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.ott-subscribing {
  display: flex;
  justify-content: flex-end;
  padding: 60px 100px 0;
  position: relative;
  background: radial-gradient(
    29.75% 148.98% at 75.44% 47%,
    #4d4d4d 0%,
    #191919 100%
  );

  & > picture {
    max-width: 53%;
  }
  &-left {
    background: radial-gradient(
      70.13% 298.91% at 29.87% 46.94%,
      #3e3e3e 0%,
      #101010 62.41%
    );
  }

  &__link {
    max-width: 146px;
    max-height: 59px;
    text-align: center;
    margin-bottom: 25px;
    padding: 20px 25px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #fc6621;
    &:hover {
      background: #d9d9d9;
      color: #fd8c59;
    }
  }

  &__text {
    opacity: 0.7;
  }
  &__subtext {
    opacity: 0.3;
    font-size: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    & > .ott-info__title {
      margin-bottom: 25px;
    }
    & > p {
      margin-bottom: 25px;
    }
    @media screen and (max-width: 1110px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 1440px) {
    justify-content: flex-start;
  }
  @media screen and (max-width: 1280px) {
    padding: 40px 50px 0;
  }
  @media screen and (max-width: 1110px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 30px 0;
    &-left {
      flex-direction: column;
    }
    & > picture {
      max-width: 90%;
    }
    &__content {
      max-width: 100%;
    }
  }
}

.ott-subscribing-left {
  justify-content: flex-start;
  & > .ott-subscribing__content {
    margin-left: 150px;
    max-width: initial;
    @media screen and (max-width: 1110px) {
      margin: 0;
    }
  }
}

.ott-footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  padding: 90px 100px;
  font-size: 18px;
  & > * {
    width: 50%;
  }
  @media screen and (max-width: 1440px) {
    justify-content: space-between;
  }
  @media screen and (max-width: 1280px) {
    padding: 90px 50px;
  }
  @media screen and (max-width: 1110px) {
    padding: 40px 30px;
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }

  @media screen and (max-width: 360px) {
    padding: 16px;
  }

  &__contact-wrap,
  .ott-form-wrap {
    & > .ott-info__title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
      @media screen and (max-width: 450px) {
        font-size: 16px;
      }
    }

    & > .ott-contact-list-wrap {
      @media screen and (max-width: 500px) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.ott-form {
  max-width: 330px;
  margin-left: 115px;

  &-error-message {
    color: #f44336;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin: 0 5px 20px;
    height: 10px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &-input {
    margin-bottom: 30px;
    min-height: 50px;
    border-radius: 3px;
    padding: 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
    outline: none;
  }
  &__submit {
    max-width: 140px;
    min-height: 50px;
    padding: 15px 20px;
    border-radius: 3px;
    border: 1px solid #fc6621;
    color: #fc6621;
    background: rgba(252, 102, 33, 0.1);
    cursor: pointer;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    &:hover {
      border-color: #fd8c59;
      background: #d9d9d9;
      color: #fd8c59;
    }
  }

  @media screen and (max-width: 920px) {
    margin: 60px 0 0;
  }
}

.ott-tabs {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1010px) {
    display: initial;
  }
  @media screen and (max-width: 920px) {
    margin-top: 80px;
  }
  &__wrap {
    padding-left: 30px;
    margin: 60px auto 35px;
    overflow-x: auto;
    display: flex;
    @media screen and (max-width: 360px) {
      margin-top: 40px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__nav-list {
    display: flex;
    margin: 0 auto;
    flex: 0 0 auto;
  }
  &__button {
    padding: 12px 30px;
    flex: 0 0 auto;
    background: rgba(0, 0, 0, 0.22);
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    transition: 0.1s;
    &:hover {
      background: #d9d9d9;
    }
    &-active {
      background: #fc793d;
      &:hover {
        background: #d9d9d9;
      }
    }
  }

  &__content {
    max-width: 1000px;
    margin: 0 30px;
    min-height: 560px;
    @media screen and (max-width: 1010px) {
      min-height: 52vw;
    }
    img {
      max-width: 1000px;
      width: 100%;
    }
  }
  &__description {
    margin: 35px auto 120px;
    text-align: center;
    padding: 0 30px;
    @media screen and (max-width: 1440px) {
      margin: 35px auto 100px;
    }
    @media screen and (max-width: 768px) {
      margin: 35px auto 50px;
    }
  }

  & > .ott-top-banner__title {
    font-size: 42px;
    line-height: 52px;
    @include wrapper-padding();
    @media screen and (max-width: 450px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.ott-modal-popup__text {
  color: #424242;
}
