.our-apps {
    margin-top: 26.67px;
    margin-bottom: 69px;

    @media only screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 90px;
    }

    @media only screen and (min-width: 1025px) {
        margin-top: 50px;
        margin-bottom: 70px;
    }

    @media only screen and (min-width: 1366px) {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 61.33px;
        width: 100%;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            // flex-wrap: wrap;
            // column-gap: 48px;
            row-gap: 70px;
            overflow: auto;
        }

        @media only screen and (min-width: 1025px) {
            flex-direction: row;
            flex-wrap: initial;
            row-gap: 100px;
            column-gap: initial;
            justify-content: space-between;
        }

        @media only screen and (min-width: 1366px) {
            row-gap: 100px;
            flex-direction: column;
            column-gap: initial;
            justify-content: flex-start;
        }

        &--ios {
            row-gap: initial;
            column-gap: initial;

            @media only screen and (min-width: 768px) {
                justify-content: space-between;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        column-gap: 50px;
        // align-items: center;
        row-gap: 17.78px;

        @media only screen and (min-width: 768px) {
            max-width: 328px;
            padding-right: 30px;
            margin-bottom: 10px;
        }

        @media only screen and (min-width: 1024px) {
            flex-direction: column;
            row-gap: 29px;
            max-width: initial;
            width: 31%;
            padding-right: initial;
            margin-bottom: initial;
        }

        @media only screen and (min-width: 1366px) {
            display: grid;
            grid-auto-flow: column;
            grid-template: 'poster description';
            grid-gap: 50px;
            grid-template-columns: repeat(2, fit-content(100%)) ;
            width: auto;
            align-items: center;
        }

        &:nth-child(even) {
            flex-direction: column;

            @media only screen and (min-width: 1024px) {
                // flex-direction: row-reverse;
                flex-direction: column;
            }

            @media only screen and (min-width: 1366px) {
                grid-template: 'description poster'
            }
        }

        &--ios {
            row-gap: initial;
            margin-bottom: 61.33px;

            @media only screen and (min-width: 768px) {
                // margin-right: 48px;
                margin-bottom: 10px;
            }

            @media only screen and (min-width: 1025px) {
                margin-right: initial;
                margin-bottom: 61.33px;
            }

            // &:last-child {
            //     margin-bottom: 0;
            // }
        }
    }

    &__poster {
        grid-area: poster;
        // background-size: 100% 100%;
        // background-repeat: no-repeat;
        // min-height: 179.79px;
        // min-width: 291.56px;
        // // max-width: 600px;
        // // width: 100%;
        // display: inline-flex;
        // border-radius: 10px;
        width: 100%;
        border-radius: 10px;
        // @media only screen and (min-width: 768px) {
        //     min-height: 202px;
        //     min-width: 328px;
        // }

        // @media only screen and (min-width: 1025px) {
        //     min-height: 183.77px;
        //     min-width: 298px;
        // }

        @media only screen and (min-width: 768px) {
            width: 298px;
        }

        @media only screen and (min-width: 1025px) {
            width: 100%;
        }

        @media only screen and (min-width: 1366px) {
            // min-width: 600px;
            // height: 370px;
            width: auto;
        }

        // &--my-briz {
        //     background-image: url('../../images/home/my-briz.png');
        // }

        // &--app-briztv {
        //     background-image: url('../../images/home/app-briztv.png');
        // }

        // &--smart-tv {
        //     background-image: url('../../images/home/smart-tv.png');
        // }
    }

    &__description-container {
        grid-area: description;
        // padding: 15px 0;
        // max-width: 298px;

        @media only screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        @media only screen and (min-width: 1025px) {
            max-width: initial;
        }

        @media only screen and (min-width: 1366px) {
            flex: 1 1 0;
            display: block;
            height: auto;
        }

        &--ios {
            margin-top: 17.78px;
        }
    }

    &__title {
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 18px;
        color: $color-text;
        margin-bottom: 15px;
    }

    &__simple-txt {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        line-height: 24px;

        &--modif {
            margin-top: 20px;
        }
    }

    // &__simple-link {
    //     color: $color-active;
    //     text-decoration: none;
    // }

    &__apps-miniatures {
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        grid-template-columns: repeat(2, fit-content(100%));
        margin-top: 16.89px;
        // justify-content: space-between;

        @media only screen and (min-width: 768px) {
            margin-top: auto;
            // justify-content: space-between;
        }

        @media only screen and (min-width: 1366px) {
            gap: 25px;
            margin-top: 15px;
        }
    }

    &__apps-miniature {
        background-size: 100%;
        background-repeat: no-repeat;
        width: 150px;
        height: 47px;
        display: inline-block;

        @media only screen and (min-width: 768px) {
            width: 145px;
            height: 43px;
            margin-top: 22px;
        }

        @media only screen and (min-width: 1025px) {
            width: 144px;
            height: 42px;
            margin-top: 32px;
        }

        @media only screen and (min-width: 1366px) {
            margin-top: initial;
            width: 168.75px;
            height: 50px;
        }

        &--google-play-ru {
            background-image: url("../../images/home/google-play-rus.svg");
        }

        &--app-store-ru {
            background-image: url("../../images/home/app-store-rus.svg");
        }

        &--google-play-en {
            background-image: url("../../images/home/google-play-eng.svg");
        }

        &--app-store-en {
            background-image: url("../../images/home/app-store-eng.svg");
        }

        &--google-play-ua {
            background-image: url("../../images/home/google-play-ukr.svg");
        }

        &--app-store-ua {
            background-image: url("../../images/home/app-store-ukr.svg");
        }
    }
}

// display: inline-flex;
//     border-radius: 10px;
//     width: 100%;
//     height: 100%;
//     background-origin: content-box;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100%;
//     min-height: 299px;
