.payment {
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1366px) {
        padding: initial;
    }

    &__tabset {
        margin-top: 20px;

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }
    }

    &__page-title {
        margin-top: 12px;

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        &--ios {
            margin-top: 12px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }

    &__private-link {
        color: $color-text;
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        padding-left: 33px;
        display: flex;
        align-items: center;

        &:before {
            content: "";
            position: absolute;
            background-size: 100%;
            background-repeat: no-repeat;
            left: 0;
        }
    }

    &__privat-contacts {
        margin-left: 70px;
        display: flex;
        li {
            margin-right: 19px;
        }
    }

    &__it {
        &:before {
            content: "";
            background-image: url("../../images/contacts/intertelecom_color.svg");
            width: 24px;
            height: 18px;
        }
    }

    &__kyevstar {
        &:before {
            content: "";
            background-image: url("../../images/contacts/kyivstar_color.svg");
            width: 20px;
            height: 19px;
        }
    }

    &__lifecell {
        &:before {
            content: "";
            background-image: url("../../images/contacts/lifecell_color.svg");
            width: 20px;
            height: 20px;
        }
    }

    &__vodafone {
        &:before {
            content: "";
            background-image: url("../../images/contacts/vodafon_color.svg");
            width: 20px;
            height: 20px;
        }
    }

    &__mailto {
        &:before {
            content: "";
            background-image: url("../../images/contacts/mail.svg");
            width: 24px;
            height: 15px;
        }
    }

    &__online {
        &:before {
            content: "";
            background-image: url("../../images/online_chat.svg");
            width: 24px;
            height: 20.5px;
        }
    }

    &__decotaion-content {
        height: 185px;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;

        @media only screen and (min-width: 768px) {
            height: 314.62px;
        }

        @media only screen and (min-width: 1025px) {
            height: 611px;
        }
    }

    &__decoration-img {
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
        &--order1 {
            background-image: url("../../images/payment/uah-order1.png");
            width: 25.46px;
            height: 34.11px;
            top: 36px;
            transform: translateY(-50%);

            @media only screen and (min-width: 768px) {
                width: 54.31px;
                height: 72.76px;
                top: 74px;
            }

            @media only screen and (min-width: 1025px) {
                width: 136px;
                height: 190px;
                top: 50%;
            }
        }

        &--order2 {
            background-image: url("../../images/payment/uah-order2.png");
            width: 29.1px;
            height: 34.3px;
            top: 75px;
            left: 33%;

            @media only screen and (min-width: 768px) {
                width: 62.07px;
                height: 73.18px;
                top: 158px;
            }

            @media only screen and (min-width: 1025px) {
                width: 155px;
                height: 183px;
                bottom: 0;
            }
        }

        &--order3 {
            background-image: url("../../images/payment/uah-order3.png");
            width: 12.26px;
            height: 16.43px;
            top: 52px;
            left: 60%;
            transform: translateY(-50%);

            @media only screen and (min-width: 768px) {
                width: 26.15px;
                height: 35.04px;
                top: 110px;
            }

            @media only screen and (min-width: 1025px) {
                width: 65px;
                height: 87px;
                top: 50%;
            }
        }

        &--order4 {
            background-image: url("../../images/payment/uah-order4.png");
            width: 29.19px;
            height: 39.24px;
            right: 0;

            @media only screen and (min-width: 768px) {
                width: 62.28px;
                height: 83.71px;
            }

            @media only screen and (min-width: 1025px) {
                width: 156px;
                height: 209px;
            }
        }
    }
}
