.politica {
    &__page-title {
        margin-top: 12px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }

        &--ios {
            margin-top: 85px;

            @media only screen and (min-width: 1025px) {
                margin-top: 105px;
            }
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        font-family: $roboto-regular, serif;
        color: $color-text;
        margin-top: 20px;
        padding: 0 25px;

        @media only screen and (min-width: 1025px) {
            margin-top: 30px;
        }

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }
}
