.search-modal-map-loader {
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    z-index: 600;

    svg {
        width: 100px;
        height: 100px;
    }
}

// .dot{
//     position: absolute;
//     top: 50%;
//     left: 50%;
// }
// .sun{
//     width:200px;
//     height:200px;
//     -webkit-animation-iteration-count:infinite;
//     -webkit-animation-timing-function:linear;
//     -webkit-animation-name:orbit;
//     -webkit-animation-duration:5s;
// }

@-webkit-keyframes orbit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
