.product-cart {
    margin-top: 12px;
    margin-bottom: 70px;

    // @media only screen and (min-width: 768px) {
    //     padding: 0 32px;
    // }

    @media only screen and (min-width: 1025px) {
        // padding: initial;
        // margin-bottom: 100px;
    }

    @media only screen and (min-width: 1280px) {
        margin-top: 25px;
        margin-bottom: 100px;
    }

    &__section {
        margin-top: initial;
        padding: 0;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__general {
        padding: 16px;
        background: #fff;
        box-shadow: $main-box-shadow;
        border-radius: 10px;
        margin-bottom: 70px;

        @media only screen and (min-width: 768px) {
            padding: 30px;
        }

        @media only screen and (min-width: 1025px) {
            padding: 45px;
            margin-bottom: 100px;
        }

        &--top {
            border-radius: initial;

            @media only screen and (min-width: 768px) {
                border-radius: 10px;
            }
        }
    }

    &__general-flex-row {
        display: grid;
        margin-top: 20px;
        grid-template-columns: 1fr;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
            grid-template-columns: 500px 1fr;
        }
    }

    &__preview-block {
        // max-width: 328px;

        @media only screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 260px 1fr;
            max-width: initial;
            grid-template-areas:
                "preview miniatures"
                "preview dtablet";
        }

        @media only screen and (min-width: 1025px) {
            max-width: 500px;
            display: block;
        }
    }

    &__preview {
        height: 328px;
        // width: 500px;
        border-radius: 10px;
        border: 1px solid rgba(230, 230, 230, 0.4);
        display: flex;
        align-items: center;
        position: relative;
        grid-area: preview;

        @media only screen and (min-width: 768px) {
            height: 260px;
            width: 260px;
        }

        @media only screen and (min-width: 1025px) {
            height: 500px;
            width: auto;
        }
    }

    &__preview-img {
        width: 328px;
        height: 328px;
        border-radius: 10px;
        margin: 0 auto;

        @media only screen and (min-width: 768px) {
            height: 260px;
            width: 260px;
        }

        @media only screen and (min-width: 1025px) {
            width: 500px;
            height: 500px;
        }
    }

    &__miniatures {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 12px;
        grid-area: miniatures;

        @media only screen and (min-width: 768px) {
            height: fit-content;
            margin: 0 auto;
            margin-left: 20px;
            margin-top: 0;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 30px;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 18px;
            height: auto;
            margin-right: initial;
            margin-left: initial;
        }

        &--space-between {
            // justify-content: space-between;
        }
    }

    &__miniature-item {
        width: 73px;
        height: 73px;
        border-radius: 6.51394px;
        border: 1px solid rgba(230, 230, 230, 0.4);
        display: flex;
        align-items: center;

        @media only screen and (min-width: 768px) {
            width: 62.32px;
            height: 62.32px;
        }

        @media only screen and (min-width: 1025px) {
            width: 111px;
            height: 111px;
            border-radius: 10px;
        }

        &--margin-left {
            // margin-right: 20px;
        }

        &:hover {
            border: 1px solid $color-active;
        }
    }

    &__miniature-img {
        max-width: 71px;
        max-height: auto;
        margin: 0 auto;
        border-radius: 6.51394px;

        @media only screen and (min-width: 768px) {
            width: 61.32px;
            height: auto;
        }

        @media only screen and (min-width: 1025px) {
            max-width: 109px;
            max-height: auto;
            border-radius: 10px;
        }
    }

    &__detail-tablet {
        display: none;

        @media only screen and (min-width: 768px) {
            display: block;
            grid-area: dtablet;
            margin-left: 20px;
            margin-top: 34px;
        }

        @media only screen and (min-width: 1025px) {
            display: none;
            margin-left: initial;
            margin-top: initial;
        }
    }

    &__detail {
        margin-top: 30px;

        @media only screen and (min-width: 768px) {
            margin-top: initial;
        }

        @media only screen and (min-width: 1025px) {
            margin-left: 48px;
            margin-top: initial;
        }

        & > .shop__item-price-block {
            margin: 0;
        }
    }

    &__available {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 12px;
        color: #28a745;
        padding: initial;
        display: inline-block;
        line-height: 14, 06px;

        &--no-tablet {
            display: inline-block;

            @media only screen and (min-width: 768px) {
                display: none;
            }

            @media only screen and (min-width: 1025px) {
                display: inline-block;
            }
        }

        @media only screen and (min-width: 1025px) {
            font-size: 14px;
            line-height: 16.41px;
            padding: 12px 25px;
            background: rgba(40, 167, 69, 0.1);
            border-radius: 10px;
        }
    }

    &__not-available {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 12px;
        color: $second-text;
        display: inline-block;
        line-height: 14, 06px;

        &--no-tablet {
            display: inline-block;

            @media only screen and (min-width: 768px) {
                display: none;
            }

            @media only screen and (min-width: 1025px) {
                display: inline-block;
            }
        }

        @media only screen and (min-width: 1025px) {
            font-size: 14px;
            line-height: 16.41px;
            padding: 12px 25px;
            background: rgba(230, 230, 230, 0.3);
            border-radius: 10px;
        }
    }

    &__order-btn {
        margin-top: 25px;
        margin-left: initial;
        font-weight: 500;
        font-size: 16px;
        font-family: $roboto-medium;
        &:disabled{
            color: white;
            background-color: #e6e6e6;
            border: none;
            cursor: default;
            box-shadow: none;
        }

        &--no-tablet {
            display: block;

            @media only screen and (min-width: 768px) {
                display: none;
            }

            @media only screen and (min-width: 1025px) {
                display: block;
            }
        }
    }

    &__item-price-block {
        //margin-top: 15px;

        &--no-tablet {
            display: block;

            @media only screen and (min-width: 768px) {
                display: none;
            }

            @media only screen and (min-width: 1025px) {
                display: block;
            }
        }

        // @media only screen and (min-width: 768px) {
        //     margin-top: 10px;
        // }

        // @media only screen and (min-width: 1025px) {
        //     margin-top: 25px;
        // }
    }

    &--no-tablet {
        display: block;

        @media only screen and (min-width: 768px) {
            display: none;
        }

        @media only screen and (min-width: 1025px) {
            display: block;
        }
    }

    &__delivery-settings-text {
        font-family: $roboto-regular;
        font-size: 18px;
        font-weight: 400;
        color: #28a745;
        line-height: 14px;
        margin-top: 20px;
        display: flex;
        text-decoration: none;

        &-icon:after {
            content: "";
            margin-left: 5px;
            width: 21px;
            height: 16px;
            background: url("../../images/shop/machine.svg");
            background-size: contain;
            display: block;
            transition: ease-in-out .5s;
        }

        &-icon:hover:after {
            transition: ease-in-out .5s;
            margin-left: 15px;
        }

        &--disabled {
            color: $second-text;
        }

        &--no-tablet {
            display: flex;

            @media only screen and (min-width: 768px) {
                display: none;
            }

            @media only screen and (min-width: 1025px) {
                display: flex;
            }
        }

        @media only screen and (min-width: 1100px) {
            &-icon:after {
                width: 30px;
                height: 22px;
            }
        }
    }

    &__guarantee-block {
        margin-top: 30px;
        cursor: pointer;
        color: #424242;

        &-title-wrap {
            display: flex;
        }

        &-title {
            font-family: "Roboto-Medium", serif;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            margin-right: 10px;
            transition: color 0.3s ease-in;
            &:hover {
                color: #00a3a4;
            }
        }

        &-description {
            margin-top: 10px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
        }
        &-link {
            margin-top: 10px;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            font-family: "Roboto-Medium", serif;
            & > a {
                color: #00a3a4;
                transition: color 0.3s ease-in;
                text-decoration: none;
                font-family: "RobotoRegular", sans-serif;
                &:hover {
                    text-decoration: underline;
                    color: #00bebf;
                }
            }
        }

        @media only screen and (min-width: 1100px) {
        }
    }

    &__description-block {
        margin-top: 20px;

        @media only screen and (min-width: 1025px) {
            margin-top: 30px;
        }
    }

    &__description-title {
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 18px;
        color: $color-text;
        line-height: 21, 09px;
    }

    &__description-text {
        margin-top: 10px;
        line-height: 24px;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        line-height: 24px;

        pre {
            white-space: initial;
            font-family: $roboto-regular;
        }

        ol {
            list-style: decimal;
            margin-left: 17px;
        }

        ul {
            list-style: initial;
            margin-left: 20px;
        }
        & > p > a {
            color: #00a3a4;
            transition: color 0.3s ease-in;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #00bebf;
            }
        }
    }

    &__wrapper-list-chars {
        display: none;

        @media only screen and (min-width: 1025px) {
            display: grid;
            margin-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 45px;
            grid-row-gap: 30px;
        }
    }

    &__char-list-item {
        display: grid;
        grid-row-gap: 30px;
    }

    &__char-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        margin-top: 30px;

        @media only screen and (min-width: 1025px) {
            display: none;
            // margin-top: 50px;
            // grid-template-columns: repeat(2, 1fr);
            // grid-column-gap: 45px;
        }
    }

    &__char-item {
        display: flex;
        justify-content: space-between;
        // grid-template-columns: auto 1fr auto;
        // grid-row-gap: 30px;
    }

    &__char-list-values {
        text-align: right;
        // flex: 1 1 auto;
    }

    &__char-item-value {
        // &:first-child {

        //     position: relative;
        //     &:before {
        //         content: "";
        //         position: absolute;
        //         bottom: 0px;
        //         width: 100%;
        //         border-bottom: 1px dashed #E6E6E6;
        //         display: block;
        //     }
        // }
    }

    &__char-title {
        height: fit-content;
        position: relative;
        flex: 1 1 auto;

        &:after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            border-bottom: 1px dashed #e6e6e6;
            width: 100%;
        }
    }

    &__char-title-text {
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: $second-text;
        line-height: 18.75px;
        z-index: 1000;
        background: #fff;
        position: relative;
        display: block;
        width: fit-content;
    }

    &__char-value {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: $color-text;
        line-height: 18.75px;
    }

    &__dashed {
        border-bottom: 1px dashed #e6e6e6;
        max-height: 16px;
        display: none;

        @media only screen and (min-width: 768px) {
            display: block;
        }
    }

    &__page-subtitle-similar {
        line-height: 26, 82px;
        margin-left: 16px;

        @media only screen and (min-width: 768px) {
            margin-left: initial;
        }

        @media only screen and (min-width: 1025px) {
            margin-left: initial;
        }
    }

    &__page-subtitle {
        line-height: 26, 82px;
        // margin-left: 16px;

        @media only screen and (min-width: 768px) {
            // margin-left: 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-left: initial;
        }
    }

    &__list-catalog {
        margin-top: 30px;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }

    &__open-rest-chars {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-family: $roboto-bold;
        font-size: 16px;
        font-weight: 700;
        color: $color-active;
        line-height: 18.75px;

        @media only screen and (min-width: 1025px) {
            display: none;
        }
    }

    &__text {
        cursor: pointer;
    }

    &__icon-arrow-low {
        display: inline-flex;
        background-image: url("../../images/shop/arrowHigh.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 9px;
        height: 14px;
        margin-left: 5px;
        cursor: pointer;
    }

    &__icon-arrow-high {
        display: inline-flex;
        background-image: url("../../images/shop/arrowLow.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 9px;
        height: 14px;
        margin-left: 5px;
    }
}
