.question-item {
    margin-top: 46px;

    .tabset {
        display: flex;
        margin-top: initial;
    }

    .tabset__tabs {
        flex: 1 1 523px;
        margin-right: 50px;
        margin-top: initial;
    }

    .tabset__tab-content {
        width: 100%;
        flex: 1 1 100%;
        margin-top: initial;

        @media only screen and (min-width: 1025px) {
            width: auto;
        }
    }

    .tabset__tab-list {
        flex-direction: column;
        height: fit-content;
        border-left: 2px solid #e6e6e6;
        padding-left: 20px;
    }

    .tabset__tab-title--link {
        text-decoration: none;
    }

    .tabset__tab-list {
        &:after {
            content: "";
            position: static;
            height: auto;
            width: auto;
            background: transparent;
            top: auto;
        }
    }

    .tabset__selected {
        position: relative;

        // &:before {
        //     content: "";
        //     position: absolute;
        //     height: 100%;
        //     width: 2px;
        //     background: #00a3a4;
        //     left: -22px;
        // }

        &:after {
            content: "";
            position: static;
            height: initial;
            width: initial;
            background: transparent;
            top: initial;
            left: initial;
            z-index: initial;
            transition: initial;
        }
    }

    &__title {
        color: $color-text;
        font-size: 24px;
        font-family: $roboto-bold;
        font-weight: 700;
    }

    &__answer {
        margin-top: 20px;
        color: $color-text;
        font-family: $roboto-regular;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;

        a {
            color: $color-active;
            text-decoration: none;
            transition: 0.3s ease-in;

            &:hover {
                color: #00bebf;
                text-decoration: underline;
            }
        }
    }

    .tabset__tab-list-item {
        padding-bottom: initial;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: initial;
        }
    }
}
