html {
    line-height: 1.15;
}

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    // min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* input,
select,
textarea,
button,
div,
a {
  &:focus,
  &:active {
    outline: none;
  }
} */

img {
    font-family: sans-serif;
    font-size: 14px;
}
