.error-message {
    color: $color-error;
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 10px;
}

.scale {
    transition: 0.3s ease-in;
    &:hover {
        transform: scale(1);

        @media only screen and (min-width: 1280px) {
            transform: scale(1.1);
            transition: 0.3s ease-in;
        }
    }
}

.custom-button {
    color: #fff;
    font-family: $roboto-regular;
    font-size: 14px;
    font-weight: 400;
    background-color: $color-active;
    border-radius: 10px;
    border: 2px solid $color-active;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in;
    transition-property: background-color, border;
    padding: 16px 30px;

    &:hover {
        background-color: #009697;
        border: 2px solid #009697;
    }

    &__preloader {
        position: absolute;
        width: 20px;
        transform: translate(-50%, -50%);
        z-index: 40;
    }

    &--is-loading {
        background: #fff;
        border: 1px solid $color-active;
        width: 100%;
        padding: 25.5px 0;
        min-height: 50px;
        min-width: 130px;
        &:hover {
            background: #fff;
        }
    }
}

.input-range {
    background: linear-gradient(
        270deg,
        #fa483d 13.02%,
        #fac23d 50.52%,
        #00a3a4 100%
    );
    -webkit-appearance: none;
    border-radius: 15px;
    border-radius: 3px;
    height: 3px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;

    &:focus {
        outline: none;
    }
}

input[type="range"]::-ms-track {
    background: linear-gradient(
        270deg,
        #fa483d 13.02%,
        #fac23d 50.52%,
        #00a3a4 100%
    );
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    &:before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        background-color: rgba(66, 66, 66, 0.21);
        top: 50%;
        left: 50%;
    }
}

input[type="range"]::-moz-range-thumb {
}

input[type="range"]::-ms-thumb {
}

// .givo-chat-container {
//   position: fixed;
//   right: 50px;
//   bottom: 50px;
//   z-index: 1001;
//   display: none;
//   background-color: $color-active;
//   padding: 15px;
//   border-radius: 50%;

//   &:hover {
//     background-color: #009697;
//   }

//   @media only screen and (min-width: 1280px) {
//     display: block;
//   }
// }
//
// .givo-chat {
//     background-image: url('../../images/footer/givo-chat.svg');
//     background-size: 100%;
//     background-repeat: no-repeat;
//     width: 30px;
//     height: 30px;
//     display: inline-block;
//     vertical-align: bottom;
// }

.help-arrow-widget {
    background: rgba(0, 163, 164, 0.1);
    position: relative;
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    transition: 0.2s ease-in;

    &__icon {
        display: inline-flex;
        background-image: url("../../images/help/arrow-help-page.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 15.5px;
        height: 9.5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s ease-in;
    }
}

.scroll-to-top {
    position: fixed;
    top: 80%;
    left: 16px;
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in;
    z-index: 9;

    @media only screen and (min-width: 1366px) {
        left: 18px;
    }

    @media only screen and (min-width: 1444px) {
        left: 24px;
    }

    @media only screen and (min-width: 1920px) {
        width: 70px;
        height: 70px;
        left: 50px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    &:after {
        content: "";
        position: absolute;
        width: 18px;
        height: 17px;
        background-image: url("../../images/widgets/scroll-icon.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;

        @media only screen and (min-width: 1920px) {
            width: 25px;
            height: 23px;
        }
    }

    @media only screen and (min-width: 1280px) {
        display: block;
    }
}

.main-link {
    color: $color-active;
    text-decoration: none;
    transition: 0.3s ease-in;

    &:hover {
        color: #00bebf;
        text-decoration: underline;
    }
}

// .preloader {
//     background: #E8EBF3;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     z-index: 1010;
// }

// .wifi-loader {
//     width: 64px;
//     height: 64px;
//     border-radius: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     svg {
//       position: absolute;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       circle {
//         position: absolute;
//         fill: none;
//         stroke-width: 6px;
//         stroke-linecap: round;
//         stroke-linejoin: round;
//           transform: rotate(-100deg);
//         transform-origin: center;
//         &.back {
//           stroke: #C3C8DE;
//         }
//         &.front {
//           stroke:  #00a3a4;
//         }
//       }
//       &.circle-outer {
//         height: 86px;
//         width: 86px;
//         circle {
//           stroke-dasharray: 62.75 188.25;
//           &.back {
//             animation: circle-outer 1.8s ease infinite .3s;
//           }
//           &.front {
//             animation: circle-outer 1.8s ease infinite .15s;
//           }
//         }
//       }
//       &.circle-middle {
//         height: 60px;
//         width: 60px;
//         circle {
//           stroke-dasharray: 42.5 127.5;
//           &.back {
//             animation: circle-middle 1.8s ease infinite .25s;
//           }
//           &.front {
//             animation: circle-middle 1.8s ease infinite .1s;
//           }
//         }
//       }
//       &.circle-inner {
//         height: 34px;
//         width: 34px;
//         circle {
//           stroke-dasharray: 22 66;
//           &.back {
//             animation: circle-inner 1.8s ease infinite .2s;
//           }
//           &.front {
//             animation: circle-inner 1.8s ease infinite .05s;
//           }
//         }
//       }
//     }
//     .text {
//       position: absolute;
//       bottom: -40px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       text-transform: lowercase;
//       font-weight: 500;
//       font-size: 14px;
//       letter-spacing: .2px;
//       &::before,
//       &::after {
//         content: attr(data-text);
//       }
//       &::before {
//         color: #414856;
//       }
//       &::after {
//         color:  #00a3a4;
//         animation: text-animation 3.6s ease infinite;
//         position: absolute;
//         left: 0;
//       }
//     }
//   }

// .wifi-loader svg circle {

// }

// .wifi-loader svg circle {

// }

//   @keyframes circle-outer {
//     0% {
//       stroke-dashoffset: 25;
//     }
//     25% {
//       stroke-dashoffset: 0;
//     }
//     65% {
//       stroke-dashoffset: 301;
//     }
//     80% {
//       stroke-dashoffset: 276;
//     }
//     100% {
//       stroke-dashoffset: 276;
//     }
//   }

//   @keyframes circle-middle {
//     0% {
//       stroke-dashoffset: 17;
//     }
//     25% {
//       stroke-dashoffset: 0;
//     }
//     65% {
//       stroke-dashoffset: 204;
//     }
//     80% {
//       stroke-dashoffset: 187;
//     }
//     100% {
//       stroke-dashoffset: 187;
//     }
//   }

//   @keyframes circle-inner {
//     0% {
//       stroke-dashoffset: 9;
//     }
//     25% {
//       stroke-dashoffset: 0;
//     }
//     65% {
//       stroke-dashoffset: 106;
//     }
//     80% {
//       stroke-dashoffset: 97;
//     }
//     100% {
//       stroke-dashoffset: 97;
//     }
//   }

//   @keyframes text-animation {
//     0% {
//       clip-path: inset(0 100% 0 0);
//     }
//     50% {
//       clip-path: inset(0);
//     }
//     100% {
//       clip-path: inset(0 0 0 100%);
//     }
//   }
