.search-address {
    display: flex;
    // column-gap: 17.78px;
    // margin-top: 23.11px;
    flex-wrap: wrap;
    // row-gap: 17.78px;

    // @media only screen and (min-width: 1025px) {
    //     margin-top: 50px;
    // column-gap: 30px;
    // }

    // &--ios {
    //     column-gap: initial;
    //     row-gap: initial;
    //     margin-top: initial;
    // }

    // label.MuiInputLabel-outlined {
    //     transform: translate(14px, 14px) scale(1);

    //     @media only screen and (min-width: 768px) {
    //         transform: translate(14px, 18px) scale(1);
    //     }
    // }

    &__centering {
        border: 1px solid $second-text;
        border-radius: 10px;
        height: 44.44px;
        width: 44.44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 17.78px;
        margin-top: 23.11px;

        @media only screen and (min-width: 1025px) {
            margin-right: 30px;
            margin-top: 50px;
        }

        @media only screen and (min-width: 768px) {
            height: 50px;
            width: 50px;
        }

        &:hover {
            transition: 0.2s ease-in;
            border: 1px solid $color-text;
        }

        // &--ios {
        //     margin-right: 17.78px;
        //     margin-top: 23.11px;
        //     @media only screen and (min-width: 1025px) {
        //         margin-right: 30px;
        //         margin-top: 50px;
        //     }
        // }
    }

    &__autocomplete {
        flex: 1 1 auto;
        margin-top: 23.11px;

        @media only screen and (min-width: 617px) {
            flex: 1 1 0;
        }

        @media only screen and (min-width: 768px) {
            flex: initial;
        }

        @media only screen and (min-width: 768px) {
            margin-right: 17.78px;
        }
        @media only screen and (min-width: 1025px) {
            margin-right: 30px;
            margin-top: 50px;
        }

        input {
            width: 100% !important;

            @media only screen and (min-width: 758px) {
                width: auto !important;
            }
        }
        // &--ios {
        //     margin-top: 23.11px;
        //     @media only screen and (min-width: 768px) {
        //         margin-right: 17.78px;
        //     }
        //     @media only screen and (min-width: 1025px) {
        //         margin-right: 30px;
        //         margin-top: 50px;
        //     }
        // }
    }

    &__building {
        flex: 1 1 0;
        margin-right: 17.78px;
        margin-top: 23.11px;
        // min-width: 270px;
        @media only screen and (min-width: 421px) {
            flex: 1 1 auto;
        }

        @media only screen and (min-width: 617px) {
            flex: 1 1 0;
        }

        @media only screen and (min-width: 768px) {
            flex: initial;
        }

        @media only screen and (min-width: 1025px) {
            margin-right: 30px;
            margin-top: 50px;
        }

        input {
            width: 100% !important;

            @media only screen and (min-width: 768px) {
                width: auto !important;
            }
        }

        // &--ios {
        //     margin-right: 17.78px;
        //     margin-top: 23.11px;
        //     @media only screen and (min-width: 1025px) {
        //         margin-right: 30px;
        //         margin-top: 50px;
        //     }
        // }
    }

    &__centering-icon {
        background-image: url("../../images/map/centering.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 20px;
        width: 20px;
        display: inline-flex;
    }

    &__btn-search {
        font-family: $roboto-bold;
        font-size: 14.22px;
        font-weight: 700;
        color: #fff;
        padding: 13px 20.5px;
        // flex: 1 1 auto;
        margin-top: 23.11px;

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
            padding: 16px 30px;
            margin-top: 50px;
        }

        // &--ios {
        //     margin-top: 23.11px;
        //     @media only screen and (min-width: 1025px) {
        //         margin-top: 50px;
        //     }
        // }
    }

    &__autocomplete-element {
        // width: 229.33px;
        width: auto;
        height: 44.44px;

        @media only screen and (min-width: 768px) {
            width: 258px;
        }

        @media only screen and (min-width: 1025px) {
            width: 328px;
        }
    }

    &__autocomplete-element-building {
        // width: 146.67px;
        width: auto;
        height: 44.44px;

        @media only screen and (min-width: 768px) {
            width: 192px;
        }

        @media only screen and (min-width: 1025px) {
            width: 234;
        }
    }

    .MuiAutocomplete-popupIndicator {
        display: none;
    }
}
