.seven-days {
    position: absolute;
    z-index: 10;
    top: 40px;
    right: 0;
    transform: translateX(0%);
    transition: 0.3s ease-in;
    display: none;

    @media only screen and (min-width: 1280px) {
        display: block;
    }

    &--close {
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        box-shadow: $main-box-shadow;
        border-radius: 10px 0px 0px 10px;
        padding: 20px;
        background: #fff;
    }

    &__text {
        color: $color-active;
        font-family: $montserrat-bold;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        transition: 0.2s ease-in;

        &:hover {
            color: #00bebf;
        }
    }

    &__icon-close {
        display: block;
        background-image: url("../../images/widgets/seven-days-close.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 13px;
        height: 13px;
        margin-left: 25px;
        cursor: pointer;
        transition: 0.2s ease-in;

        &:hover {
            background-image: url("../../images/widgets/seven-days-close-hover.svg");
        }
    }
}
