@import "variables";

.shop {
  padding: 0 16px;
  margin-bottom: 70px;

  @media only screen and (min-width: 768px) {
    padding: 0 32px;
  }

  @media only screen and (min-width: 1025px) {
    margin-bottom: 100px;
  }

  @media only screen and (min-width: 1280px) {
    padding: initial;
    // width: 1216px;
    width: 1193px;
  }

  @media only screen and (min-width: 1366px) {
    width: 1260px;
  }

  &__page-title {
    margin-top: 12px;
    min-height: 25px;

    @media only screen and (min-width: 1025px) {
      margin-top: 25px;
      min-height: 46px;
    }

    &--ios {
      margin-top: 12px;

      @media only screen and (min-width: 1025px) {
        margin-top: 50px;
      }
    }
  }

    .tabset {
        margin-top: 30px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: fit-content(100%);
        grid-gap: 42px;

        &__tab-list-shop {
            display: grid;
            width: 278px;
            justify-content: normal;

            &__sticky {
                top: 20px;
                position: sticky;
                transition: .3s;

                &__with-header {
                    top: 110px
                }
            }
        }

        &__tab-list-shop-item {
            .tabset__tab-shop-title {
                padding: 13px;
                background: none;
                border-radius: 5px;
                line-height: 24px;
                &:hover {
                    background: rgba(244, 244, 244, 1);
                }
            }
        }

        &__tab-list-shop-active {
            .tabset__tab-shop-title {
                background-color: $color-active;
                color: #FFFFFF;

                &:hover {
                    background-color: $color-active;
                    color: #FFFFFF;
                }

                &--top {
                    background: linear-gradient(93.8deg, #F03A00 -10.77%, #FDB500 106.76%);

                    &:hover {
                        background: linear-gradient(93.8deg, #F03A00 -10.77%, #FDB500 106.76%);
                    }
                }

                &__picture {
                    filter: brightness(0) invert(1);
                }
            }
        }

        &__tab-shop-title {
            font-family: $roboto-regular;
            color: $color-text;
            width: 100%;
            display: grid;
            grid-template-columns: 24px 1fr;
            grid-gap: 10px;
            align-items: center;

            &--top {
                background: none;
                color: #FF7A00;

                &::after {
                    display: none;
                }
            }
        }
    }

  .tabset__tabs {
    margin-top: initial;
    padding: initial;
    width: fit-content;
  }

  .tabset__tab-title {
    white-space: nowrap;
    // padding-bottom: 10px;
    // display: inline-block;
  }

  .tabset__tab-content {
    padding: initial;
    margin-top: 0;
  }

  .tabset__tab-list-item {
    padding: initial;
  }

  &__buttons-group-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-filters {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    align-items: center;
    transition: 0.2s ease-in;
    margin-top: 20px;
    padding-bottom: 10px;

    @media only screen and (min-width: 1025px) {
      padding-bottom: initial;
    }

    @media only screen and (min-width: 1280px) {
      margin-top: initial;
    }

    &--animate {
      transition: 0.3s ease-in;
    }
  }

  &__item-filter {
    margin-right: 10px;
    border: 1px solid $second-text;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.1s ease-in;
    white-space: nowrap;

    @media only screen and (min-width: 1025px) {
      &:hover {
        border-color: $color-text;
      }
    }

    &:last-child {
      margin-right: initial;
    }

    &--animate {
      transition: 0.3s ease-in;
    }
  }

  &__item-filter-text {
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 14px;
    color: $color-text;
    user-select: none;
    text-decoration: none;
    padding: 11px 13px;
    display: inline-block;
    &:hover {
      background-color: transparent;
    }

    @media only screen and (min-width: 1025px) {
      font-size: 16px;
      padding: 10px 15px;
    }

    &--active {
    }
  }

  &__item-filter-checked-icon {
    background-image: url("../../images/shop/filter-checked.svg");
    background-repeat: no-repeat;
    // background-size: 100%;
    width: 9.43px;
    height: 12px;
    display: inline-flex;
    margin-left: 12px;
    // transition: .2s ease-in;
    visibility: visible;
  }

  &__item-filter-checked-icon-hidden {
    visibility: hidden;
    // transition: .2s ease-in;
  }

  &__sort {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
    text-decoration: none;
    &:hover {
      background-color: transparent;
    }

    @media only screen and (min-width: 1025px) {
      margin-top: initial;
      justify-content: initial;

      &:hover {
        .shop__sort-button {
          color: $color-active;
        }

        .shop__sort-icon {
          color: $color-active;
        }

        .shop__sort-icon {
          svg path {
            fill: #00a3a4;
          }
        }
      }
    }
  }

  &__sort-button {
    outline: none;
    user-select: none;
    cursor: pointer;
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 16px;
    color: $color-text;
    transition: 0.2s ease-in;
  }

  &__sort-icon {
    display: inline-flex;
    background-image: url("../../images/shop/sort-icon2.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-size: 100%;
    margin-left: 10px;

    @media only screen and (min-width: 1280px) {
      background-image: initial;
      background-repeat: initial;
      width: initial;
      height: initial;
      background-size: initial;
    }

    svg path {
      transition: 0.2s ease-in;
    }

    &--expensive {
      background-image: url("../../images/shop/sort-icon.svg");

      @media only screen and (min-width: 1280px) {
        background-image: initial;
      }
    }
  }

  &__list-catalog {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 70px;
      column-gap: 32px;
    }

    @media only screen and (min-width: 1025px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 50px;
    }

    @media only screen and (min-width: 1280px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 40px;
    }

    &--no-products {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 60px;
      margin-bottom: 200px;

      @media only screen and (min-width: 768px) {
        margin-bottom: 500px;
      }

      @media only screen and (min-width: 1280px) {
        margin-top: 80px;
      }
    }
  }

  &__item-no-products {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__img-no-products {
    display: inline-flex;
    background-image: url("../../images/shop/no-products.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 248px;
    height: 172px;
    margin: 0 auto;
  }

  &__text-no-products {
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 20px;
    color: $second-text;
    margin-top: 15px;
  }

  &__item-link {
    text-decoration: none;
  }

  &__item-catalog {
    margin: 0 auto;
    transition: 0.2s ease-in;
    box-shadow: $main-box-shadow;
    border-radius: 8.2px;

    &:hover {
      box-shadow: 0px 21.0205px 29.4404px rgba(0, 0, 0, 0.041833),
        0px 12.6618px 26.6402px rgba(0, 0, 0, 0.0346325),
        0px 8.11433px 21.3797px rgba(0, 0, 0, 0.0293722),
        0px 5.25905px 11.8942px rgba(0, 0, 0, 0.0243561),
        0px 3.31051px 4.56078px rgba(0, 0, 0, 0.0190508),
        0px 1.9021px 1.46358px rgba(0, 0, 0, 0.0132609),
        0px 0.837162px 0.25043px rgba(0, 0, 0, 0.00691645);
    }

    @media only screen and (min-width: 1025px) {
      border-radius: 10px;
      max-width: min-content;
    }
    // align-items: center;
  }

  &__item-wrapper {
    padding: 25px;
    background: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s ease-in;
    position: relative;
    align-items: center;
    border-radius: 8.2px;
    @media only screen and (min-width: 768px) {
      padding: 22px;
    }
    @media only screen and (min-width: 1025px) {
      padding: 25px;
      border-radius: 10px;
    }
  }

  &__item-chips {
    display: flex;
    border-radius: 20px;
    padding: 5px 10px;
  }

  &__item-chips-wrapper {
    position: absolute;
    left: 0;
    top: -30px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;

    &--product-cart {
      top: 10px;
      left: 10px
    }
  }

  &__item-catalog-top {
    background: linear-gradient(76.53deg, #F03A00 9.45%, #F7D901 90.13%);
  }

  &__item-catalog-discount {
    background: #f9281b;
  }

  &__item-catalog-new {
    background: #fac23d;

    &--promo {
      background: #fa8c3d;
    }
  }

  &__item-catalog-promo {
    background: #ff6c08;
  }

  &__item-catalog-label {
    color: #fff;
    font-size: $roboto-bold;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.06px;

    &--top {
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  &__item-catalog-pic {
    width: 278px;
    height: 278px;

      @media only screen and (min-width: 768px) {
          width: 292px;
          height: 292px;
      }

      @media only screen and (min-width: 1280px) {
          width: 220px;
          height: 220px;
      }
      @media only screen and (min-width: 1366px) {
          width: 250px;
          height: 250px;
      }
  }

  &__item-catalog-info {
    position: relative;
    width: 100%;
    margin-top: 47px;
  }

  &__item-catalog-title {
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 16px;
    color: $color-text;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 250px;
    line-height: 21.09px;
    @media only screen and (min-width: 1025px) {
      max-width: 285px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 18px;
      max-width: 220px;
    }
    @media only screen and (min-width: 1366px) {
      max-width: 250px;
    }
  }

  &__item-catalog-can-buy {
    color: #28a745;
    display: inline-flex;
    margin-top: 7px;
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    &-icon:after {
      content: "";
      margin-left: 5px;
      width: 21px;
      height: 16px;
      background: url("../../images/shop/machine.svg");
      background-size: contain;
    }

    @media only screen and (min-width: 1025px) {
      font-size: 13px;
      margin-top: 10px;
      line-height: 16.41px;
      &-icon:after {
        width: 22px;
        height: 16px;
      }
    }
  }

  &__item-catalog-short-note {
    margin-top: 16px;
    color: $second-text;
    font-family: $roboto-regular;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 338px;
    line-height: 21px;
    min-height: 21px;

    @media only screen and (min-width: 1025px) {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      min-height: 24px;
    }
  }

  &__item-price-block {
    margin-top: 16px;
    display: flex;
    align-items: center;

    @media only screen and (min-width: 1025px) {
      margin-top: 20px;
    }
  }

  &__item-true-price {
    color: $color-text;
    font-family: $roboto-medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;

    @media only screen and (min-width: 1025px) {
      font-size: 24px;
      line-height: 28.13px;
    }
  }

  &__currency {
    text-transform: uppercase;
    font-size: 18px;
  }

  &__currency-old-price {
    text-transform: uppercase;
    font-size: 14px;
  }

  &__item-old-price {
    margin-left: 8px;
    color: $second-text;
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 15px;
    position: relative;
    line-height: 23px;
    &:before {
      content: "";
      border-top: 1px solid #f1473c;
      width: 100%;
      background: #f1473c;
      position: absolute;
      transform: rotate(9.16deg);
      top: 50%;
      left: 0;
    }

    @media only screen and (min-width: 1025px) {
      font-size: 18px;
      margin-left: 10px;
      line-height: 28.13px;
    }
  }

  &__item-order-btn {
    color: $color-active;
    border: 1px solid $color-active;
    padding: 15px 30px;
    font-family: $roboto-bold;
    //font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    background: transparent;
    margin-top: 25px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in;

    &:hover {
      color: #fff;
      background: #009697;
    }
  }

  &__dropdown {
    display: block;
    margin-top: 15px;

    @media only screen and (min-width: 1280px) {
      display: none;
    }

    .selected-text {
      padding-left: 10px;
      color: $color-text;
      font-family: $roboto-medium;
      font-size: 16px;
      font-weight: 500;
      flex: 1;
      line-height: 24px;
    }

    .selected-picture{
      filter: brightness(0) opacity(.7);
    }
  }

    &__nav-block-for-tablet {
        .custom-select-option {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 24px fit-content(100%);
            .tabset__tab-shop-title__picture{
                max-width: 24px;
                &__empty {
                    width: 24px;
                }
            }
        }

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .faq-item__dropdown {
        order: 1;
        width: 328px;
      }

      .shop__sort-block {
        order: 2;
        margin-left: auto;
      }

      .shop__list-filters {
        order: 3;
        padding-bottom: initial;
        width: 100%;
        min-height: 40px;
      }
    }
  }

  .shop__item-filter--active {
    border: 1px solid $color-active;
    background: rgba(0, 163, 164, 0.05);
  }

  .shop__item-filter-text--active {
    color: $color-active;
    &:hover {
      background-color: transparent;
    }
  }
}
