.sitemap {
    &__recursive-list {
        margin-top: 20px;
        @media only screen and (min-width: 1280px) {
            margin-top: 50px;
        }

        & > .sitemap__group {
            margin-top: 20px;
            @media only screen and (min-width: 1280px) {
                margin-top: 40px;
            }
        }

        & > .sitemap__group > .link-children--1 {
            margin-top: 20px;
        }
    }

    &__group .link-children--1 {
        margin-top: 15px;
    }

    &__group .link-children--1 .link-children--1 > .sitemap__group {
        margin-bottom: 7px;
    }

    &__group .link-children--1 .link-children--1 {
        margin-bottom: 25px;
    }

    &__group .link-children--1 .link-children--2 {
        margin-bottom: 25px;
    }

    &__group .link-children--1 .link-children--1 .sitemap__link {
        font-family: $roboto-light;
        font-size: 16px;
        line-height: 18.75px;
    }

    &__group .link-children--1 > .sitemap__group {
        margin-bottom: 15px;
        // margin-top: 20px;
    }

    &__group .link-children--1 .sitemap__link  {
        font-family: $roboto-regular;
        font-size: 18px;
        line-height: 21.09px;
    }

    &__group .link-children--2 {
        margin-top: 15px;
    }

    &__group .link-children--2 > .sitemap__group {
        margin-bottom: 7px;
    }

    &__group .link-children--2 .sitemap__link {
        font-family: $roboto-light;
        font-size: 16px;
        line-height: 18.75px;
    }

    &__group .link-children--3 .sitemap__link {
        font-family: $roboto-light;
        font-size: 16px;
        line-height: 16px;
        color: #B8B8B8;
    }

    &__link {
        color: $color-text;
        font-family: $roboto-bold;
        line-height: 28.13px;
        font-size: 24px;
        text-decoration: none;


        &:hover {
            text-decoration: underline;
            color: $color-active;
        }
    }

    &__content > .sitemap__group {
        margin-bottom: 10px;
    }


    padding: 0 16px;
    margin-bottom: 70px;

    @media only screen and (min-width: 768px) {
        padding: 0 32px;
    }

    @media only screen and (min-width: 1025px) {
        margin-bottom: 100px;
    }

    @media only screen and (min-width: 1280px) {
        padding: initial;
        // width: 1216px;
        width: 1193px;
    }

    @media only screen and (min-width: 1366px) {
        width: 1260px;
    }

    &__page-title {
        margin-top: 12px;

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        &--ios {
            margin-top: 12px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }
}