// Button link into slider
.slider-slick-link {
    font-family: $roboto-bold;
    font-size: 14.22px;
    font-weight: 700;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-decoration: none;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    padding: 14px 24px;
    display: inline-flex;
    width: fit-content;
    cursor: pointer;
    flex: 0 1 auto;
    text-align: center;

    @media only screen and (min-width: 1280px) {
        font-size: 16px;
        padding: 14px 33px;
        padding: 14px 33px;
        margin-top: 30px;
    }
}

.slider-slick-wrap-img {
    outline: none;
}

div.swiper-pagination {
    text-align: initial;
    position: absolute;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

// .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.box {
//     width: auto;
//     height: auto;
// }

div.swiper-container-horizontal > div.swiper-pagination-bullets {
    // display: none;
    bottom: 0px;
    left: auto;
    right: 42px;
    display: inline-flex;
    width: auto;

    @media only screen and (min-width: 1280px) {
        // display: block;
        // display: initial;
        bottom: 30px;
        right: 0;
        left: 66%;
    }
}

div.swiper-container.swiper-container-ios {
    // max-height: 321px;
    // z-index: 0;
    @media only screen and (min-width: 1280px) {
        margin-top: 83px;
    }
}

div.swiper-container.swiper-container-ios .swiper-wrapper {
    // z-index: 0;
    // position: static;
}

div.swiper-container.swiper-container-ios .swiper-wrapper .swiper-slide {
    // z-index: 0;
    // position: static;
    // flex-shrink: initial;
    // transition-property: initial;
}

.swiper-pagination-bullet-active img {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $color-active;
}

// .swiper-pagination-bullets .box.swiper-pagination-bullet-active {
//     opacity: 1;
// }

// .box.swiper-pagination-bullet {
//     background: transparent;
//     opacity: .7;
// }

// .box.swiper-pagination-bullet-active .bigNumber {
//     width: 40px;
//     height: 25px;
// }

.swiper-pagination-bullet .bigNumber {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    background: #e6e6e6;
    border-radius: 50px;

    @media only screen and (min-width: 1280px) {
        width: auto;
        height: auto;
        margin-right: 5px;
        margin-left: 5px;
    }
}

.slider-slick-content-wrapper {
    @media only screen and (min-width: 1280px) {
        width: 1260px;
        margin: 0 auto;
    }
}

.slider-slick-content-image-is-safari {
    margin-top: 55px;

    @media only screen and (min-width: 1280px) {
        margin-top: initial;
    }
}

.slider-slick-content {
    max-width: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 22.22px 14.22px 15.33px 14.22px;
    // row-gap: 20px;
    height: 290px;
    @media only screen and (max-width: 1280px) {
        height: 220px;
    }

    @media only screen and (min-width: 768px) {
        padding: 22.22px 32px 15.33px 32px;
    }

    @media only screen and (min-width: 1280px) {
        top: 50%;
        transform: translateY(-50%);
        max-width: 440px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 32px;
        // row-gap: initial;
        height: auto;
    }

    @media only screen and (min-width: 1280px) {
        // padding: initial;
    }

    @media only screen and (min-width: 1366px) {
        padding: initial;
    }

    &--ios {
        row-gap: initial;
    }
}

.slider-slick-title {
    font-family: $montserrat-bold;
    font-weight: 700;
    font-size: 28px;
    // flex: 1 1 auto;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;

    @media only screen and (max-width: 1280px) {
        -webkit-line-clamp: 2;
    }
    @media only screen and (max-width: 768px) {
        font-size: 20px;
    }

    @media only screen and (min-width: 320px) and (max-width: 1280px) {
        color: #424242 !important;
    }

    @media only screen and (min-width: 1280px) {
        font-size: 35px;
    }
}

.slider-slick-description {
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 14px;
    flex: 1 1 auto;
    line-height: 24px;
    margin-top: 20px;

    @media only screen and (min-width: 320px) and (max-width: 1280px) {
        color: #424242 !important;
    }

    p {
        -webkit-line-clamp: 3;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        @media only screen and (min-width: 768px) and (max-width: 1280px) {
            -webkit-line-clamp: 1;
        }
        @media only screen and (max-width: 768px) {
            -webkit-line-clamp: 2;
        }
    }

    @media only screen and (min-width: 1280px) {
        font-size: 16px;
        margin-top: 15px;
        -webkit-line-clamp: 2;
    }
}

.slider-slick-button-group {
    position: absolute;
    bottom: 13px;
    right: 14.22px;
    z-index: 20;
    display: flex;
    align-items: center;

    @media only screen and (min-width: 768px) {
        right: 32px;
    }

    .swiper-pagination {
        bottom: 0;
        transform: translate(50%, 50%);
        right: 50%;
        top: 55px;
        width: fit-content;
        display: flex;

        @media only screen and (min-width: 1280px) {
            bottom: initial;
            transform: initial;
            right: initial;
            top: initial;
            width: initial;
        }
    }

    @media only screen and (min-width: 1280px) {
        display: none;
    }
}

.slider-slick-arrow-right {
    background-image: url("../../images/mobile/arrow-left-slider.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    height: 16px;
    width: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-slick-arrow-left {
    background-image: url("../../images/mobile/arrow-right-slider.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-flex;
    height: 16px;
    width: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-slick-button-container {
    box-shadow: $main-box-shadow;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    position: relative;
    background-color: #fff;

    &--left {
        margin-left: 10px;
    }

    &--right {
        margin-right: 10px;
    }

    // &:hover {
    //     transition: .5s ease-in;
    //     background: #eee;
    // }
}

.swiper-button-next--touch-start-prev {
    background: #f3f3f3;
}

.swiper-button-next--touch-start-next {
    background: #f3f3f3;
}

// Navigation desctop
.slider-slick-button-group-desctop {
    position: absolute;
    z-index: 220;
    display: none;
    top: 49%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    // @media only screen and (min-width: 1025px) {
    //     display: block;
    // }
}

.swiper-container-horizontal {
    @media only screen and (min-width: 1280px) {
        &:hover {
            .slider-slick-button-group-desctop {
                display: block;
            }
        }
    }
}

.slider-slick-button-container-desctop {
    width: 25px;
    height: 25px;

    @media only screen and (min-width: 1366px) {
        height: 35px;
        width: 35px;
    }

    @media only screen and (min-width: 1440px) {
        height: 50px;
        width: 50px;
    }
}

.slider-slick-button-container-desctop--left {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-4px, -50%);
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    @media only screen and (min-width: 1280px) {
        transform: translate(-4px, -50%);
    }

    @media only screen and (min-width: 1366px) {
        transform: translate(-10px, -50%);
    }

    @media only screen and (min-width: 1440px) {
        transform: translate(-20px, -50%);
    }

    @media only screen and (min-width: 1920px) {
        transform: translate(-135px, -50%);
    }
}

.slider-slick-button-container-desctop--right {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(4px, -50%);
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    @media only screen and (min-width: 1280px) {
        transform: translate(4px, -50%);
    }

    @media only screen and (min-width: 1366px) {
        transform: translate(10px, -50%);
    }

    @media only screen and (min-width: 1440px) {
        transform: translate(20px, -50%);
    }

    @media only screen and (min-width: 1920px) {
        transform: translate(135px, -50%);
    }
}

.slider-slick-arrow-right-desctop {
    background-image: url("../../images/widgets/slider-desctop-arrow-left.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4.33px;
    height: 7.67px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    @media only screen and (min-width: 1366px) {
        width: 6.07px;
        height: 10.73px;
    }

    @media only screen and (min-width: 1440px) {
        width: 8.67px;
        height: 15.33px;
    }
}

.slider-slick-arrow-left-desctop {
    background-image: url("../../images/widgets/slider-desctop-arrow-right.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4.33px;
    height: 7.67px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    @media only screen and (min-width: 1366px) {
        width: 6.07px;
        height: 10.73px;
    }

    @media only screen and (min-width: 1440px) {
        width: 8.67px;
        height: 15.33px;
    }
}

div.swiper-pagination-custom-desktop {
    transform: translate3d(-50%, 14px, 0);
    left: 50%;
    bottom: 0;
    display: flex;

    .swiper-pagination-bullet {
        display: flex;
        width: 10px;
        height: 10px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transition: 0.1s ease-in;

        &:hover {
            background: $color-active;
        }
    }

    .swiper-pagination-bullet-active {
        background: $color-active;

        .circle-progress {
            stroke: $color-active;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }
}

.circle-background,
.circle-progress {
    fill: none;
}

.circle-background {
    //   stroke: #ddd;
}

.circle-progress {
    stroke: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
}
