.spinner {
    animation: rotate 2s linear infinite;
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);

    & .path {
        stroke: hsl(180, 100, 32);
        stroke-linecap: round;
        animation: dash 0.5s ease-in infinite;
    }
}

@keyframes rotate {
    100% {
        // transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
