.strong-side {
    &__item {
        display: flex;
        align-items: center;
        // column-gap: 25px;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        // row-gap: 18.68px;
        // row-gap: 20px;

        @media only screen and (min-width: 768px) {
            // row-gap: 20px;
        }

        @media only screen and (min-width: 1025px) {
            flex-wrap: initial;
            justify-content: flex-start;
            flex-direction: row;
        }

        // &--ios {
        // row-gap: initial;
        // }
    }

    &__miniature {
        background-repeat: no-repeat;
        background-size: 100%;
        // масштабирование картинок при ресайзе
        // width: 120px;
        min-width: 120px;
        height: 120px;
        display: inline-block;
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
        }

        @media only screen and (min-width: 1025px) {
            margin-right: 25px;
            margin-bottom: initial;
        }

        &--pig {
            background-image: url("../../images/main_and_internet/prepay.png");
        }

        &--go-on {
            background-image: url("../../images/main_and_internet/stop-service.png");
        }

        &--support {
            background-image: url("../../images/main_and_internet/tech-support.png");
        }

        &--usb {
            background-image: url("../../images/main_and_internet/usb.png");
        }

        &--bitcoin {
            background-image: url("../../images/main_and_internet/cashback.png");
        }

        &--apps {
            background-image: url("../../images/main_and_internet/iOS-Android.png");
        }

        &--message {
            background-image: url("../../images/main_and_internet/SMS-inform.png");
        }

        &--plus7 {
            background-image: url("../../images/main_and_internet/7days.png");
        }

        &--fop {
            background-image: url("../../images/inet-business/FOPandOther.png");
        }

        &--speed-is-actual {
            background-image: url("../../images/inet-business/speed-actual2.png");
        }

        &--e-document {
            background-image: url("../../images/inet-business/e-documentoborot.png");
        }

        &--prepay-for-business {
            background-image: url("../../images/inet-business/prepay2.png");
        }

        &--manager-for-business {
            background-image: url("../../images/inet-business/manager.png");
        }

        &--our-cable {
            background-image: url("../../images/inet-business/our-cable.png");
        }

        &--iptv-console {
            background-image: url("../../images/tv/scratch/IpTV.png");
        }

        &--five-devices {
            background-image: url("../../images/tv/scratch/5-devices.png");
        }

        &--catalog-channels {
            background-image: url("../../images/tv/scratch/catalog-channels.png");
        }

        &--more-than-ctv {
            background-image: url("../../images/tv/scratch/channels-more-than-ctv.png");
        }
    }

    &__text {
        color: $color-text;
        margin: 0;
        font-size: 14px;
        font-family: $roboto-regular;
        font-weight: 400;
        text-align: center;

        @media only screen and (min-width: 1025px) {
            font-family: $roboto-medium;
            font-weight: 500;
            font-size: 18px;
            text-align: left;
        }

        &--inner-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    // &__link {
    //     color: $color-active;
    //     text-decoration: none;
    // }

    &__note {
        font-family: $roboto-light;
        font-weight: 300;
        font-size: 14px;
        color: $color-text;

        @media only screen and (min-width: 1025px) {
            font-size: 18px;
        }
    }
}
