.subscribe-email {
    // background: linear-gradient(268.7deg, #DBDBDB 0%, #F6F6F6 60.47%, #F6F6F6 99.05%);
    // border-radius: 10px;

    &__container {
        display: flex;
        flex-direction: column-reverse;
        
        @media only screen and (min-width: 1280px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__right {
        margin-top: 67.19px;
        padding-bottom: 20px;

        @media only screen and (min-width: 768px) {
            margin-top: 30px; 
            padding-bottom: 32px;
        }

        @media only screen and (min-width: 1280px) {
            max-width: 482px;
            margin-top: initial;
            padding-bottom: initial;
        }
    }

    &__title {
        font-family: $montserrat-bold;
        font-weight: 700;
        font-size: 22px;
        line-height: 26.82px;
        color: $color-text;

        @media only screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 36.57px;
        }
    }

    &__description {
        font-family: $roboto-regular;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $color-text;
        margin-top: 20px;
    }

    &__wrapper-fields {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

    }

    &__field-block {
        max-width: 328px;
        position: relative;

        &--invalid-email .MuiOutlinedInput-notchedOutline {
            border-color: $color-error !important;
        }

        &--invalid-email .MuiInputLabel-formControl {
            color: $color-error !important;
        }
    }

    &__img {
        width: 100%;
        @media only screen and (min-width: 1280px) {
            width: auto;
        } 
    }

    &__btn-subscribe {
        padding: 15.5px 30px;
        width: fit-content;
        font-family: $roboto-bold;
        font-weight: 700;
        font-size: 16px;
        line-height: 18.75px;
        margin-top: 25px;
    }

    &__error-text {
        color: $color-error;
        font-family: $roboto-regular;
        font-weight: 400;
        position: absolute;
        top: 100%;
        left: 5px;
        font-size: 12px;
        transform: translateY(5px);
    }

    &__modal-sent-email {
        .modal-popup__title--send-socials {
            text-align: center;
            font-size: 24px;
            font-weight: 500;
        }
    }

    &__modal-text {
        color: $color-text;
        margin-top: 25px;
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        text-align: center;
    }

    &__modal-bolt-text {
        font-family: $roboto-medium;
        font-size: 14px;
        font-weight: 500;
        color: $color-text;
        line-height: 16.41px;
        margin-top: 25px;
    }

    &__list-socials {
        margin: 25px auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        width: 270px;
    }

    &__text-social {
        transition: .2s ease-in;
        &--gmail {
            // align-self: flex-end;
        }
    }

    &__icon-social {
        height: 50px;
        width: 50px;
        background: #F1F1F1;
        border-radius: 5px;
        position: relative;
        transition: .2s ease-in;
        // margin-bottom: 7px;
        
        &--facebook {
            &:before {
                content: '';
                background-image: url('../../images/blog/blog_social_modal_fb.svg');
                height: 36px;
                width: 36px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
            }
        }

        &--telegram {
            &:before {
                content: '';
                background-image: url('../../images/blog/blog_social_modal_tg.svg');
                height: 36px;
                width: 36px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
            }
        }

        &--messenger {
            &:before {
                content: '';
                background-image: url('../../images/blog/blog_social_modal_msr.svg');
                height: 36px;
                width: 36px;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
            }
        }
    }

    &__link-social {
        color: $second-text;
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        text-decoration: none;
        width: 80px;
        height: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &:hover {
            .subscribe-email__icon-social  {
                background: #E2E2E2;
            }

            .subscribe-email__text-social {
                color: $color-text;
            }
        }
    }

    &__run-popup {
        cursor: pointer;
    }
}