.support {
    align-self: stretch;
    display: none;

    @media only screen and (min-width: 1280px) {
        display: block;
    }

    &__content {
        width: 100%;
        max-width: 208px;
        margin-left: auto;
        position: relative;

        &:hover {
            box-shadow: $main-box-shadow;
            border-radius: 0px 0px 10px 10px;
            height: 260px;
            background: #fff;

            .support__hidden-content {
                height: auto;
                visibility: visible;
            }

            .support__icon-arrow {
                background: url("../../images/header/arrow-open.svg");
                background-repeat: no-repeat;
                transition: 0.2s ease-in;
            }
        }

        &--focus {
            height: 260px;
            background: #fff;
            box-shadow: $main-box-shadow;
            border-radius: 0px 0px 10px 10px;

            .support__hidden-content {
                height: auto;
                visibility: visible;
            }
        }
    }

    &__content-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 21px 0;
    }

    &__tel-container {
    }

    &__tel {
        color: $color-text;
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;

        &:hover {
            color: #00a3a4;
            transition: .2s ease-in;
        }
    }

    &__icon-arrow {
        margin-left: 3px;
        background: url("../../images/header/arrow-closed.svg");
        //background: url('../../images/header/arrow-open.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 12px;
        width: 13px;
        display: inline-flex;
        transition: 0.2s ease-in;
        vertical-align: middle;
    }

    &__notice {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $second-text;
        line-height: 16px;
    }

    &__callme-schedule {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $second-text;
        text-align: center;
        margin-bottom: 16px;
    }

    &__visible-content {
    }

    &__hidden-content {
        visibility: hidden;
        height: 0;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    &__or {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 12px;
        color: $second-text;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        display: block;

        &:before {
            right: 0%;
            content: "";
            position: absolute;
            width: 68px;
            height: 1px;
            top: 50%;
            transform: translate(-40%, -50%);
            background: #e6e6e6;
        }

        &:after {
            content: "";
            position: absolute;
            width: 68px;
            height: 1px;
            top: 50%;
            transform: translate(10%, -50%);
            background: #e6e6e6;
            left: 100%;
        }
    }

    &__callme {
        max-width: 168px;
        margin: 16px auto;
    }

    &__callme-title {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $color-text;
        margin-bottom: 5px;
    }

    &__callme-btn {
        margin-top: 16px;
        width: 100%;
        box-shadow: none;
    }

    &__callme-notice {
        font-family: $roboto-regular;
        font-weight: 500;
        font-size: 12px;
        color: $color-text;
    }

    &__callme-clock-icon {
        margin-bottom: 10px;
        margin-top: 7px;
    }

    &__has-submited-content {
        max-width: 168px;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 130px;
    }

    &__error-message {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        text-align: left;
    }

    &__field-wrapper {
        position: relative;

        &--invalid-phone .MuiOutlinedInput-notchedOutline {
            border-color: $color-error !important;
        }

        &--invalid-phone .MuiInputLabel-formControl {
            color: $color-error !important;
        }
    }
}

form .support__callme-btn {
    box-shadow: none;
    padding: 10px 0;
    transition: none;
}
