.tabset {
  margin-top: 30px;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1025px) {
    margin-top: 40px;
  }

  &__tabs {
    padding: 0 16px;

    @media only screen and (min-width: 768px) {
      padding: 0 32px;
    }

    @media only screen and (min-width: 1025px) {
      margin-top: 40px;
    }

    @media only screen and (min-width: 1366px) {
      padding: initial;
    }
  }

  &__tab-content {
    padding: 0 16px;
    padding-right: initial;

    @media only screen and (min-width: 768px) {
      padding: 0 32px;
      padding-right: initial;
    }

    @media only screen and (min-width: 1025px) {
      margin-top: 40px;
    }

    @media only screen and (min-width: 1366px) {
      padding: initial;
    }

    .tariffs-list {
      @media only screen and (min-width: 1280px) {
        margin: initial;
        padding: initial;
        justify-content: center;
      }
    }
  }

  &__tab-list {
    display: flex;
    position: relative;
    // column-gap: 30px;

    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: #e6e6e6;
      top: 100%;
      // margin-top: 10px;
    }

    &--ios {
      column-gap: initial;
    }
  }

  &__tab-list-item {
    height: 100%;
    padding-bottom: 10px;
    user-select: none;
    cursor: pointer;
    margin-right: 30px;

    @media only screen and (min-width: 1025px) {
      margin-right: 50px;
    }

    // &:last-child {
    //     margin-right: initial !important;
    // }
  }

  &__tab-title {
    font-family: $roboto-regular;
    font-weight: 400;
    font-size: 16px;
    color: $color-text;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    &:hover {
      background-color: transparent;
    }
    // padding: 7px 14px;
    @media only screen and (min-width: 1025px) {
      font-size: 18px;
    }
  }

  &__selected {
    position: relative;

    .underline-tariffs {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      position: absolute;
      bottom: -2px;
      z-index: 10;
    }

    .sideline {
      top: 0;
      position: absolute;
      height: 100%;
      width: 2px;
      background: #00a3a4;
      left: -22px;
    }

    .tabset__tab-title {
      // background: #fff;
      color: $color-active;
      text-decoration: none;
      user-select: none;
      // cursor: pointer;
      // padding: 7px 14px;
      // border: 1px solid #000;
      // border-radius: 32px;
      transition: all 0.4s ease-in-out;

      // box-shadow: inset -2px -2px 1px rgba(255, 255, 255, 1),
      //             inset 0px 0px 5px rgba(0, 0, 0, 0.6);
      // inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1)
    }
  }

  &__tab-list-shop {
    display: none;

    @media only screen and (min-width: 1280px) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__tab-shop-title {
    text-decoration: none;
    color: $color-active;
    font-family: $roboto-bold;
    font-size: 16px;
    //font-weight: 700;
    background: rgba(0, 163, 164, 0.05);
    border-radius: 10px;
    padding: 15.5px 25px;
    line-height: 18.75px;
    display: inline-flex;
    transition: 0.2s ease-in;

    &:hover {
      background: rgba(0, 163, 164, 0.2);
    }

    &--top {
      background: linear-gradient(
        93.8deg,
        rgba(240, 58, 0, 0.8) -10.77%,
        rgba(253, 181, 0, 0.8) 106.76%
      );
      color: #fff;
      transition: 0.2s ease-in;
      padding: 15.5px 22.5px;
      padding-right: 57px;
      position: relative;

      &:hover {
        background: linear-gradient(93.84deg, #f03a00 -10.77%, #fdb500 116.86%);
      }

      &:after {
        content: "";
        position: absolute;
        background-image: url('../../images/shop/fire_png.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 24px;
        height: 24px;
        top: 50%;
        right: 15px;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__shop-selected {
    .tabset__tab-shop-title {
      background: $color-active;
      color: #fff;

      &--top {
        background: linear-gradient(93.84deg, #f03a00 -10.77%, #fdb500 116.86%);

        &:after {
          content: "";
          position: absolute;
          background-image: url("../../images/shop/fire.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          width: 24px;
          height: 24px;
          top: 50%;
          right: 15px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__tab-list-shop-active {
  }

  &__tab-shop-title-miniature {
    display: inline-flex;
    background-image: url("../../images/shop/fire.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
  }
}
