.tariff-page {
    // padding: 0 16px;

    @media only screen and (min-width: 768px) {
        // padding: 0 32px;
    }

    @media only screen and (min-width: 1025px) {
    }

    @media only screen and (min-width: 1366px) {
        // padding: initial;
    }

    .tabset__tab-content {
        margin-top: initial;
        @media only screen and (min-width: 1280px) {
            padding: 0 32px;
            margin-top: 40px;
        }
    }

    &__page-title {
        margin-top: 12px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }

        &--ios {
            margin-top: 12px;

            @media only screen and (min-width: 1025px) {
                margin-top: 50px;
            }
        }
    }

    &__page-subtitle {
        margin-top: 15px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 25px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__how-connect {
        margin-top: 32px;

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
        }
    }

    &__strong-side {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 20px;

        @media only screen and (min-width: 1025px) {
            grid-template-columns: repeat(1, 1fr);
            column-gap: initial;
        }
    }

    &__what-watch {
        margin-top: 30px;
        display: flex;
        align-items: center;
        column-gap: 100px;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;

        @media only screen and (min-width: 768px) {
            margin-top: 70px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
            flex-direction: row;
            row-gap: initial;
        }

        @media only screen and (min-width: 1280px) {
            justify-content: flex-start;
        }

        &--ios {
            row-gap: initial;
        }
    }

    &__img-tv {
        display: inline-flex;
        background-image: url("../../images/tv/TV.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 328px;
        height: 200px;

        @media only screen and (min-width: 768px) {
            width: 476px;
            height: 291px;
        }

        @media only screen and (min-width: 1025px) {
            width: 700px;
            height: 428px;
        }

        &--ios {
            margin-bottom: 30px;

            @media only screen and (min-width: 1025px) {
                margin-bottom: initial;
                margin-right: 100px;
            }
        }
    }

    &__img-tv {
    }

    &__list-watch {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @media only screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }

        @media only screen and (min-width: 1025px) {
            display: flex;
            flex-direction: column;
        }

        &--ios {
            row-gap: initial;
            @media only screen and (min-width: 1025px) {
            }
        }
    }

    &__item-watch {
        display: flex;
        align-items: center;
        column-gap: 25px;

        &--ios {
            column-gap: initial;
            margin-bottom: 30px;
            @media only screen and (min-width: 1025px) {
                // margin-bottom: initial;
            }

            &:last-child {
                margin-bottom: initial;
            }
        }
    }

    &__icon-watch {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 50px;
        height: 50px;
        display: inline-flex;

        &--portal {
            background-image: url("../../images/tv/portal.svg");
        }

        &--tv-samsung {
            background-image: url("../../images/tv/tv-samsung.svg");
        }

        &--tv-android {
            background-image: url("../../images/tv/tv-android.svg");
        }

        &--os-android {
            background-image: url("../../images/tv/os-android.svg");
        }

        &--ios {
            margin-right: 25px;
        }
    }

    &__text-watch {
        font-family: $roboto-regular;
        font-size: 16px;
        font-weight: 400;
        color: $color-text;
    }

    &__union {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 18px;
        color: #3d3d3d;
        margin-top: 10px;
        // &--second {
        //     margin-top: 25px;
        // }
    }

    &__union-bg {
        display: inline-flex;
        margin-top: 50px;
        background-image: url("../../images/tv-inet/banner-inet-tv.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 62px;

        @media only screen and (min-width: 450px) {
            height: 122px;
        }

        @media only screen and (min-width: 560px) {
            height: 172px;
        }

        @media only screen and (min-width: 768px) {
            height: 225px;
        }

        @media only screen and (min-width: 1025px) {
            height: 310px;
        }

        @media only screen and (min-width: 1280px) {
            height: 350px;
        }
    }

    &__opportunity-txt {
        font-family: $roboto-regular;
        font-size: 14px;
        font-weight: 400;
        color: $color-text;
        margin-top: 15px;

        @media only screen and (min-width: 1025px) {
            font-size: 16px;
            margin-top: 10px;
        }
    }

    &__smart-console {
        // margin-top: 40px;
        margin-bottom: 70px;

        @media only screen and (min-width: 1025px) {
            margin-top: 30px;
            margin-bottom: 100px;
        }
    }

    &__static-ip-address {
        display: flex;
        align-items: center;
        // column-gap: 20px;
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1280px) {
            margin-top: 30px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }

        // &--ios {
        //     column-gap: 20px;
        // }
    }

    &__ip-miniature {
        background-image: url("../../images/tv/IP.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        min-width: 23px;
        height: 30px;
        display: inline-flex;
        margin-right: 20px;

        // &--ios {
        //     margin-right: 20px;
        // }
    }

    &__ip-description-content {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 16px;
        color: #3d3d3d;
    }

    &__ip-description {
        display: inline-flex;
    }

    &__section {
        margin-top: 60px;

        @media only screen and (min-width: 768px) {
            margin-top: 70px;
        }
    }

    &__business-section {
        padding: initial;
    }
}
