.tariffs-list {
    margin-top: 6px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 14px 0;
    padding-left: 16px;

    @media only screen and (min-width: 768px) {
        padding-left: 32px;
    }

    @media only screen and (min-width: 1025px) {
        margin-top: 16px;
    }

    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    // row-gap: 60px;
    // column-gap: 31px;
    // margin-top: 50px;
    // @media only screen and (min-width: 500px) {
    //     grid-template-columns: repeat(2, 1fr);
    // }

    // @media only screen and (min-width: 992px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }

    @media only screen and (min-width: 1280px) {
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(4, 292px);
        margin-bottom: 50px;
        overflow-x: initial;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        padding: 0 32px;
        // padding: initial;
        // padding-left: initial;
    }

    @media only screen and (min-width: 1366px) {
        grid-column-gap: 30px;
        grid-row-gap: 60px;
        padding: initial;
        padding-left: initial;
    }

    &__item {
    }

    &__container-el {
        // min-height: 494px;
        // min-height: 450px;
        margin-right: 30px;

        @media only screen and (min-width: 1280px) {
            margin-right: initial;
            min-height: auto;
        }

        &:last-child {
            padding-right: 25px;

            @media only screen and (min-width: 1280px) {
                padding-right: initial;
            }
        }
    }

    &__scale {
        // old width
        // width: 264px;

        // new width and  height
        width: 264px;
        height: 424px;

        @media only screen and (min-width: 1025px) {
            width: 292px;
            height: 469px;
        }

        &--no-ios {
            .react-card-back {
                backface-visibility: initial !important;
                // backface-visibility: hidden;
            }
        }
    }

    &__cards-item {
        // height: 100%;
        // height: 469px;
        box-shadow: $main-box-shadow;
        border-radius: 10px;
        cursor: pointer;
    }

    &__card {
        &--default {
            border-radius: 10px;
            // display: grid;
            transition: 0.3s ease-in;
            background: #fff;
        }

        &--back {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 424px;
            padding: 30px;
            text-align: center;
            position: relative;
            z-index: 80;
            background: #fff;
            border-radius: 10px;

            @media only screen and (min-width: 1025px) {
                min-height: 456px;
            }

            @media only screen and (min-width: 1280px) {
                min-height: 469px;
            }

            &:after {
                content: "";
                position: absolute;
                background-image: url(/images/rotate-icon.svg?d396570…);
                background-size: 100%;
                background-repeat: no-repeat;
                height: 27px;
                width: 27px;
                right: 10px;
                top: 10px;
            }
        }
    }

    &__card-top-bg {
        // height: 139px;
        height: 126px;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        cursor: pointer;
        z-index: 5;
        // background-color: #00A3A4;
        &:after {
            content: "";
            position: absolute;
            background-image: url(/images/rotate-icon.svg?d396570…);
            background-size: 100%;
            background-repeat: no-repeat;
            height: 27px;
            width: 27px;
            right: 10px;
            top: 10px;
        }

        &--no-flip-icon {
            &:after {
                content: "";
                display: none;
            }
        }

        @media only screen and (min-width: 1280px) {
            height: 139px;
        }

        // &--0 {
        //     background-color: #00A3A4;
        // }

        // &--1 {
        //     background-color: #FAC23D;
        // }

        // &--2 {
        //     background-color: #3D3D3D;
        // }

        // &--3 {
        //     background-color: #E9E9E9;
        // }

        // &--4 {
        //     background-color: #3C7CC7;
        // }

        // &--5 {
        //     background-color: #9242D1;
        // }
    }

    &__card-img-bg {
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: auto;
        max-width: 264px;
        margin-top: -1px;

        @media only screen and (min-width: 1025px) {
            max-width: 292px;
        }
    }

    &__progress-decoration {
        display: inline-block;
        width: 100%;
        height: 6px;
        border-radius: 10px;
    }
}
