// Current simple titles
.page-title {
    font-family: $montserrat-bold;
    font-size: 22px;
    color: $color-text;

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1280px) {
        font-size: 40px;
    }
}

.page-subtitle {
    font-family: $montserrat-bold;
    font-size: 22px;
    font-weight: 700;
    color: $color-text;

    @media only screen and (min-width: 1025px) {
        font-size: 30px;
    }

    &__padding {
        padding: 0 16px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }
}

.page-subtitle-h3 {
    font-family: $roboto-medium;
    font-weight: 500;
    font-size: 18px;
    color: $color-text;

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1025px) {
        font-size: 24px;
    }
}
