.top-panel-links {
    &__list {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0 16px;
        min-height: 110px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 1 175px;
        min-width: 175px;
        justify-content: center;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            .top-panel-links__title {
                color: $color-active;
            }
        }
    }

    &__img {
        width: 70px;
        height: 70px;

        @media only screen and (min-width: 1280px) {
            width: 80px;
            height: 80px;
        }
    }

    &__title {
        margin-top: 10px;
        font-family: $roboto-medium;
        font-weight: 500;
        font-size: 14px;
        color: $color-text;
        transition: 0.2s ease-in;
        text-align: center;
        white-space: nowrap;

        @media only screen and (min-width: 768px) {
            font-size: 16px;
        }

        @media only screen and (min-width: 1280px) {
            font-size: 18px;
        }
    }
}
