.tv-inet {
    &__wrapper {
        // max-width: 1120px;
        // margin-bottom: 120px;
        // margin-top: 94px;
    }

    &__page-title {
        // margin-top: 94px;
    }

    &__page-subtitle {
        margin-top: 146px;
    }

    &__cards {
        margin-top: 54px;
        margin-bottom: 25px;
        user-select: none;
        position: relative;

        &--more-four {
            .slick-arrow.slick-next {
                background: #000;
            }
        }

        &--less-four {
            display: flex;
            justify-content: space-between;

            .slick-arrow.slick-next {
                background: transparent;
            }
        }
    }

    &__card {
        outline: none;
        min-height: 464px;
    }

    &__card-wrapper {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    }

    &__decor-block {
        position: relative;
    }

    &__main-decor-img {
        width: 100%;
    }

    &__rectangle-decor-img {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &__progress-decor-img {
        position: absolute;
        z-index: 20;
        bottom: 0;
        transform: translate(0, 0);
        left: 0;
        width: 100%;
    }

    &__speed {
        position: absolute;
        z-index: 30;
        font-family: $roboto-regular;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%);
        font-size: 16px;
        color: #fff;
        text-align: center;
    }

    &__border-decor-img {
        position: absolute;
        z-index: 25;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60%;
    }

    &__price-block {
        background: #fff;
        padding-bottom: 29px;
        padding-top: 21px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &__note {
        font-family: $roboto-light;
        font-weight: 300;
        font-size: 13px;
        color: $color-text;
        text-decoration: underline;
        text-align: center;
        padding: 0 0 29px 0;
    }

    &__devider {
        border-top: 2px dotted $color-text;
        max-width: 107px;
        display: block;
        margin: 0px auto;
    }

    &__discounds {
        font-size: 14px;
        font-weight: 400;
        font-family: $roboto-bold;
        color: $color-text;
        text-align: center;
        padding: 17px 0;
    }

    &__next-btn {
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        cursor: pointer;
        width: 50px;
        height: 50px;
        left: 100%;

        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/tv-inet/slide-arrow-right.svg");
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
        }
    }

    &__bonuses {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__bonuse-img {
        max-width: 14px;
        align-self: flex-start;
    }

    &__bonuse-text {
        margin-left: 11px;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 300;
        font-family: $roboto-light;
    }

    &__price {
        font-family: $roboto-medium;
        font-size: 38px;
        font-weight: 900;
        color: $color-text;
        text-align: center;
        margin-top: 35px;
    }

    &__price-unit {
        font-size: 18px;
        font-weight: 500;
    }

    &__connect {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 23px;
    }

    &__text-under-tabs {
        font-family: $roboto-regular;
        color: $color-text;
        font-weight: 400;
        font-size: 14px;
        border: 1px dashed $color-text;
        border-radius: 40px;
        padding: 12px;
        padding-left: 47px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-image: url("../../images/ip-icon.svg");
            background-size: 100%;
            background-repeat: no-repeat;
            width: 20px;
            height: 30px;
            left: 20px;
        }
    }

    &__text-under-tabs-inner {
        display: block;
    }

    &__simple-connect {
        background: #fff;
        padding: 105px 0 105px 0;
    }

    &-connect__page-subtitle {
        // padding-top: 106px;
    }

    &__list-steps {
        display: flex;
        justify-content: space-between;
        margin-top: 87px;
    }

    &__item-step {
        flex: 0 1 238px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        font-family: $roboto-regular;
        color: $color-text;
    }

    &__item-img-wrap {
        position: relative;
    }

    &__item-number {
        position: absolute;
        left: 5px;
        transform: translate(-10px, -6px);
        width: 22px;
        height: 22px;
        padding: 2px;
        border-radius: 50px;
        background: rgba(0, 163, 164, 0.8);
        font-family: "RobotoSlab-Bold", sans-serif;
        font-weight: 800;
        font-size: 16px;
        color: #f8f8f8;
    }

    &__item-img {
    }

    &__step-title {
        margin-top: 23px;
    }

    &__step-dedcription {
        margin-top: 5px;
    }

    &__combined-packages {
        background: #f8f8f8;
        padding: 106px 0 116px 0;
        position: relative;
        overflow-x: hidden;

        &:after {
            content: "";
            position: absolute;
            background-image: url("../../images/paper-plane.png");
            background-size: 100%;
            width: 292px;
            height: 241px;
            top: 50%;
            left: 100%;
            transform: translate(-60%, -50%);
        }
    }

    &__combined-packages-description {
        font-family: $roboto-regular;
        font-weight: 400;
        font-size: 18px;
        color: $color-text;
        margin-left: 62px;
        margin-top: 70px;
    }

    &__combined-packages-p1 {
    }

    &__combined-packages-p2 {
        margin-top: 20px;
    }

    .tabset__tabs {
        padding: 0 0 0 16px;
        overflow-x: scroll;
        height: 36px;

        @media only screen and (min-width: 768px) {
            padding: 0 32px;
            overflow-x: initial;
            height: initial;
        }

        @media only screen and (min-width: 1366px) {
            padding: initial;
        }
    }

    .tabset__tab-list {
        width: fit-content;
        // column-gap: 30px;

        @media only screen and (min-width: 426px) {
            width: initial;
        }

        // @media only screen and (min-width: 1025px) {
        //     column-gap: 50px;
        // }

        // &--ios {
        //     column-gap: initial;
        // }
    }

    .tabset__tab-title {
        white-space: nowrap;

        @media only screen and (min-width: 768px) {
            white-space: initial;
        }
    }
}

.slider.variable-width {
    // width: 1144px;
}
