.section__usloviya {
    margin-top: 30px;

    a {
        color: #00a3a4;
        text-decoration: none;
        transition: 0.3s ease-in;

        &:hover {
            color: #00bebf;
            text-decoration: underline;
        }
    }

    @media only screen and (min-width: 1025px) {
    }
}

.usloviya {
    margin-top: 30px;

    &__page-title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 30px;

        @media only screen and (min-width: 768px) {
        }

        @media only screen and (min-width: 1025px) {
            font-size: 40px;
            line-height: 49px;
        }

        @media only screen and (min-width: 1025px) {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        @media only screen and (min-width: 1360px) {
        }
    }

    &-section {
        font-size: 16px;
        line-height: 24px;
        padding: 25px;
        margin-bottom: 70px;
        box-shadow: $main-box-shadow;
        border-radius: 10px;

        @media only screen and (min-width: 1025px) {
            padding: 45px;
            margin-bottom: 100px;
        }
    }

    &__description {
        pre {
            white-space: initial;
            font-family: $roboto-regular;
            font-size: 16px;
            font-weight: 400;
            color: $color-text;
        }
    }
}
