$roboto-medium: "Roboto-Medium", sans-serif;
$roboto-regular: "Roboto-Regular", sans-serif;
$roboto-bold: "Roboto-Bold", sans-serif;
$roboto-light: "Roboto-Light", sans-serif;
$roboto-thin: "Roboto-Thin", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;

$color-text: #424242;
$second-text: #b8b8b8;
$color-active: #00a3a4;
$color-error: #f44336;

$main-box-shadow: 0px 2.76474px 23.2298px rgba(0, 0, 0, 0.0417275),
    0px 1.56844px 13.0224px rgba(0, 0, 0, 0.035),
    0px 0.850758px 6.91611px rgba(0, 0, 0, 0.0282725),
    0px 0.362474px 2.87795px rgba(0, 0, 0, 0.0196802);
