.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    /*max-width: 600px;*/
    list-style: none;
    line-height: 20px;
}
.cats-filters .col-xs-2 {
    overflow: hidden;
}
.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd-list .dd-list {
    padding-left: 30px;
}
.dd-collapsed .dd-list {
    display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}
.dd-handle,
.dd2-content {
    display: block;
    min-height: 38px;
    margin: 5px 0;
    padding: 8px 12px;
    background: #F8FAFF;
    border: 1px solid #DAE2EA;
    color: #7C9EB2;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dd-handle:hover,
.dd2-content:hover {
    color: #438EB9;
    background: #F4F6F7;
    border-color: #DCE2E8;
}
.dd-handle[class*="btn-"],
.dd2-content[class*="btn-"] {
    color: #FFF;
    border: none;
    padding: 9px 12px;
}
.dd-handle[class*="btn-"]:hover,
.dd2-content[class*="btn-"]:hover {
    opacity: 0.85;
    color: #FFF;
}
.dd2-handle + .dd2-content,
.dd2-handle + .dd2-content[class*="btn-"] {
    padding-left: 44px;
}
.dd-handle[class*="btn-"]:hover,
.dd2-content[class*="btn-"] .dd2-handle[class*="btn-"]:hover + .dd2-content[class*="btn-"] {
    color: #FFF;
}
.dd-item > button:hover ~ .dd-handle,
.dd-item > button:hover ~ .dd2-content {
    color: #438EB9;
    background: #F4F6F7;
    border-color: #DCE2E8;
}
.dd-item > button:hover ~ .dd-handle[class*="btn-"],
.dd-item > button:hover ~ .dd2-content[class*="btn-"] {
    opacity: 0.85;
    color: #FFF;
}
.dd2-handle:hover ~ .dd2-content {
    color: #438EB9;
    background: #F4F6F7;
    border-color: #DCE2E8;
}
.dd2-handle:hover ~ .dd2-content[class*="btn-"] {
    opacity: 0.85;
    color: #FFF;
}
.dd2-item.dd-item > button {
    margin-left: 34px;
}
.dd-item > button {
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 1px 5px 5px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    top: 4px;
    left: 1px;
    color: #707070;
}
.dd-item > button:before {
    font-family: FontAwesome;
    content: '\f067';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
    font-weight: normal;
    font-size: 14px;
}
.dd-item > button[data-action="collapse"]:before {
    content: '\f068';
}
.dd-item > button:hover {
    color: #707070;
}
.dd-item.dd-colored > button,
.dd-item.dd-colored > button:hover {
    color: #EEE;
}
.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #F0F9FF;
    border: 2px dashed #BED2DB;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dd-empty {
    border-color: #AAA;
    border-style: solid;
    background-color: #e5e5e5;
}
.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: 0.8;
}
.dd-dragel > li > .dd-handle {
    color: #4B92BE;
    background: #F1F5FA;
    border-color: #D6E1EA;
    border-left: 2px solid #777;
    position: relative;
}
.dd-dragel > li > .dd-handle[class*="btn-"] {
    color: #FFF;
}
.dd-dragel > .dd-item > .dd-handle {
    margin-top: 0;
}
.dd-list > li[class*="item-"] {
    border-width: 0;
    padding: 0;
}
.dd-list > li[class*="item-"] > .dd-handle {
    border-left: 2px solid;
    border-left-color: inherit;
}
.dd-list > li > .dd-handle .sticker {
    position: absolute;
    right: 0;
    top: 0;
}
.dd2-handle,
.dd-dragel > li > .dd2-handle {
    left: 0;
    top: 0;
    width: 36px;
    margin: 0;
    border-width: 1px 1px 0 0;
    text-align: center;
    padding: 0 !important;
    line-height: 38px;
    height: 38px;
    background: #EBEDF2;
    border: 1px solid #DEE4EA;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.dd2-handle:hover,
.dd-dragel > li > .dd2-handle {
    background: #E3E8ED;
}
.dd2-content[class*="btn-"] {
    text-shadow: none !important;
}
.dd2-handle[class*="btn-"] {
    text-shadow: none !important;
    background: rgba(0, 0, 0, 0.1) !important;
    border-right: 1px solid #EEE;
}
.dd2-handle[class*="btn-"]:hover {
    background: rgba(0, 0, 0, 0.08) !important;
}
.dd-dragel .dd2-handle[class*="btn-"] {
    border-color: transparent;
    border-right-color: #EEE;
}
.dd2-handle.btn-yellow {
    text-shadow: none !important;
    background: rgba(0, 0, 0, 0.05) !important;
    border-right: 1px solid #FFF;
}
.dd2-handle.btn-yellow:hover {
    background: rgba(0, 0, 0, 0.08) !important;
}
.dd-dragel .dd2-handle.btn-yellow {
    border-color: transparent;
    border-right-color: #FFF;
}
.dd-item > .dd2-handle .drag-icon {
    display: none;
}
.dd-dragel > .dd-item > .dd2-handle .drag-icon {
    display: inline;
}
.dd-dragel > .dd-item > .dd2-handle .normal-icon {
    display: none;
}
.dropzone {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.dropzone .dz-default.dz-message {
    background-image: none;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    left: 0;
    width: 100%;
    margin-left: auto;
}
.dropzone .dz-default.dz-message span {
    display: inline;
    color: #555;
}
.dropzone .dz-default.dz-message span .upload-icon {
    opacity: 0.7;
    filter: alpha(opacity=70);
    margin-top: 8px;
    cursor: pointer;
}
.dropzone .dz-default.dz-message span .upload-icon:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
}
.dropzone .dz-preview .dz-error-mark:before,
.dropzone-previews .dz-preview .dz-error-mark:before {
    font-family: FontAwesome;
    font-size: 30px;
    color: #DB6262;
    content: "\f00d";
}
.dropzone .dz-preview .dz-success-mark:before,
.dropzone-previews .dz-preview .dz-success-mark:before {
    font-family: FontAwesome;
    font-size: 30px;
    color: #6DA552;
    content: "\f00c";
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
    border: none;
    border-radius: 0;
    color: #FFF;
    background: #D15B47;
    cursor: pointer;
}
.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover {
    color: #FFF;
    background: #B74635;
}
.dropzone .progress,
.dropzone-previews .progress {
    margin-bottom: 0;
}
.dropzone .dz-preview.dz-success .progress,
.dropzone-previews .dz-preview.dz-success .progress,
.dropzone .dz-preview.dz-error .progress,
.dropzone-previews .dz-preview.dz-error .progress {
    display: none;
}


.toggle-btn {
    width: 80px;
    height: 40px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==') no-repeat 50px center #e74c3c;
    cursor: pointer;
    -webkit-transition: background-color .40s ease-in-out;
    -moz-transition: background-color .40s ease-in-out;
    -o-transition: background-color .40s ease-in-out;
    transition: background-color .40s ease-in-out;
    cursor: pointer;
}
.toggle-btn.active {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC') no-repeat 10px center #2ecc71;
}
.toggle-btn.active  .round-btn{
    left: 45px;
}
.round-btn{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}
.cb-value{
    position: absolute;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor:pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.toggle-label{
    display: inline-block;
    position: relative;
    top: -24px;
}
.btn-make-slug{
    float: right;
}


.prop-hidden{
    display:none;
}
.list-group li{
    text-decoration: none;
    list-style: none;
}
.list-group-item{
    text-decoration: none;
    list-style: none;
}